.promotions_listByType{ background-color:#fff; height:490px;  border-bottom:1px solid #dddddd; }
.p_l_head{height:100px; line-height:100px; width:730px; margin-left:20px; display:block; color:#caadad;}
.p_l_head img{float:left; margin-top:10px; margin-right:15px;}

.promotions_list{width:680px; height:370px;  padding-left:70px;  padding-top:10px;  overflow-x:scroll;}
.promotions_info{  box-shadow: 0 0 10px rgba(0,0,0,0.35); height:340px; width:600px; margin-right:45px; float:left; }
.promotions_info_h{ width:600px; height:64px;  line-height:64px; }
.promotions_info_title{float:left; margin-left:10px; width:400px; height:64px; overflow:hidden;}
.promotions_info_img{height:276px;
  >img{
    width: 100%;
    height: 100%;
  }
}
.promotions_info_t{float:right;  margin-right:10px; color:#808080;}

.promotions_tab_type{ height: 95px; width: 750px; background-color: #ebf4f9; overflow:scroll;  border-bottom: 1px solid #dddddd;     position: fixed; left: 0px;top: 90px;  }
.promotions_type_bt { color:#000; padding:0px 40px; height: 93px; line-height: 95px; text-align: center; float:left;}
.bt_select{ border-bottom: 2px solid rgb(0,153,255); color: rgb(0,153,255);}
.promotions_tab_zhedang{ width:72px; height:95px; position:fixed; background:url(/static/images/promotions_tab_zhedang.png); left:678px; top:90px; }

.promotionsbytype_list_rows{background-color:#fff; height:350px;padding-top:40px;   }
.promotionsbytype_list_rows_img{ float:left; padding-left:20px; padding-right:20px; }
.m_pop{ width:750px; height:100%;z-index: 998;position: fixed; top: 0; left: 0; background: #fff; }
.m_pop{
  .detailmain{
    width:750px; position:fixed; height:100%;margin: 0; padding:0;
  }
  .close{
    width: 89px;
    height: 144px;
    background:url(/static/images/ico/turn_off.png) no-repeat 1px 59px;
    position: absolute;
    top: -60px;
    right: 0px;
    background-size: cover;
  }
  img:first-child  { width:750px; }
  *{line-height: 28px;}
  p{ margin: 0; padding:0;}
}
