[headid="bankCard"] {
  #more_func, .foot_menu {
    display: none;
  }

  .not_bind_car {
    height: 240px;
    text-align: left;
    width: 730px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  // 添加银行卡
  .add_car {
    p {
      width: auto;
      font-size: 2rem;
      margin: 4px;
      color: white;
    }
    .bank_cname {

      margin-left: 130px;
    }
    .bank_ename {
      .bank_cname;
    }
    .card_no {
      .bank_cname;
      position: relative;
      top: 146px;
      left: 101px;
    }
  }
  // 银行卡 列表

  .bankinfo {
    padding: 10px 20px;
    .red;
    font-size: 25px;
  }
  // 默认银行
  .add_car {
    background: url(/static/images/bank/bank_11.png) no-repeat;
    background-size: cover;
  }
  // bank
  .ICBC, .icbc {
    background: url(/static/images/bank/bank_icbc.png) no-repeat;
    background-size: cover;
  }

  .CNMB, .cnmb {
    background: url(/static/images/bank/bank_icbc.png) no-repeat;
    background-size: cover;
  }
  .ABC, .abc {
    background: url(/static/images/bank/bank_abc.png) no-repeat;
    background-size: cover;
  }
  .CCB, .ccb {
    background: url(/static/images/bank/bank_ccb.png) no-repeat;
    background-size: cover;
  }

  .bcm, .BCM {
    background: url(/static/images/bank/bank_bcm.png) no-repeat;
    background-size: cover;
  }
  .bob, .BOB {
    background: url(/static/images/bank/bank_bob.png) no-repeat;
    background-size: cover;
  }
  .boc, .BOC {
    background: url(/static/images/bank/bank_boc.png) no-repeat;
    background-size: cover;
  }
  .bos, .BOS {
    background: url(/static/images/bank/bank_bos.png) no-repeat;
    background-size: cover;
  }
  .ccb, .CCB {
    background: url(/static/images/bank/bank_ccb.png) no-repeat;
    background-size: cover;
  }
  .ceb, .CEB {
    background: url(/static/images/bank/bank_ceb.png) no-repeat;
    background-size: cover;
  }
  .cgb, .CGB {
    background: url(/static/images/bank/bank_cgb.png) no-repeat;
    background-size: cover;
  }
  .cib, .CIB {
    background: url(/static/images/bank/bank_cib.png) no-repeat;
    background-size: cover;
  }
  .cmb, .CMB {
    background: url(/static/images/bank/bank_cmb.png) no-repeat;
    background-size: cover;
  }
  .cmbc, .CMBC {
    background: url(/static/images/bank/bank_cmbc.png) no-repeat;
    background-size: cover;
  }
  .hxb, .HXB {
    background: url(/static/images/bank/bank_hxb.png) no-repeat;
    background-size: cover;
  }
  .icbc, .ICBC {
    background: url(/static/images/bank/bank_icbc.png) no-repeat;
    background-size: cover;
  }
  .pab, .PAB {
    background: url(/static/images/bank/bank_pab.png) no-repeat;
    background-size: cover;
  }
  .psbc, .PSBC {
    background: url(/static/images/bank/bank_psbc.png) no-repeat;
    background-size: cover;
  }
  .spdb, .SPDB {
    background: url(/static/images/bank/bank_spdb.png) no-repeat;
    background-size: cover;
  }
  .wxcb, .WXCB {
    background: url(/static/images/bank/bank_wxcb.png) no-repeat;
    background-size: cover;
  }
  .citic, .CITIC {
    background: url(/static/images/bank/bank_citic.png) no-repeat;
    background-size: cover;
  }
}

[headid="bankCardAdd"] {
  #more_func, .foot_menu {
    display: none;
  }
  .main_content {
    width: 750px;
  }
  .input_iosbox_title {
    width: 141px;
  }
  .input_ios {
    width: 550px;
    text-align: right;
  }
  .search_select_row {
    padding: 0;
    width: 200px;
    display: inline-block;
    float: right;

    background: transparent;
    img {
      margin-top: -70px;
    }

    select {
      background: transparent;
      width: 100%;
      height: 50px;
    }

  }

  #FirstName {
    width: 400px;
    .b1;
  }

}
