[headid="transfer"] {
  .title_bgblue {
    top: 20px;
  }
}

.content_memberInfo {
  width: 100%;
  height: 158px;
  color: black;
  display: block;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 35px;
}

.memberInfo_right {
  float: left;
  margin-top: 35px;
  margin-left: 10px;
  line-height: 45px;
  font-size: 24px;
}

.member_photo_blue {
  float: left;
  margin: 20px;
}

.memberInfo_jiantou {
  float: right;
  margin-top: 57px;
  margin-right: 10px;
}

.main_menurow_box {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  height: auto;
  margin-bottom: 30px;
  img {
    width: 58px;
    height: 58px;
  }
}

.emailinfo_box {
  width: 750px;
  height: 260px;
  text-align: center;
  line-height: 60px;
}

.emailinfo_box img {
  margin-top: 20px;
  margin-bottom: 10px;
}

.bankCrads_box {
  width: 690px;
  height: 255px;
  margin: 0px auto 30px;
  font-size: 26px;
  color: #fff;
  position: relative;
  background: url(/static/images/bank_list_bg.png) no-repeat;
}

.bankCrads_type {
  height: 150px;
  line-height: 150px;
}

.bankcars_number {
  margin: 10px auto auto 120px;
}

.bankfrom_tips {
  width: 710px;
  height: 90px;
  line-height: 90px;
  position: relative;
  padding-left: 40px;
}

.bank_type_icon_bg {
  height: 70px;
  height: 70px;
  float: left;
  margin: 40px 20px auto 30px;
  border-radius: 50%;
  background-color: #fff;
}

.bank_type_icon {
  width: 40px;
  height: 40px;
  background: url(/static/images/bank38.png) no-repeat;
  margin: 15px;
}

#BDay {
  height: 50px;
  border: 0px;
  padding-top: 21px;
  padding-bottom: 21px;
  width: 160px;
  outline: none;
}

#add_bankcard {
  float: right;
  display: block;
  color: #fff;
  font-size: 45px;
  position: absolute;
  right: 30px;
  top: 0px;
}

#add_bankcard_bt_long {
  width: 100%;
  height: 164px;
  padding: 20px 0;
  display: block;
  border-bottom: 1px solid #dddddd;
  font-size: 24px;
  border-top: 1px solid #dddddd;
  text-align: center;
  color: white;
  background: #2C8EEB;
  img {
    height: 80px;
    display: block;
    margin: 10px auto;
  }
  span {
    margin-top: 20px;
    display: block;
  }
}

.bankCrads_del {
  height: 24px;
  width: 24px;
  padding: 12px;
  background: url(/static/images/close_xx.png) no-repeat 12px 12px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.title_bgblue {
  width: 8px;
  height: 27px;
  position: absolute;
  left: 20px;
  top: 32px;
  background-color: rgb(0, 153, 255);
}

.HistoryTotal_box {
  height: 100px;
  width: 100%;
  line-height: 100px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 30px;
  text-align: center;
  &.record0{
    border: 0;
  }
}

.record0{
  .HistoryTotal_c{
    width: 100%;
    color: #0099ff;
  }
}
// 交易记录有使用
.HistoryList {
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  width: 100%;
  /*  padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;*/
  background-color: #fff;
}

.HistoryList_row {
  height: 50px;
  line-height: 50px;
}

.HistoryList_row_l {
  float: left;
  display: block;
  color: #666666;
  text-align: right;
  width: 140px;
}

.HistoryList_row_r {
  float: left;
  margin-left: 30px;
}

.colorred {
  color: red;
}

.colorblue {
  color: rgb(0, 153, 255);
}

.HistoryTotal_l {
  width: 220px;
  margin-left: 30px;
  float: left;
  text-align: left;
}

.HistoryTotal_c {
  width: 250px;
  float: left;
  text-align: center;
}

.HistoryTotal_r {
  width: 220px;
  float: left;
  text-align: right;
}

[headid="/wap/memberCenter/management"] {
  .real_name {
    margin-top: 9px;
  }
  .input_iosbox.active {
    background: #cccdd0;
  }
}

[headid="transferRecord"]{
  #more_func, .foot_menu {
    .hide
  }
  #footer {
    .hide
  }
}
