[headid="pt"],[headid="mg"] ,[headid="dt"],[headid="ttg"] {
  #more_func, .foot_menu {
    .hide
  }
  #footer {
    .hide
  }

}
  .gameList {
    border-bottom: .0625rem solid #d9dcdf;
    border-right: .0625rem solid #d9dcdf;
    transition: all .3s ease;
    background: #fff;
    margin-top: 1px;
    display: block;
    float: left;
    height: 171px;
    width: 186px;
    text-align: center;
    .gameImg {
      height: 90px;
      width: 90px;
      margin: 4px auto;
      img {
        height: 100%;
        margin: 0 auto;

      }
    }
    span {
      margin: 0 auto;
      height: 30px;
      text-align: center;
    }
  }
  .egame_dev {
    width: 100%;
  }

