[headid="login"] {
  .head_title,#more_func,.foot_menu {
    .hide
  }
  #footer {
    .hide
  }
  .mobile_login_from{
    padding: 0 30px;

  }
  .input_iosbox{
    border-radius: 55px;
  }
  .input_ios{
    width: 520px;
  }
  .mobile_login_logo {
    height: 380px;
    width: 100%;
    text-align: center;
  }
  .mobile_login_logo img {
    margin-top: 80px;
    height: 200px;
  }
  .mobile_login_fromfoot {
    width: 100%;

    text-align: right;
    position: relative;
    top: 22px;
  }

  .mobile_login_fromfoot div {
    width: 98%;

  }

  #forgetPassword {
    color: #0099ff
  }
  .mobile_login_fromfoot_line {
    color: #cccccc;
  }

  .valcode {
    float: right;
    display: block;
    height: 90px;
    width: 179px;
    /* right: 0; */
    /* margin-bottom: -10px; */
    //border: 1px solid red;
    position: relative;
    top: -90px;
  }

  .reg{
    background-color: white;
    color: black;
     border: 1px solid #b7b4b4;
  }
  .goback{
    color: @blue1;
    text-align: center;
    padding-top: 20px;
    font-size: 26px;
  }
}

[pageid="login"] {
  padding: 0;
  #main {
    .wh100
  }
}

[headid="phoneRetrieve"]{
  .head_title,#more_func,.foot_menu {
    .hide
  }
  #footer {
    .hide
  }
  .mobile_login_logo {
    height: 380px;
    width: 100%;
    text-align: center;
  }
  .mobile_login_logo img {
    margin-top: 80px;
    height: 200px;
  }
}
