
.message_tab_menu {
  height: 100px;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 90px;
  width: 750px;
  border-bottom: 1px solid #dddddd;
  background-color: #ebf4f9;
}

.message_tab_box {
  float: left;
  height: 98px;
  color: #000;
  line-height: 100px;
  width: 148px;
  display: block;
  text-align: center;
  margin: 0px 50px 0px;
}

.tab_select {
  border-bottom: 2px solid rgb(0, 153, 255);
  color: rgb(0, 153, 255);
}

.message_tab_menu_line {
  float: left;
  width: 2px;
  height: 48px;
  margin-top: 26px;
  background-color: #dddddd;
}

.message_list {
  background-color: #fff;
  width: 750px;
 // margin-top: 190px;
}

.message_list_row {
  height: 90px;
  width: 720px;
  margin-right: 0px;
  margin-left: auto;
  border-bottom: 1px solid #dddddd;
}

.message_title {
  float: left;
}

.message_list_row_top {
  height: 90px;
  line-height: 90px;
}

.message_time {
  float: right;
  margin-right: 30px;
}

.message_resume {
  width: 100%;
  overflow: hidden;
  height: 40px;
}

.message_list .isread {
  color: #808080;
}

.message_from {
  width: 750px;
  margin-top: 190px;
  background-color: #ebf4f9;
}

.message_from_title {
  height: 70px;
  line-height: 70px;
  margin-left: 20px;
  width: 100px;
}

.textarea_iosbox {
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.mailwrite {
  height: 300px;
  width: 700px;
  border: 0px;
  outline: none;
}
