[headid="reg"] {
  .head_title, #more_func, .foot_menu {
    .hide
  }
  #footer {
    .hide
  }

  .mobile_login_logo {
    height: 300px;
    width: 100%;
    text-align: center;
  }
  .mobile_login_logo img {
    margin-top: 30px;
    height: 200px;
  }

  .mobile_login_fromfoot {
    width: 400px;
    margin: 0px auto;
  }

  .mobile_login_fromfoot div {
    float: left;
    width: 130px;
    text-align: center;
  }

  #forgetPassword {
    color: #666666;
  }
  .mobile_login_fromfoot_line {
    color: #cccccc;
  }
  .phonecode {
    width: 657px;
    input{
      width: 500px;
    }

  }
  .getcode{
    background-color: #0099ff;
    border-radius: 0 50px 50px 0;
    color: white;
    height: 84px;
    line-height: 78px;
    right: 1px;
    bottom: 219px;
    position: absolute;
    padding: 4px 10px;
    width: 166px;
    text-align: center;
  }
  .input_iosbox{
    margin-bottom: 26px;
  }
  // 错误提示代码
  .error_msg{
    height: 36px;
    line-height: 36px;
    /* padding-left: 20px; */
    position: relative;
    top: -14px;
    left: 126px;
    color: red;
  }
}
