#thirdGo {
  background: #202126;
  .wh100;

  .vbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 40%;
    height: auto;
  }
  .pacman {
    position: relative;
  }

}

[pageid="thirdParty"] {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  .wh100;
}
