<div id="integral"><!--顶部导航-->
    <ul class="navBox _navBox">
        <li data-nav="mall" class="col1 act">热门<br>推荐</li>
        <li data-nav="mall_chip" class="col2">筹码<br>兑换</li>
        <li data-nav="mall_goods" class="col3 hide">生活<br>服务</li>
        <li data-nav="mall_goods2" class="col4">实物<br>商品</li>
        <li data-nav="mall_integral" class="col5">兑换<br>查询</li>
        <li data-nav="mall_enquiries" class="col6">积分<br>攻略</li>
    </ul><!--内容区-->
    <ul class="contentBox _contentBox"><!--热门推荐-->
        <li id="mall" class="">
            <div class="cont1 _cont1"><h3>热门商品兑换 <a href="javascript:;" data-nav="mall_goods2">更多></a></h3>
                <div class="gd">
                    <div class="bdiv hide" data-name="article" name="submit"><img src="images/gd-1.jpg" alt="">
                        <button>> 兑换</button>
                    </div>
                    <div class="sdiv">
                        <div class="s1 as hide" data-name="article" name="submit"><img src="images/gd-2.jpg" alt="">
                            <button>> 兑换</button>
                        </div>
                        <div class="s2 as hide" data-name="article" name="submit"><img src="images/gd-2.jpg" alt="">
                            <button>> 兑换</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont2 _cont2"><h3>生活服务兑换 <a href="javascript:;" data-nav="mall_goods">更多></a></h3>
                <div class="gd">
                    <ul data-name="life1">
                        <li class="hide" name="submit"><img src="images/sh-1.jpg" alt="">
                            <button>> 兑换</button>
                        </li>
                        <li class="hide" name="submit"><img src="images/sh-2.jpg" alt="">
                            <div class="txt"><span><b>1600</b> 积分</span></div>
                        </li>
                        <li class="hide" name="submit"><img src="images/sh-3.jpg" alt="">
                            <button>> 兑换</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cont3 _cont3"><h3>筹码兑换 <a href="javascript:;" data-nav="chips">更多></a></h3>
                <div class="gd">
                    <ul data-name="chips">
                        <li class="hide" name="submit"><img src="images/sh-1.jpg" alt="">
                            <button>> 兑换</button>
                        </li>
                        <li class="hide" name="submit"><img src="images/sh-2.jpg" alt="">
                            <button>> 兑换</button>
                        </li>
                        <li class="hide" name="submit"><img src="images/sh-3.jpg" alt="">
                            <button>> 兑换</button>
                        </li>
                    </ul>
                </div>
            </div>
        </li><!--优惠兑换-->
        <li id="mall_chip" class="hide">
            <div class="list">
                <ul data-name="chips">
                    <li>
                        <div class="chip-img"><img src="images/chip1.png" alt=""></div>
                        <div class="txt"><h5>58元筹码</h5>
                            <div class="prdiv clerfix">
                                <div class="jf"><span>2860</span>积分</div>
                                <button>立即兑换</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="chip-img"><img src="images/chip2.png" alt=""></div>
                        <div class="txt"><h5>158元筹码</h5>
                            <div class="prdiv clerfix">
                                <div class="jf"><span>2860</span>积分</div>
                                <button>立即兑换</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="chip-img"><img src="images/chip3.png" alt=""></div>
                        <div class="txt"><h5>888元筹码</h5>
                            <div class="prdiv clerfix">
                                <div class="jf"><span>2860</span>积分</div>
                                <button>立即兑换</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="chip-img"><img src="images/chip4.png" alt=""></div>
                        <div class="txt"><h5>1588元筹码</h5>
                            <div class="prdiv clerfix">
                                <div class="jf"><span>2860</span>积分</div>
                                <button>立即兑换</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="chip-img"><img src="images/chip5.png" alt=""></div>
                        <div class="txt"><h5>8888元筹码</h5>
                            <div class="prdiv clerfix">
                                <div class="jf"><span>2860</span>积分</div>
                                <button>立即兑换</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li><!--生活服务-->
        <li id="mall_goods" class="hide">
            <div class="list">
                <ul data-name="goods"></ul>
            </div>
        </li><!--实物兑换-->
        <li id="mall_goods2" class="hide">
            <div class="list">
                <ul data-name="goods2"></ul>
            </div>
        </li><!--兑换查询-->
        <li id="mall_integral" class="hide"></li><!--积分攻略-->
        <li id="mall_enquiries" class="hide">
            <div class="cont1"><h3>积分攻略</h3>
                <div class="txt"><h4>什么是积分？</h4>
                    <p>积分是贝赢娱乐积分商城的一种通用货币，您可以使用积分兑换游戏筹码、优惠活动、生活服务、实物商品等。当您拥有贝赢账户，您将自动加入我们的忠诚奖励计划中。</p><h4>
                        简单快捷的赢取积分方式：</h4>
                    <p>充值10元即可获得1积分，会员等级越高，查询您的积分，请进入交易记录 - 兑换查询，积分不可转让给他人，会员不可将多个账户的积分进行累积。</p></div>
            </div>
            <div class="cont1"><h3>如何获得积分？ <span>（请参考积分对照表）</span></h3>
                <div class="tableBOx">
                    <table>
                        <thead>
                        <tr>
                            <th>会员等级</th>
                            <th>获取比例</th>
                            <th>积分获取例子</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>青铜会员</td>
                            <td>10:1.0</td>
                            <td>存款10元即可获得1.0积分单位</td>
                        </tr>
                        <tr>
                            <td>白银会员</td>
                            <td>10:1.1</td>
                            <td>存款10元即可获得1.1积分单位</td>
                        </tr>
                        <tr>
                            <td>黄金会员</td>
                            <td>10:1.2</td>
                            <td>存款10元即可获得1.2积分单位</td>
                        </tr>
                        <tr>
                            <td>钻石会员</td>
                            <td>10:1.3</td>
                            <td>存款10元即可获得1.3积分单位</td>
                        </tr>
                        <tr>
                            <td>自尊会员</td>
                            <td>10:1.5</td>
                            <td>存款10元即可获得1.5积分单位</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="cont1"><h3>积分条款：</h3>
                <div class="txt"><p>1.积分不可转让给他人，会员不可将多个账户的积分进行累积。</p>
                    <p>2.兑换现金筹码将会在30分钟内兑换成功，现金筹码将自动进入中心钱包。</p>
                    <p>3.实物兑换需要人工审核，自申请时起，工作人员将在一个工作日内进行受理确认兑换礼品和收货地址。</p>
                    <p>4.当您的申请不符合贝赢的条款和规定,积分兑换将会被取消。取消后,您的积分将会自动返回到积分钱包。</p>
                    <p>5.兑换的现金筹码需完成相应的流水倍数方可提款。</p>
                    <p>
                        6.有效投注不包括所有视频扑克游戏，刮刮乐，基诺游戏，所有Pontoon游戏，各种Craps游戏，赌场战争游戏，娱乐场Hold'em游戏，牌九游戏，多旋转老虎机以及老虎机奖金翻倍投注。如投注此类任何游戏将取消申领资格，扣除所有红利以及赢利。</p>
                    <p>7.贝赢保留对本活动的最终解释权。</p></div>
            </div>
        </li>
    </ul><!--生活服务-->
    <div class="goods _goods">
        <form id="goodsForm" onsubmit="return false">
            <div class="content">
                <div class="header"><h3>礼品兑换申请</h3><span class="close _close"><img src="images/message/close.png"
                                                                                   alt=""></span></div>
                <div class="formContent">
                    <ul class="hide _mobile">
                        <li class="clerfix"><i>*</i> <span>选择所在省</span> <span class="address" name="address">选择省</span>
                            <div class="province _province hide">
                                <ul data-name="provinceList">
                                    <li data-value="北京">北京市</li>
                                    <li data-value="浙江省">浙江省</li>
                                    <li data-value="天津市">天津市</li>
                                    <li data-value="安徽省">安徽省</li>
                                    <li data-value="上海市">上海市</li>
                                    <li data-value="福建省">福建省</li>
                                    <li data-value="重庆市">重庆市</li>
                                    <li data-value="江西省">江西省</li>
                                    <li data-value="山东省">山东省</li>
                                    <li data-value="河南省">河南省</li>
                                    <li data-value="湖北省">湖北省</li>
                                    <li data-value="湖南省">湖南省</li>
                                    <li data-value="广东省">广东省</li>
                                    <li data-value="海南省">海南省</li>
                                    <li data-value="山西省">山西省</li>
                                    <li data-value="青海省">青海省</li>
                                    <li data-value="江苏省">江苏省</li>
                                    <li data-value="辽宁省">辽宁省</li>
                                    <li data-value="吉林省">吉林省</li>
                                    <li data-value="台湾省">台湾省</li>
                                    <li data-value="河北省">河北省</li>
                                    <li data-value="贵州省">贵州省</li>
                                    <li data-value="四川省">四川省</li>
                                    <li data-value="云南省">云南省</li>
                                    <li data-value="陕西省">陕西省</li>
                                    <li data-value="甘肃省">甘肃省</li>
                                    <li data-value="黑龙江省">黑龙江省</li>
                                    <li data-value="香港特别行政区">香港特别行政区</li>
                                    <li data-value="澳门特别行政区">澳门特别行政区</li>
                                    <li data-value="广西壮族自治区">广西壮族自治区</li>
                                    <li data-value="宁夏回族自治区">宁夏回族自治区</li>
                                    <li data-value="新疆维吾尔自治区">新疆维吾尔自治区</li>
                                    <li data-value="内蒙古自治区">内蒙古自治区</li>
                                    <li data-value="西藏自治区">西藏自治区</li>
                                </ul>
                            </div>
                        </li>
                        <li class="clerfix"><i>*</i><span>输入手机号</span><input type="text" name="mobile"
                                                                             placeholder="请输入您的手机号"></li>
                        <li class="clerfix"><i>*</i><span>确认手机号</span><input type="text" name="mobileConfirm"
                                                                             placeholder="请再次输入您的手机号"></li>
                    </ul>
                    <ul class="_QQ">
                        <li class="clerfix"><i>*</i><span>输入QQ号</span><input type="text" name="Qq"
                                                                             placeholder="请输入您的QQ号"></li>
                        <li class="clerfix"><i>*</i><span>确认QQ号</span><input type="text" name="QqConfirm"
                                                                             placeholder="请再次输入您的QQ号"></li>
                    </ul>
                </div>
                <div class="submit">
                    <button name="submit">提交申请</button>
                </div>
            </div>
        </form>
    </div><!--实物商品兑换-->
    <div class="goods2 _goods2">
        <form id="goods2Form" onsubmit="return false">
            <div class="content">
                <div class="header"><h3>礼品兑换申请</h3><span class="close _close"><img src="images/message/close.png"
                                                                                   alt=""></span></div>
                <div class="formContent">
                    <ul>
                        <li class="clerfix"><i>*</i><span>兑换数量</span><input type="text" name="quantity"
                                                                            placeholder="数量"></li>
                        <li class="clerfix"><i>*</i> <span>选择所在省</span> <span class="address" name="address">选择省</span>
                            <div class="province _province hide">
                                <ul data-name="provinceList">
                                    <li data-value="北京">北京市</li>
                                    <li data-value="浙江省">浙江省</li>
                                    <li data-value="天津市">天津市</li>
                                    <li data-value="安徽省">安徽省</li>
                                    <li data-value="上海市">上海市</li>
                                    <li data-value="福建省">福建省</li>
                                    <li data-value="重庆市">重庆市</li>
                                    <li data-value="江西省">江西省</li>
                                    <li data-value="山东省">山东省</li>
                                    <li data-value="河南省">河南省</li>
                                    <li data-value="湖北省">湖北省</li>
                                    <li data-value="湖南省">湖南省</li>
                                    <li data-value="广东省">广东省</li>
                                    <li data-value="海南省">海南省</li>
                                    <li data-value="山西省">山西省</li>
                                    <li data-value="青海省">青海省</li>
                                    <li data-value="江苏省">江苏省</li>
                                    <li data-value="辽宁省">辽宁省</li>
                                    <li data-value="吉林省">吉林省</li>
                                    <li data-value="台湾省">台湾省</li>
                                    <li data-value="河北省">河北省</li>
                                    <li data-value="贵州省">贵州省</li>
                                    <li data-value="四川省">四川省</li>
                                    <li data-value="云南省">云南省</li>
                                    <li data-value="陕西省">陕西省</li>
                                    <li data-value="甘肃省">甘肃省</li>
                                    <li data-value="黑龙江省">黑龙江省</li>
                                    <li data-value="香港特别行政区">香港特别行政区</li>
                                    <li data-value="澳门特别行政区">澳门特别行政区</li>
                                    <li data-value="广西壮族自治区">广西壮族自治区</li>
                                    <li data-value="宁夏回族自治区">宁夏回族自治区</li>
                                    <li data-value="新疆维吾尔自治区">新疆维吾尔自治区</li>
                                    <li data-value="内蒙古自治区">内蒙古自治区</li>
                                    <li data-value="西藏自治区">西藏自治区</li>
                                </ul>
                            </div>
                        </li>
                        <li class="clerfix"><textarea name="malladdress" type="" placeholder="请输入您的详细地址"></textarea>
                        </li>
                        <li class="clerfix"><i>*</i><span>真实姓名</span><input type="text" name="userName"
                                                                            placeholder="请输入您的真实姓名"></li>
                        <li class="clerfix"><i>*</i><span>手机号</span><input type="text" name="mobile"
                                                                           placeholder="请输入您的手机号"></li>
                    </ul>
                </div>
                <div class="submit">
                    <button name="submit">提交申请</button>
                </div>
            </div>
        </form>
    </div>
</div>