<div id="login">
    <div class="bj"></div>
    <div class="contentBox"><!-- 头部-->
        <div class="header-s">
            <div class="menu" name="menuBtn"><a href="javascript:;" name="return"><span></span></a></div>
            <h1>账号登录</h1></div><!--内容 -->
        <div class="content"><h1 class="animated fadeInDownBig"><img src="images/logo/logo-login.png" alt=""></h1>
            <ul class="">
                <li>
                    <div class="shur _shur"><i><img src="images/ico/user1.png" alt=""></i><input type="text"
                                                                                                 placeholder="请输入账号"
                                                                                                 name="account"
                                                                                                 autocomplete="off"
                                                                                                 style="background: transparent">
                        <i class="status _status"></i></div>
                </li>
                <li>
                    <div class="shur"><i><img src="images/ico/password.png" alt=""></i><input type="password"
                                                                                              placeholder="请输入密码"
                                                                                              name="password"
                                                                                              onpaste="return false"
                                                                                              autocomplete="off"></div>
                </li>
                <li>
                    <button name="submit" class="buttons">登录</button>
                    <button name="loading" class="loading hide">登录中<span class="tcg-loading"></span></button>
                </li>
            </ul>
            <div class="enr"><a href="javascript:;" page="enroll">注册账号</a></div>
            <div class="oa"><a href="javascript:;" page="forgetPassword">忘记密码？</a> <a
                    href="https://secure.livechatinc.com/licence/8454041/open_chat.cgi?groups=0"
                    target="_blank">联系客服</a></div>
        </div>
    </div>
</div>