<div class="shadown"></div>
<div class="SystemPrompt">
    <div class="title"><h2>温馨提示</h2>       <span class="close-sys" data-shutdown="shutDown"><img
            src="images/message/close.png" alt=""></span></div>
    <div class="cont"><img src="images/message/error.png" alt="">
        <p data-settext="text">请先登录或注册账号</p>
        <div class="buttonBox clerfix">
            <button id="message_OK" style="width: 2.46rem" data-status="confirm">确 定</button>
        </div>
    </div>
</div>