<template>
  <div>
    <div class="main_content">
      <div class="bankfrom_tips">
        <div class="title_bgblue"></div>
        选择投注类型
      </div>
      <div class="search_select_row">
        <select id="producttype" v-model="supplier" @change="keepVal()">
          <option :value="item.name" v-for="(item, index) in recordGame" :key="index">{{ item.name }}</option>
        </select>
        <img class="search_select_jiantou" src="/static/images/secbet_mobile_rg.png">
      </div>
      <div class="bankfrom_tips">
        <div class="title_bgblue"></div>
        选择时间
      </div>
      <div class="search_select_row">
        <select id="searcdate" v-model="searchDate" @change="keepVal()">
          <option value="1">今天</option>
          <option value="3">三天内</option>
          <option value="7">七天内</option>
          <option value="30">三十天内</option>
        </select>
        <img class="search_select_jiantou" src="/static/images/secbet_mobile_rg.png">
      </div>
    </div>
    <div id="searcbt" class="submit_blue_bt" @click="search()">查询</div>
  </div>
</template>
<script>
import { Authority, userID, searchDate } from "@/utils";
import * as types from "@/store/memberCenter/type";
/**
 *  游戏记录
 */
export default {
  name: "game",
  components: {},
  data() {
    return {
      supplier: '', //查询类型
      searchDate: '1' //查询时间
    };
  },
  computed: {
    recordGame() {
      if(!this.supplier) {

      }
      return this.$store.state.memberCenter.recordGame
    },
  },
  methods: {
        keepVal(){
          if(this.supplier)  localStorage.supplier = this.supplier
        if(this.searchDate) localStorage.searchDate = this.searchDate
        
      },
    search() {
      var $this = this
      // supplier=ttg
      var a = searchDate(this.searchDate)
      let param = window._.extend({ 'supplier': this.supplier }, a, userID())
      if (!param.supplier) {
        window.layer.msgWarn('选择投注类型为空', function() {})
      }
      console.log(param)
      $this.$router.push('/wap/recordGameList?supplier=' + $this.supplier + '&searchDate=' + $this.searchDate)
/*      this.loadData(param, function(res) {
      

      })*/
    },
    loadData(option = {}, cb = function() {}) {
      window.Loading.open()
      option = window._.extend(option, userID())
      // 請求 平臺列表
  
      this.$store.dispatch(types.RECORDGAME_ATION, option).then(res => {
        cb(res)
      })
    }
  },
  mounted() {
      let result = Authority(this, true)
      if (result) this.loadData()
    
    if(localStorage.supplier)  this.supplier = localStorage.supplier
    if(localStorage.searchDate) this.searchDate =  localStorage.searchDate
    
  }
};

</script>
