<template>
  <div>
    <div class="main_content">
      <div class="bankfrom_tips">
        <div class="title_bgblue"></div>
        选择交易类型
      </div>
      <div class="search_select_row">
        <select id="producttype" v-model="transferType" @change="keepVal()">
          <option value="deposit_list">存款</option>
          <option value="withdraw_list">提款</option>
          <option value="wallet_history_list">转账</option>
          <option value="my">优惠</option>
        </select>
        <img class="search_select_jiantou" src="/static/images/secbet_mobile_rg.png">
      </div>
      <div class="bankfrom_tips">
        <div class="title_bgblue"></div>
        选择时间
      </div>
      <div class="search_select_row">
        <select id="searcdate" v-model="searchDate" @change="keepVal()">
          <option value="0">今天</option>
          <option value="3">三天内</option>
          <option value="7">七天内</option>
          <option value="30">三十天内</option>
        </select>
        <img class="search_select_jiantou" src="/static/images/secbet_mobile_rg.png">
      </div>
    </div>
    <div id="searcbt" class="submit_blue_bt" @click="search()">查询</div>
  </div>
</template>
<script>
import { Authority, userID, searchDate } from "@/utils";
import * as types from "@/store/home/type";

export default {
  name: "record",
  components: {},
  data() {
    return {
      transferType: 'deposit_list', //查询类型 交易类型 dui
      searchDate: '0' //查询时间
    };
  },
  computed: {},
  methods: {
      keepVal(){
      if(this.transferType)  localStorage.transferType = this.transferType
      if(this.searchDate) localStorage.searchDate = this.searchDate
      
    },
    search() {
      let param = { 'transferType': this.transferType, 'searchDate': this.searchDate }
  
  
     this.$router.push('/wap/transferRecord?supplier='+ param.transferType +'&searchDate=' + param.searchDate)
  
/*
      this.$store.dispatch(types.GET_TRANSFER_RECORD, param).then(res => {
      
      })
      */
    },
    //
    loadData(option = {}, cb = function() {}) {
        // 準備跳轉走
    }
  },
  mounted() {
  let result = Authority(this, true)
 // if (result) this.loadData()
    // 授权
  //this.$nextTick(() => {
  if(localStorage.transferType) {
    this.$set(this,'transferType',localStorage.transferType)
    }
  if(localStorage.searchDate) this.searchDate =  localStorage.searchDate
//})

  
  }
};

</script>
