<template>
  <div class="form_main_content" >
    <div class="HistoryTotal_box record0" v-if="!page_count">
      <span class="HistoryTotal_c">暂无交易记录</span>
    </div>
    <mt-loadmore  :bottom-method="loadBottom" :bottom-all-loaded="allLoaded" :auto-fill="false"
       ref="loadmore"
    @bottom-status-change="handleBottomChange">

      <div class="HistoryList" v-for="(item, index) in recordGameList" :key="index" v-if="item">
            <div class="HistoryList_row">
              <span class="HistoryList_row_l">游戏名称:</span>
              <span class="HistoryList_row_r" v-if="item.game_cname">
                {{item.game_cname }}
              </span>
            </div>
            <div class="HistoryList_row">
              <span class="HistoryList_row_l">投注单号:</span>
              <span class="HistoryList_row_r">
                        {{item.id}}
              </span>
            </div>
            <div class="HistoryList_row">
              <span class="HistoryList_row_l">投注金额:</span>
              <span class="HistoryList_row_r red">
                {{item.amount}}
              </span>
            </div>
            <div class="HistoryList_row">
              <span class="HistoryList_row_l">赢得金额:</span>
              <span class="HistoryList_row_r" :class='{win: item.bonus*1 >0 , lost: item.bonus*1 <0 }'>
                {{item.bonus}}
              </span>
            </div>
            <div class="HistoryList_row hide">
              <span class="HistoryList_row_l">输赢金额:</span>
              <span class="HistoryList_row_r">
                {{item.status}}
              </span>
            </div>
            <div class="HistoryList_row betTime">
              <span class="HistoryList_row_l hide">日期:</span>
              <span class="HistoryList_row_r">
                {{item.deal_time}}
              </span>
            </div>
    </div>

  <div class="HistoryList addheight"></div>
  <!-- 头部 -->
  <div slot="top" class="mint-loadmore-top">
    <span v-show="topStatus !== 'loading'" :class="{ 'rotate': topStatus === 'drop' }">
    <i class="yo-icon icon-load-top"></i>
    <em>松开刷新....</em>
  </span>
  <mt-spinner color="#585252" :type="3" v-show="topStatus === 'loading'"></mt-spinner>
</div>
<div slot="bottom" class="mint-loadmore-bottom" style="display: block">
  <mt-spinner color="#585252" :type="3" v-show="bottomStatus === 'loading'"></mt-spinner>
</div>
</mt-loadmore>

</div>
</template>
<script>
import {Authority, userID, searchDate, delay} from "@/utils";
import * as types from "@/store/memberCenter/type";

export default {
  name: "",
  components: {},
  data() {
    return {
      page_count: 0, // 总页码
      page_index: 0, // 当前页码 分页
      topStatus: '',
      bottomStatus: '',
      divHeight: screen.height,
      limit: 6,
      allLoaded: false, //是否可以上拉属性，false可以上拉，true为禁止上拉，就是不让往上划加载数据了
      scrollMode:"auto" //移动端弹性滚动效果，touch为弹性滚动，auto是非弹性滚动
    };
  },
  computed: {
    recordGameList() {
      return this.$store.state.memberCenter.recordGameList
    }
  },
  methods: {
    checkBottomReached() {
      if (this.scrollEventTarget === window) {
        return document.body.scrollTop + document.documentElement.clientHeight >= document.body.scrollHeight;
      } else {
        return this.$el.getBoundingClientRect().bottom <= this.scrollEventTarget.getBoundingClientRect().bottom + 1;
      }
    },
   handleTopChange(status) {
      this.topStatus = status
    },
    handleBottomChange(status) {
      this.bottomStatus = status
    },
    loadTop() {
      // 暂时不操作
      //	this.allLoaded = false // 下拉加载后重置滑动加载
    },
    loadBottom() { // 下啦
      this.page_index +=1; // 加载更多
      this.loadData(1)
      this.$refs.loadmore.onBottomLoaded()

    },
    loadData(action) {
      let param = this.$route.query
      let $this = this
      
      let option = window._.extend(
        searchDate(param.searchDate),
        {supplier: param.supplier, limit: this.limit},
        userID());
      
      option.page_index = this.page_index
      // 之前已經有了請求 我？？ promotion/my.php
      this.$store.dispatch(types.RECORDGAME_ATION, option).then(res => {
        if (Number(res.no) === 0) { // 拿到数据
          $this.page_count = res.page_count
          if (!res.data) {
            console.log('数据已全部获取完毕')
            this.allLoaded = true
          }
          this.$nextTick(function () {
            // 原意是DOM更新循环结束时调用延迟回调函数，大意就是DOM元素在因为某些原因要进行修改就在这里写，要在修改某些数据后才能写，
            // 这里之所以加是因为有个坑，iphone在使用-webkit-overflow-scrolling属性，就是移动端弹性滚动效果时会屏蔽loadmore的上拉加载效果，
            // 花了好久才解决这个问题，就是用这个函数，意思就是先设置属性为auto，正常滑动，加载完数据后改成弹性滑动，安卓没有这个问题，移动端弹性滑动体验会更好
            this.scrollMode = "touch";
/*            $('.form_main_content').css(' -webkit-overflow-scrolling','touch')
            $('.form_main_content').css('height',screen.height)*/
          });
        }
        // 没有成功 放过
      })
    }
  },
  mounted() {
    $('.mobile_homebody_main').css('height',screen.height)
  //  $('.form_main_content').css('height',screen.height)
    let result = Authority(this, true)
    let param = this.$route.query
    this.$store.state.memberCenter.recordGameList = []
    if (result) this.loadData()

    this.$nextTick(() => {
      delay(() => {
        this.$store.state.home.title = ''
        this.$store.state.home.title = param.supplier + '电子-投注记录'
    //    $('.form_main_content').css('height',screen.height)
      }, 300)

  //    $('.form_main_content').css('height',screen.height)
    //  checkBottomReached()
    })
  }
};

</script>
