<template>
	<div class="form_main_content" style="width: 750px;">
    <div class="HistoryTotal_box record0" v-if="data0">
      <span class="HistoryTotal_c">暂无交易记录</span>
    </div>
    <div class="cashier_from_title payblue selectType" v-if="!data0 && (transferType == 'wallet_history_list') ">
        <span class="content">单据状态</span>
        <span :class="{'item_state_act': !transfer.status }" @click="transfer.status=''" class="item_state">全部</span>
        <!--<span ng-class="{'item_state_act':transfer.status=='canceled'}" ng-click="transfer.status='canceled'" class="item_state">取消</span>
		<span ng-class="{'item_state_act':transfer.status=='doing'}" ng-click="transfer.status='doing'" class="item_state">处理中</span>
		<span ng-class="{'item_state_act':transfer.status=='timeout'}" ng-click="transfer.status='timeout'" class="item_state">超时</span>-->
        <span :class="{'item_state_act':transfer.status=='failed'}" @click="transfer.status='failed'" class="item_state">失败</span>
        <span :class="{'item_state_act':transfer.status=='succ'}" @click="transfer.status='succ'" class="item_state">成功</span>
    </div>
    <div>
    </div>
    <mt-loadmore  :bottom-method="loadBottom" :bottom-all-loaded="allLoaded" :auto-fill="false"
    ref="loadmore"
    @bottom-status-change="handleBottomChange">
		<div class="HistoryList" v-for="(item, index) in transferRecord" :key="index">
    <div class="HistoryList_row" v-if="supplier != 'wallet_history_list'">
      <span class="HistoryList_row_l">{{supplier == 'my'?'优惠': ''}}单据:</span>
      <span class="HistoryList_row_r">
					{{item.id}}
				</span>
    </div>
    <div class="HistoryList_row" v-if="item.op_time">
      <span class="HistoryList_row_l">转账时间:</span>
      <span class="HistoryList_row_r">
        {{item.op_time}}
        </span>
    </div>
    <div class="HistoryList_row" v-if="item.w_from">
      <span class="HistoryList_row_l">从:</span>
      <span class="HistoryList_row_r">
        {{item.w_from}}
        </span>
    </div>
    <div class="HistoryList_row" v-if="item.w_to">
      <span class="HistoryList_row_l">至:</span>
      <span class="HistoryList_row_r">
        {{item.w_to}}
        </span>
    </div>
    <div class="HistoryList_row" v-if="item.activity_cname">
      <span class="HistoryList_row_l">优惠名字:</span>
      <span class="HistoryList_row_r red">
					{{item.activity_cname}}
				</span>
    </div>
    
    <div class="HistoryList_row" v-if="item.got_money">
      <span class="HistoryList_row_l">优惠金额:</span>
      <span class="HistoryList_row_r">
					{{item.got_money}}
				</span>
    </div>
    <div class="HistoryList_row" v-if="item.wanted_wager">
      <span class="HistoryList_row_l">所需流水:</span>
      <span class="HistoryList_row_r red">
					{{item.wanted_wager}}
				</span>
    </div>
    
    <div class="HistoryList_row" v-if="item.amount">
      <span class="HistoryList_row_l">金额:</span>
      <span class="HistoryList_row_r red">
					{{item.amount}}
				</span>
    </div>
    
    <div class="HistoryList_row" v-if="item.payway">
      <span class="HistoryList_row_l">存款方式:</span>
      <span class="HistoryList_row_r">
					{{ payZh[item.payway]?payZh[item.payway]:item.payway }}
				</span>
    </div>
    <div class="HistoryList_row" v-if="item.card_no">
      <span class="HistoryList_row_l">银行卡号:</span>
      <span class="HistoryList_row_r">
					{{ item.card_no }}
				</span>
    </div>
    <div class="HistoryList_row">
      <span class="HistoryList_row_l">状态:</span>
      <span class="HistoryList_row_r">
					{{history[item.status]}}
				</span>
    </div>
			<div class="HistoryList_row" v-if="item.apply_time">
				<span class="HistoryList_row_l">申请日期:</span>
				<span class="HistoryList_row_r">
					{{item.apply_time}}
				</span>
			</div>

		</div>
  <div class="HistoryList addheight"></div>
  <!-- 头部 -->
  <div slot="top" class="mint-loadmore-top">
    <span v-show="topStatus !== 'loading'" :class="{ 'rotate': topStatus === 'drop' }">
    <i class="yo-icon icon-load-top"></i>
    <em>松开刷新....</em>
  </span>
  <mt-spinner color="#585252" :type="3" v-show="topStatus === 'loading'"></mt-spinner>
</div>
<div slot="bottom" class="mint-loadmore-bottom" style="display: block">
  <mt-spinner color="#585252" :type="3" v-show="bottomStatus === 'loading'"></mt-spinner>
</div>
</mt-loadmore>
  
  
    </div>
</template>

<script>
import { Authority, userID, searchDate } from "@/utils";
import { history,payZh} from "@/config/zh";
export default {
  name: "",
  components: {},
  data() {
    return {
      transfer:{
        status: '' // 转账的状态 成功 失败 等等
      },
      transferType: '', // 当前转账的 类型
      data0: true, //　没有数据
      page_count: 0, // 总页码
      page_index: 0, // 当前页码 分页
      supplier: '', // 当前游戏类别
      history: history,
      payZh:payZh,
      topStatus: '',
      bottomStatus: '',
      divHeight: screen.height,
      limit: 200,
      allLoaded: false, //是否可以上拉属性，false可以上拉，true为禁止上拉，就是不让往上划加载数据了
    }
  },
  computed: {
	  transferRecord() {
		  return this.$store.state.home.transferRecord
	  }
  },
  methods: {
    handleTopChange(status) {
      this.topStatus = status
    },
    handleBottomChange(status) {
      this.bottomStatus = status
    },
    loadBottom() { // 下啦
      this.page_index +=1; // 加载更多
      this.loadData(1)
      this.$refs.loadmore.onBottomLoaded()
    
    },
    
    loadData(action) {
      let param = this.$route.query
      let $this = this
    
      let option = window._.extend(
        searchDate(param.searchDate),
        {supplier: param.supplier, limit: this.limit},
        userID());

      option.page_index = this.page_index
      this.supplier = option.supplier
      this.$store.dispatch('transferRecord.action', option).then(res => {
        if (Number(res.no) === 0) { // 拿到数据
          // 目前补分页
          $this.page_count = res.page_count
          if(res.data.length>0){
            this.data0 = false;
          }
          if (!res.data) {
            console.log('数据已全部获取完毕')
            this.allLoaded = true
          }
          this.$nextTick(function () {
                // 拷贝一份原始数据 wallet_history_list
              if(localStorage.transferType == 'wallet_history_list'){
                  if(!localStorage.wallet_history_list){ // 本地没数据情况
					  localStorage.wallet_history_list = JSON.stringify($this.$store.state.home.transferRecord)
                  }
              }
          });
        }
        // 没有成功 放过
      })
    },
    filter(){
      // 状态改变 过滤数据 supplier=wallet_history_lis only work
        var $this = this;
        var data = JSON.parse(localStorage.wallet_history_list)
		this.$set(this.$store.state.home, 'transferRecord', [])
        
     //   debugger
        if($this.transfer.status == 'succ'){
            _.each(data,(val,key)=>{
                    if(val.status != 'succ'){
                       // delete $this.$store.state.home.transferRecord[key]
                    }else{
						$this.$store.state.home.transferRecord.push(val)
                    }
            })
			return ''
        }
		if($this.transfer.status == 'failed'){
			_.each(data,(val,key)=>{
				if(val.status != 'failed'){
					// delete $this.$store.state.home.transferRecord[key]
				}else{
					$this.$store.state.home.transferRecord.push(val)
				}
			})
           return ''
		}
		_.each(data,(val,key)=>{
			
			$this.$store.state.home.transferRecord.push(val)
			
		})
		//debugger
        console.info($this.$store.state.home.transferRecord)
    }
  },
  mounted() {
    let result = Authority(this, true)
    this.$store.state.home.transferRecord = []
    delete  localStorage.wallet_history_list // 清理旧数据
    if (result) this.loadData()
  
    if(localStorage.transferType) this.$set(this,'transferType',localStorage.transferType)
    if(localStorage.searchDate) this.searchDate =  localStorage.searchDate
    // add watch 监听状态改变
    this.$watch('transfer.status', val => {
      console.info(val)
     // debugger
      this.filter(); //
    })
  }
};
</script>
