<template>
  <div class="head_title">
    <a href="javascript:;" class="pageback_bt_c" @click='goBack()' v-if="path != 'index' ">
    <img class="pageback_bt_img" src="/static/images/secbet_mobile_back_bt.png">
    </a>{{ title }}
  </div>
</template>
/** * 入口文件 * 组装 头部 中间 底部 */
<script>
import * as utils from '@/utils'

export default {
  name: 'heads',
  data() {
    return {
      leftCss: 'menu-list',
      shadowMenu: 'shadow-menu'
    }
  },
  methods: {
    goBack(type = null) {
      // 不同 path 跳转 不同的地方
      let a = this.$store.state.home.path
    
  
//       if(this.$route.path == "/wap/memberCenter/deposit"){
//   MainApp.$router.push('/wap/memberCenter/index')
//         return ''
// }

  //console.log('-----------goback',a)
 //debugger
      switch (a) {
        case '/wap/memberCenter/index':
        case 'mg':
        case 'ttg':
        case 'pt':
        case 'ttg':
          case 'payHead':
          MainApp.$router.push('/wap/index')
          break;
        case '/wap/memberCenter/bankCard':
        case '/wap/memberCenter/deposit':
        case '/wap/memberCenter/withdrawal':
        case 'message':
          case 'recordGame':
          $('.mobile_homebody_main').attr('style','')
          MainApp.$router.push('/wap/memberCenter/index')
          break;
          case 'orderDetail':
              window.layer.confirm({
              content: '确认要离开转账平台',
              btn: ['继续支付', '确认离开']
            },()=>{},()=>{ MainApp.$router.go(-1) })
            break;
        default:
          this.$router.go(-1)

      }
      console.log('点击我', a)
    },
    goPath(goTo) {
      let that = this
      let { jumpUrl } = utils
      try {
        that.openLeft('close')
      } catch (e) {}

      jumpUrl(goTo, that)
    }
  },
  mounted() {
    window._openLeft = this.openLeft
  },
  computed: {
    isLogin() {
      return this.$store.state.home.isLogin
    },
    account() {
      return this.$store.state.home.userData
    },
    homeData() {
      return this.$store.state.home.userData
    },
    title() {
      return this.$store.state.home.title
    },
    path() {
      return this.$store.state.home.path
    }

  }
}

</script>
