<template>
  <div class="mobile_homebody_leftmenu">
    <div class="leftmenu_login" v-if="!isLogin">
      <img class="leftmenu_login_logo" src="/static/images/home/index_logo.png">
      <br>
      <div class="leftmenu_login_slogan">铂金宠爱 万中选一</div>
      <a href="javascript:;" class="leftmenu_login_bt" page='login'>登录</a>
    </div>

    <div class="leftmenu_head" v-if="isLogin">
      <div class="leftmenu_head_info">
        <img class="member_photo" src="/static/images/home/leftmenut_member_photo.png">
          <div class="leftmenu_head_inforight">
            <span id="salutationtfirst" class="greetText"></span><span class="leftmenu_membername">{{ account.user_name }}</span><br>
            <span class="salutationText">{{ timeTXT }}</span>
          </div>
      </div>
      <div class="leftmenu_head_wallet">中心钱包 &nbsp;<span class="wallet_money">{{ account.balance | moneyFilter}}</span></div>
      <div class="loginOut" @click="logout()">退出</div>
    </div>


    <div class="leftmenu_list">
      <a class="leftmenu_list_row" page="memberIndex">
        <div class="leftmenu_list_row_cn">
          <img src="/static/images/home/icon_landingpage_03.png">
          <span class="leftmenu_list_row_title">个人中心</span>
        </div>
      </a>
      <a class="leftmenu_list_row" page="message">
        <div class="leftmenu_list_row_cn"><img src="/static/images/home/icon_landingpage_06.png"><span class="leftmenu_list_row_title">信箱</span></div>
      </a>
      <a href="javascript:;" class="leftmenu_list_row hide" page="activity">
        <div class="leftmenu_list_row_cn"><img src="/static/images/home/icon_landingpage_08.png"><span class="leftmenu_list_row_title">优惠活动</span></div>
      </a>
      <a :href="!onLineChat? 'javascript:void(0)' : onLineChat" target="_blank" class="leftmenu_list_row">
        <div class="leftmenu_list_row_cn"><img src="/static/images/home/icon_landingpage_09.png"><span class="leftmenu_list_row_title">在线客服</span></div>
      </a>
      <a href="javascript:;" target="_blank" class="leftmenu_list_row hide" page="download">
        <div style="border-bottom:0px" class="leftmenu_list_row_cn"><img src="/static/images/home/icon_landingpage_10.png"><span class="leftmenu_list_row_title">APP下载</span></div>
      </a>
    </div>
  </div>
</template>
<script>
import * as utils from '@/utils'
export default {
  name: 'leftside',
  components: {},
  data() {
    return {}
  },
  computed: {
    onLineChat() {
      return this.$store.state.home.onLineChat
    },
    isLogin() {
      return this.$store.state.home.isLogin
    },
    account() {
      return this.$store.state.home.userData
    },
    timeTXT() {
      return this.$store.state.home.timeTXT
    },
  },
  methods: {
    logout() {
      let {jumpUrl} = utils;
      this.$store.state.home.userData = '';
      this.$store.state.home.isLogin = false;
      localStorage.removeItem('userinfo');
      localStorage.removeItem('session_id');
      jumpUrl('login');
      window.layer.msgWarn("退出成功");
    }
  }
}

</script>
