<template>
  <div class="main_content">
    <div id="payHead">
      <div>
        <div class="cashier_from_title payblue">
          <div class="title_bgblue "></div>
          选择银行
        </div>
      </div>
      <div id="bankSelectRow" style="display: block;" class="search_select_row">
        <select id="bankType" v-model="bankCode" @change="saveCode()">
          <option v-for="(item, index) in bankList" :key="index" :value="item">{{ bankZH[item]?bankZH[item]:item }}</option>
        </select>
        <img class="search_select_jiantou" src="/static/images/secbet_mobile_rg.png">
      </div>
    <div class="cashier_from_title payblue">
      <div class="title_bgblue "></div>
      存款姓名
    </div>
    <div class="input_iosbox">
      <div class="input_iosbox_title">姓名</div>
      <input type="text" placeholder="请输存款姓名" class="input_ios" v-model='depositer'>
    </div>
      <pay @setmoney="setMoney" @setpro="setPromo" :money="money"></pay>
      <div style="margin-top: 60px;" id="deposit_bt" class="submit_blue_bt" @click="save()">立刻存款</div>
    </div>
<scanShow :modalon="modal_on" :picname="picname" @setclose="setclose" />
  </div>
</template>
<script>
  import payHead from '@/components/center/deposit/payHead'
  import pay from '@/components/center/deposit/pay'
  import * as types from '@/store/pay/type'
  import {Authority, payHanld} from '@/utils'
  import scanShow from '@/components/center/deposit/scanShow'
  export default {
    data() {
      return {
        modal_on: false,
        picname: '',
        money: 500,
        bankCode: localStorage.bankCode || '',
        promo_ename: 'no',
        bankZH: {},
        depositer: ''
      }
    },
    computed: {
      bankList() { // 这里需要修改
  // let payList   = this.$store.state.pay.payList
  let payList   = JSON.parse(localStorage.getItem("payList"))
        let bankCodes = ''
        for (let i = 0; i < payList.length; i++) {
          if (payList[i].payment_type_code == 'onlinepay' && payList[i].payment_way == 'transfer') {
            bankCodes = payList[i].payment_bank_codes
            break
          }
        }
        return bankCodes.split(',')
      }
    },
    components: {
      payHead,scanShow,
      pay
    },
    methods: {
  setclose(){
  this.modal_on = false
},
  saveCode(){
    // 保存银行到本地 下次使用
  if(this.bankCode) {
  localStorage.bankCode = this.bankCode
  }else{
    delete localStorage.bankCode
}

},
      setPromo(m) {
        this.promo_ename = m
      },
      setMoney(m) {
        this.money = m
      },
      save() {
        console.log(this.money, this.bankCode)
if(!this.depositer){
  window.layer.msgWarn("请输存款姓名");
          return ''
      }
        if(!this.bankCode){
  window.layer.msgWarn("银行不能为空");
          return ''
      }
     // debugger
        var options = {
          payment_type_code: 'manpay',
          payment_way: 'transfer',
          bank_ename: this.bankCode, // 支付 的银行
          depositer: this.depositer,
          amount: this.money,
        }

        this.$store.dispatch(types.PAY_ONLINEPAY, options).then((res) => {
          // 有订单 和没有订到 都去 支付详情页面
          // is_old
  
  payHanld(this, res)
/*          console.log(res)

          this.$router.push('/wap/memberCenter/orderDetail')*/
        })
      }
    },
    mounted() {
      setTimeout(() => {
        this.$store.state.home.title = '银行卡转账'
          setZH(this)
      }, 10)
  
  // 设置银行 开始

  function setZH(that){
  try {
  that.bankZH = JSON.parse(localStorage.bankZh)
} catch (e) {
  
  setTimeout(()=>{
  that.bankZH = JSON.parse(localStorage.bankZh)
},200)
}
}
  
      //this.$store.state.home.title = '银行卡转账'
    },
    destroyed() {

    }
  }
</script>
