<template>
    <div>
        <div style="text-align: center;margin-top:45%;width: 57vh;">
            <h4 style="color: rgb(119, 113, 113)">您已成功取消交易,<span v-html="second"></span>秒后返回</h4>
            <p style="margin-top: 10%">
                <img width="20%" src="/static/images/pay/chenggong_04@2x.png" />
            </p>
            <h3 style="color: #0099ff;">交易取消成功</h3>
        </div>
    </div>
</template>

<script>
export default {
    data() {
      return {
        second: 3
      }
    },
    mounted() {
        $('.head_title').hide()
        let interval = setInterval(() => {
            this.second--;
            if(this.second === 0) {
                clearInterval(interval)
                 $('.head_title').show()
                this.$router.push('/wap/memberCenter/deposit')
            }
        }, 1000)
    }
}
</script>

