<template>
  <div class="main_content">
    <payHead />
     支付首页
  </div>
</template>

<script>
import {payZh } from '@/config/zh'
import {Authority}  from '@/utils'
import * as types from '@/store/pay/type'
import payHead from '@/components/center/deposit/payHead'
// 　网银支付
export default {
  name: 'deposit',
  components: {
  payHead
},
  data() {
      return {
            payZh: payZh,
            money: '',
            payType: this.$store.state.pay.payType,
            currentPay: ''
          }
  },
  computed:{
      payList(){
          return  this.$store.state.pay.payList
      }

},
  methods:{
        payClick(val){
          
          },
        setMoney(val,index){
              window.$('.deposit_money_sel_bt').removeClass('active')
              window.$('.deposit_money_sel_bt').eq(index).addClass('active')
              
              this.money = val
        },
        getPayment(){
        // 加载支付通道
          debugger
          this.$store.dispatch(types.GET_PAYMENT, {
            user_id: JSON.parse(localStorage['userinfo']).id,
            device_type: 'mobile'
          }).then(()=>{
                console.log('dfffffffff')
                this.PayPlatform();
          })
      },
    // 支付 平台 计算 跳转
      PayPlatform(){
      
      }
   },
  mounted () {
      Authority(this,true)?this.getPayment():''
/*
      if(localStorage.currentPay) {
        this.currentPay = localStorage.currentPay
      }*/
     
    //  this.getPayPlatform()
  },
}
</script>
