import * as types from "../../../store/pay/type";

<template>
  <div class="main_content">

    <div id="quickpay">
      <div id="deposit_bt" class="submit_blue_bt hide" style="margin-top: 60px;">
        <div class="l1" :class="{active: payway == 'qrcode' }" @click="tabClick('qrcode')">银联扫码</div>
        <div class="r1" :class="{active: payway == 'transfer' }" @click="tabClick('transfer')">银行转账</div>
      </div>
    </div>

    <div v-if="payway == 'transfer'">
      <div class="cashier_from_title payblue">
        <div class="title_bgblue "></div>
        选择银行
      </div>
    </div>
    <div v-if="payway == 'transfer'" id="bankSelectRow" style="display: block;" class="search_select_row">
      <select id="bankType" v-model="bankCode" @change="saveCode()">
        <option v-for="(item, index) in bankList" :key="index" :value="item">{{ bankZH[item]?bankZH[item]:item }}</option>
      </select>
      <img class="search_select_jiantou" src="/static/images/secbet_mobile_rg.png">
    </div>

    <div id="payHead">
      <pay @setmoney="setMoney" @setpro="setPromo" :money="money"></pay>

      <div style="margin-top: 60px;" id="deposit_bt" class="submit_blue_bt" @click="save()">立刻存款</div>

      <scanShow :modalon="modal_on" :picname="picname" @setclose="setclose"/>
    </div>

  </div>
</template>
<script>
  import {Authority, payHanld} from '@/utils'

  import payHead from '@/components/center/deposit/payHead'
  import pay from '@/components/center/deposit/pay'
  import * as types from '../../../store/pay/type'
  import scanShow from '@/components/center/deposit/scanShow'

  export default {
    data() {
      return {
        modal_on: false,
        promo_ename: 'no',
        picname: '银联扫码',
        scanURL: '',
        bankCode: localStorage.bankCode || '',
        money: 100,
        payway: 'transfer', // 扫码 转账
        payInfo: {},
        showPayInfo: false,
        bankZH: {},
        msg: ""
      }
    },
    computed: {
      bankList() { // 这里需要修改
        let payList   = this.$store.state.pay.payList
        let bankCodes = ''
        for (let i = 0; i < payList.length; i++) {
          if (payList[i].payment_type_code == 'onlinepay' && payList[i].payment_way == 'transfer') {
            bankCodes = payList[i].payment_bank_codes
            break
          }
        }
        return bankCodes.split(',')
      }
    },
    methods: {
  saveCode(){
  // 保存银行到本地 下次使用
  if(this.bankCode) {
  localStorage.bankCode = this.bankCode
}else{
  delete localStorage.bankCode
}
},
      cancl() {
        console.log('取消订单')
      },
      setclose() {
        this.modal_on = false
      },
      tabClick(type) {
        this.payway = type
      },
      setMoney(m) {
        this.money = m
      },
      setPromo(m) {
        this.promo_ename = m
      },
      saveImg() {
        // 保存二维码

      },
      save() {
        var options = {
          payment_type_code: 'onlinepay',
          payment_way: this.payway, // 支付 的银行
          amount: this.money,
          promo_ename: this.promo_ename
        }
        //  debugger
        // 区分 银联扫码 + 银行转账
        this.$store.dispatch(types.PAY_ONLINEPAY, options).then((res) => {
          console.log(res)
          //  debugger // 默认是正常的 调用 支付api 返回数据 统一处理函数

          if (res && res.data) {
            this.payInfo     = res.data
            this.msg         = res.msg
            this.showPayInfo = true
          }
          // todo
          payHanld(this, res)
        })

      },
      backPrev() {
        this.showPayInfo = false
      }
    },
    components: {
      payHead, scanShow,
      pay
    },
    mounted() {
      let $this = this

      Authority(this, true)
  
  // 设置银行 开始
      setZH(this)
    function setZH(that){
            try {
        that.bankZH = JSON.parse(localStorage.bankZh)
          } catch (e) {
            
              setTimeout(()=>{
  that.bankZH = JSON.parse(localStorage.bankZh)
},200)
          }
    }
    // 设置银行 借助
      this.$nextTick(function () {
      

      })

      // 授权
      setTimeout(() => {
        this.$store.state.home.title = '在线支付'


        if (!this.$store.state.pay.payList.length) {
          // 加载支付数据

          // 获取支付 通道
          this.$store.dispatch(types.GET_PAYMENT, {}).then(res => {

            this.$store.state.pay.payList = res.data

          }).then(res => {

          })

        }


      }, 100)
      //this.$store.state.home.title = '银行卡转账'
    },
    destroyed() {

    }
  }
</script>
