<template>
  <div class="main_content" id="orderDetail">
    <div class="payDetailInfo" v-if="payInfo">
      <div v-if="payInfo.is_old" style="color:red;text-align: center;margin-bottom: 20px;">您之前订单未完成，请尽快支付或者取消</div>
      <ul>
        <li class="payinfoHead">收款方信息</li>
        <li><span>收款银行：</span><input :value="payInfo.bank_cname" type="text" readonly/>
          <span class="copytxt"
                v-clipboard:copy="payInfo.bank_cname"
                v-clipboard:success="copySuccess"
                v-clipboard:error="copyError"
          >复制</span>
        </li>
        <li><span>收款人：</span><input :value="payInfo.card_owner" type="text" readonly/>
          <span class="copytxt"
                v-clipboard:copy="payInfo.card_owner"
                v-clipboard:success="copySuccess"
                v-clipboard:error="copyError"
          >复制</span></li>
        <li><span>银行卡号：</span><input :value="payInfo.card_no" type="text" readonly/>
          <span class="copytxt"
                v-clipboard:copy="payInfo.card_no"
                v-clipboard:success="copySuccess"
                v-clipboard:error="copyError"
          >复制</span></li>
        <li><span>充值金额：</span><input :value="payInfo.amount" type="text" class="red" readonly/>
          <span class="copytxt"
                v-clipboard:copy="payInfo.amount"
                v-clipboard:success="copySuccess"
                v-clipboard:error="copyError"
          >复制</span>
        </li>
        <li><span>附言：</span><input :value="payInfo.remark" type="text" class="red" readonly/>
          <span class="copytxt"
                v-clipboard:copy="payInfo.remark"
                v-clipboard:success="copySuccess"
                v-clipboard:error="copyError"
          >复制</span>
        </li>
        <!-- <li class="red">*在转账时请务必填写附言编号，将作为审核凭证</li>
        <li class="red" v-if="msg">提示：{{msg}}</li> -->
      </ul>
      <ul style="margin-top:20px;">
        <li class="payinfoHead">存款方信息</li>
        <li><span>存款银行：</span><input :value="payInfo.depositer_bank_ename" type="text" readonly/>
        </li>
        <li><span>存款人：</span><input :value="payInfo.card_owner" type="text" readonly/>
        </li>
        <li style="height:150px;">
          <span>温馨提示：</span>系统到账时间以银行入账时间为准，如超过<font color="red" style="margin-left:40px;position: relative;right:3px;top:-4px;">15分钟</font>不到账，请联系<a :href="!onLineChat? 'javascript:void(0)' : onLineChat">在线客服</a>，并提供交易记录截图
        </li>
      </ul>
      <div class="submit_blue_bt" @click="backPrev()">完成支付</div>
      <div class="submit_blue_bt cance" @click="cancl()">取消订单</div>
    </div>
  </div>
</template>
<script>
  import Toast from 'mint-ui/lib/toast' // 加载mint-ui
  import * as types from '@/store/pay/type'

  export default {
    data() {
      return {
        payInfo: {},
        msg: ''
      }
    },
    computed: {
      onLineChat() {
        return this.$store.state.home.onLineChat
      },
    },
    mounted() {
      // 从本地 拿值
      var a   = JSON.parse(localStorage.depositRes)
      var msg = a.msg;
      if (msg) this.msg = a.msg
      this.payInfo = a.data
  
      var b = JSON.parse(localStorage.bankZh)
      if(b[this.payInfo.depositer_bank_ename]) {
        // 更换名字
        this.payInfo.depositer_bank_ename = b[this.payInfo.depositer_bank_ename]
      }
      console.log(a, '===============')
      setTimeout(() => {
        this.$store.state.home.title = '订单详情'
      },100)
    },
    methods: {
      copySuccess() {
        Toast({
          message: '复制成功',
          position: 'middle',
          duration: 500
        })
      },
      copyError() {
      },
      backPrev() {
        // 调用 comrm
        this.$router.push('/wap/memberCenter/transfer')
      },
      cancl() {
        // 取消
        var $this        = this
        var {deposit_id} = this.payInfo;
        window.Loading.open()
        this.$store.dispatch(types.PAY_CANCEL, {id: deposit_id}).then((res) => {
          // 有订单 取消
          console.log(res)
          if (res.msg) {
            $this.$router.push('/wap/memberCenter/cancelSuccess')
            // window.layer.msgWarn(res.msg, function () {
            // })
          } else {
            $this.backPrev()
          }

        })
      }
    },
    destroyed() {

    }
  }
</script>
