<template>
  <div class="main_content" id="orderDetail3">
    <div class="payDetailInfo" v-if="payInfo">
      <div v-if="payInfo.is_old" style="color:red;text-align: center;margin-bottom: 20px;">您之前订单未完成，请尽快支付或者取消</div>
      <ul>
        <li><span>支付方式：</span><input :value="txts" type="text" readonly/>
          <span class="copytxt hide"
                v-clipboard:copy="payInfo.card_no"
                v-clipboard:success="copySuccess"
                v-clipboard:error="copyError"
          >复制</span></li>
        <li><span>充值金额：</span><input :value="payInfo.amount" type="text" class="red" readonly/>
          <span class="copytxt hide"
                v-clipboard:copy="payInfo.amount"
                v-clipboard:success="copySuccess"
                v-clipboard:error="copyError"
          >复制</span>
        </li>
        <!-- <li class="red">*在转账时请务必填写附言编号，将作为审核凭证</li>
        <li class="red" v-if="msg">提示：{{msg}}</li> -->
      </ul>
      <div id='gopay' class="submit_blue_bt" @click="backPrev()">去支付</div>
      <div class="submit_blue_bt cance" @click="cancl()">取消订单</div>
    </div>
  </div>
</template>
<script>
  import Toast from 'mint-ui/lib/toast' // 加载mint-ui
  import * as types from '@/store/pay/type'

  export default {
    data() {
      return {
        payInfo: {},
        txts: '转账',
        msg: ''
      }
    },
    computed: {
      onLineChat() {
        return this.$store.state.home.onLineChat
      },
    },
    mounted() {
      // 从本地 拿值
      var a   = JSON.parse(localStorage.depositRes)
      var msg = a.msg;
      if (msg) this.msg = a.msg
      this.payInfo = a.data
  
      var b = JSON.parse(localStorage.bankZh)
      if(b[this.payInfo.depositer_bank_ename]) {
        // 更换名字
        this.payInfo.depositer_bank_ename = b[this.payInfo.depositer_bank_ename]
      }
      console.log(a, '===============')
      setTimeout(() => {
        this.$store.state.home.title = '订单详情'
      },100)
    },
    methods: {
      copySuccess() {
        Toast({
          message: '复制成功',
          position: 'middle',
          duration: 500
        })
      },
      copyError() {
      },
      backPrev() {
        // 调用 comrm
        var {card_no} = this.payInfo;
    
        if(card_no){
          window.location.href = card_no
          return ''
        }
      },
      cancl() {
        // 取消
        var $this        = this
        var {deposit_id} = this.payInfo;
        window.Loading.open()
        this.$store.dispatch(types.PAY_CANCEL, {id: deposit_id}).then((res) => {
          // 有订单 取消
          console.log(res)
          if (res.msg) {
            $this.$router.push('/wap/memberCenter/cancelSuccess')
            // window.layer.msgWarn(res.msg, function () {
            // })
          } else {
            $this.backPrev()
          }

        })
      }
    },
    destroyed() {

    }
  }
</script>
