<template>
  <div>
    <div class="cashier_from_title payblue">
      <div class="title_bgblue "></div>
      存款金额（元）
    </div>
    <div class="input_iosbox">
      <div class="input_iosbox_title">金额</div>
      <input type="number" id="depositMoney" placeholder="请输入存款金额" class="input_ios" v-model='money'>
    </div>
    <div class="deposit_money_sel" id="deposit_money_sel">
      <div class="deposit_money_sel_bt" :class="money == 100 ? 'nowchoose' : ''" @click="setMoney(100)">100
      </div>
      <div class="deposit_money_sel_bt" :class="money == 500 ? 'nowchoose' : ''" @click="setMoney(500)">500
      </div>
      <div class="deposit_money_sel_bt" :class="money == 1000 ? 'nowchoose' : ''" @click="setMoney(1000)">1000</div>
      <div class="deposit_money_sel_bt" :class="money == 3000 ? 'nowchoose' : ''" @click="setMoney(3000)">3000</div>
    </div>
    <div id="bankTitle" class="cashier_from_title payblue" style="display: none;">
      <div class="title_bgblue "></div>
      请选择存款优惠
    </div>
    <div id="bankSelectRow" style="display: none;" class="search_select_row">
      <select id="bankType" v-model="pro" @change="setPromo()">
        <option value="no">不参加优惠</option>
        <option value="sc">首存30% 首存>=100 流水25倍</option>
        <option value="zsc">周存送10% 存款>=100 流水20倍</option>
        <option value="dzbbc">笔笔存送 15% 存款>=100 流水10倍</option>
        <option value="dzsc">电子首存 100% 存款>=100 流水25倍</option>
      </select>
      <img class="search_select_jiantou" src="/static/images/secbet_mobile_rg.png">
    </div>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        pro: 'no'
      }
    },
    props: {
      money: Number,
      setPro: String // 多余的
    },
    methods: {
      setMoney(m) {
        this.$emit('setmoney', m)
      },
      setPromo(m) {
        this.$emit('setpro', this.pro)

      }
    },
    mounted() {
    },
    destroyed() {
    }
  }
</script>
<style scoped>
  .nowchoose {
    background-image: url('/static/images/pay/xuanzhe1_04@2x.png');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: 100%;
  }

  .deposit_money_sel_bt {
    width: 24%;
  }
</style>

