<template>
  <div class="main_content">
    <div id="payHead">
      
      <div class="cashier_from_title payblue">
        <div class="title_bgblue "></div>
        请选择支付方式
      </div>
      
      <div class="deposit_tab_menu">
      
        <div id="setting_bank_bt_0" data="third" class="deposit_tab_menu_bt active"
             v-if="(payType.manpay && !payType.manpay.noData) && ( payType.onlinepay && !payType.onlinepay.noData) && ( payType.swiftpay && !payType.swiftpay.noData)"
        @click="payClick('onlinepay', 'setting_bank_bt_0')">
        <p><img src='/static/images/pay/onlinepay.png'></p>
        <p>银行卡支付</p>
        </div>
      <div id="setting_bank_bt_1" data="third" class="deposit_tab_menu_bt"
           v-if="!payType.wxpay.noData"
      @click="payClick('wxpay','setting_bank_bt_1')">
      <p><img src='/static/images/pay/wxpay.png'></p>
      <p>微信支付</p>
    </div>
    
    <div id="setting_bank_bt_4" data="third" class="deposit_tab_menu_bt"
         v-if="!payType.qqpay.noData"
    @click="payClick('qqpay','setting_bank_bt_4')">
    <p><img src='/static/images/pay/qqpay.png'></p>
    <p>QQ支付</p>
  </div>
  
        <div id="setting_bank_bt_2" data="third" class="deposit_tab_menu_bt"
             v-if="!payType.alipay.noData"
        @click="payClick('zhifubao','setting_bank_bt_2')">
            <p><img src='/static/images/pay/zhifubao_001@2x.png'></p>
            <p>支付宝</p>
        </div>

      <div id="setting_bank_bt_6" data="third" class="deposit_tab_menu_bt"
           v-if="!payType.jdpay.noData"
                   @click="payClick('jdpay','setting_bank_bt_6')">
          <p><img src='/static/images/pay/jdpay.png'></p>
          <p>京东支付</p>
      </div>
</div>
<ul id="payItem">
  <li v-for="(item,index) in currenType" @click="goToPay(item.code)" :class="item.className">
  <img class="itemImg" :src="item.imgUrl"/>
<div>
  <p>{{item.name}}</p>
  <p class="small">{{item.tips}}</p>
  <img src="/static/images/ico/menu-more.png">
</div>
</li>
</ul>
</div>

</div>
</template>
<script>
  import * as types from '../../../store/pay/type'
  import * as utils from '@/utils'
  
  export default {
  data() {
  return {
 
  currenType: [], //  默认第一个是 网银支付 当前支付类型
  payList: { // 支付 div 说明
  onlinepay: [
{name: "银行卡转账", tips: "支持所有银行，赠送1%优惠，一分钟到账", imgUrl: "/static/images/pay/yhkzz_01@2x.png", code: 'bankpay'},
{name: "快捷支付", tips: "支持所有银行卡，充值快，自动到账", imgUrl: "/static/images/pay/unionpay.png", code: 'quickpay'}, //code 给路由跳转用
{name: "网银支付", tips: "支持所有银行卡，充值快，自动到账", imgUrl: "/static/images/pay/unionpay.png", code: 'onlinepay'}
  ],
  wxpay: [ // 没开放
{
  name: "微信转账",
  tips: "添加好友直接转账",
  imgUrl: "/static/images/pay/weixin_01@2x.png",
  code: 'disabled',
  className: 'disabled'
},
{
  name: "微信二维码支付",
  tips: "微信扫描二维码，支付1-3000金额自动转账",
  imgUrl: "/static/images/pay/weixin_01@2x.png",
  code: 'wxpayScan'
}
  ],
  qqpay: [

{
  name: "QQ手机支付",
  tips: "QQ手机直接支付，支付1-5000金额自动到账",
  imgUrl: "/static/images/pay/qqsjzf_01@2x.png",
  code: 7,
  className: 'disabled'
},
{name: "QQ钱包转账", tips: "扫描QQ二维码付款", imgUrl: "/static/images/pay/qqqbzz_01@2x.png", code: 'qqpay'},
  ],
  zhifubao: [
{name: "支付宝转账", tips: "支付宝加好友转账", imgUrl: "/static/images/pay/zfbzz_01@2x.png", code: 'disabled',
  className: 'disabled'},
{name: "支付宝扫码", tips: "扫描支付宝二维码付款", imgUrl: "/static/images/pay/zfbzz_01@2x.png", code: 'alipay'}
  ],
  jdpay: [
{
  name: "京东转账",
  tips: "单笔最低金额10元，最高金额20000",
  imgUrl: "/static/images/pay/syxkzf_01@2x.png",
  code: 2,
  className: 'disabled'
},
{name: "京东扫码支付", tips: "单笔最低金额10元，最高金额20000", imgUrl: "/static/images/pay/syxkzf_01@2x.png", code: 'jdpay'}
  ]
}
  /** codeList:[
   1:'bankpay',
   2:'unionpay',
   3:'unionpay',
   4:'wxpay',
   '5':'wxpay',
   '6':'qqpay',
   '7':'qqpay',
   '8':'alipay',
   '9':'unionpay',
   '10':'jdpay'
   ]**/
}
},
  computed: {
      payType(){
        console.log('---,',this.$store.state.pay.payType)
      return  this.$store.state.pay.payType
      }
    // payType: this.$store.state.pay.payType,
  //  payList(){
  //    return  this.$store.state.pay.payList
  //  }
  
},
  methods: {
  disabled() {
  window.layer.msgWarn('支付暂时没有开放!')
},
  payClick(type, eventEl) { // 当前 支付大类 切换
 
  this.currenType = this.payList[type]
  console.log()
  window.$('[data="third"]').removeClass('active')
  window.$('#' + eventEl).addClass('active')
 // debugger
},
  goToPay(code) { // 具体 支付 跳转 走
  console.log(this)
  if (code == 'disabled') {
  this.disabled()
  return
}
  this.$router.push('/wap/memberCenter/' + code)
}
},
  mounted() {
  let $this = this
  let {Authority} = utils
  Authority(this, true)

 

  this.$store.dispatch(types.GET_PAYMENT, {}).then(res => {
 // debugger
      // this.$store.state.pay.payList = res.data
    // 初始化 当前页面
 /* this.currenType = this.payList.onlinepay
  // 获取支付 通道
  */
 this.$nextTick(function () {
    window.$('[data="third"]').eq(0).click()
});


}).then(res => { })
},
  destroyed() {
}
}
</script>
