<template>
  <div class="main_content">
    <div id="quickpay">
      <div id="deposit_bt" class="submit_blue_bt" style="margin-top: 60px;">
        <div class="l1" :class="{active: payway == 'qrcode' }" @click="tabClick('qrcode')">扫码</div>
        <div class="r1" :class="{active: payway == 'transfer' }" @click="tabClick('transfer')">转账</div>
      </div>
    </div>
    <div id="payHead">
      <pay @setmoney="setMoney" @setpro="setPromo" :money="money"></pay>

      <div style="margin-top: 60px;" id="deposit_bt" class="submit_blue_bt" @click="save()">立刻存款</div>
    </div>

    <scanShow :modalon="modal_on" :picname="picname" @setclose="setclose" />
  </div>
</template>
<script>
  import {  Authority,payHanld } from '@/utils'
import payHead from '@/components/center/deposit/payHead'
import pay from '@/components/center/deposit/pay'
import * as types from '@/store/pay/type'
import scanShow from '@/components/center/deposit/scanShow'

export default {
  data () {
    return {
      modal_on: false,
      picname: '快捷支付扫码',
      scanURL: '',
      money: 100,
        payway: 'qrcode' // 扫码 转账
    }
  },
  computed: {

  },
  methods: {
    tabClick(type){
      this.payway  = type
    },
    setMoney(m) {
      this.money = m
    },
    setPromo(m){
      this.promo_ename = m
    },
    setclose(){
      this.modal_on = false
    },
    save() {
      var options = {
        payment_type_code: 'swiftpay', //wxpay
        payment_way: this.payway, // 支付 的银行
        amount: this.money,
        promo_ename: this.promo_ename
      }
    //  debugger
      // 区分 扫码 + 转账
      this.$store.dispatch(types.PAY_ONLINEPAY, options).then((res) => {
        console.log(res)
        //  debugger // 默认是正常的 调用 支付api 返回数据 统一处理函数
// todo
          payHanld(this, res)
      })
    }
  },
  components: {
    payHead,scanShow,
    pay
  },
  mounted () {
  let $this = this

  Authority(this, true)
  // 授权
    setTimeout(()=>{
      this.$store.state.home.title = '快捷支付'
    },100)
    //this.$store.state.home.title = '银行卡转账'
  },
  destroyed () {

  }
}
</script>
