<template>
  <div class="main_content">
    <div id="payHead">

    </div>
    <pay @setmoney="setMoney" @setpro="setPromo" :money="money"></pay>
  <div style="margin-top: 60px;" id="deposit_bt" class="submit_blue_bt" @click="save()">立刻存款</div>
<scanShow :modalon="modal_on" :picname="picname" @setclose="setclose" />

</div>

</template>
<script>
import { Authority, payHanld} from '@/utils'
import payHead from '@/components/center/deposit/payHead'
import pay from '@/components/center/deposit/pay'
import * as types from '@/store/pay/type'
import scanShow from '@/components/center/deposit/scanShow'

import { payZh } from '@/config/zh'

/**
 *  扫码支付 公用扫码 支付 组件 公用的
 *  jd 扫码再使用这个
 *
 */

export default {
  data () {
    return {
      currentPay: '',
      modal_on: false,
      picname: '',
      money: 100,
      promo_ename: 'no',
      bankCode: ''
    }
  },
  computed: {
    bankList() {
      let payList = this.$store.state.pay.payList
      let bankCodes = ''
      for(let i=0; i<payList.length; i++) {
        if(payList[i].payment_type_code == 'onlinepay' && payList[i].payment_way == 'transfer') {
          bankCodes = payList[i].payment_bank_codes
          break
        }
      }
      return bankCodes.split(',')
    }
  },
  components: {
    payHead,scanShow,
    pay
  },
  methods: {
    setMoney(m) {
      this.money = m
    },
    setPromo(m){
      this.promo_ename = m
    },

    setclose(){
      this.modal_on = false
    },
    save() {

      var options = {
        payment_way: 'qrcode', // 支付 方式
        amount: this.money,
        promo_ename: this.promo_ename
      }
      options.payment_type_code = this.currentPay // 当前支付方式
     //         payment_type_code: 'wxpay', // wxpay
     // 微信扫码 payment_type_code=wxpay&payment_way=qrcode&device_type=pc
      this.$store.dispatch(types.PAY_ONLINEPAY, options).then((res) => {
        console.log(res)
        //  debugger // 默认是正常的 调用 支付api 返回数据 统一处理函数
        if(res.data.is_old){
          window.layer.msgWarn(res.msg)
        }
        payHanld(this, res)
      })
    }, // 初始化 扫码支付 信息
    initPayLet(){
      this.picname = payZh[this.currentPay] + '扫码' // 设置图片名字


    }
  },
  mounted () {
    let {name} = this.$route
    this.currentPay = name
    this.$nextTick( () =>{
   //   this.currentPay = param // 当前支付 类型
      setTimeout(()=>{
         this.$store.state.home.title = payZh[this.currentPay] + '扫码支付'
      },80)
    })
/*
    setTimeout(()=>{
      this.$store.state.home.title = '微信扫码支付'
    },10)

    */
    //this.$store.state.home.title = '银行卡转账'
  },
  destroyed () {

  }
}
</script>
