<template>
  <div id="modaDiv">
    <div class="shadown" v-show="modalon">
      <div id="modalClose" @click="modalClose()">
          <img src="/static/images/pay/shangchu_0002@2x.png">
      </div>
    </div>
    <!-- canvas -->
    <div id="scanURL" v-show="modalon">
      <!--<div id="is_old" v-show="scanInfo.data.is_old">
        <p>您之前订单未完成</p>
        <p style="margin-bottom: 30px;">请尽快支付或者取消</p>
      </div>-->
      <canvas id="canvasdiv"></canvas>
      <img id='canvasimg' class="hide" src="">
      <p style="font-size:24px;margin: -8px 0 4px 0;">扫描二维码完成支付</p>
      <p @click="saveImg()" class="saveImg"><a href="javascript:;" style="color:#fff;font-size:28px;text-decoration: underline;">保存二维码</a></p>

      <div class="submit_blue_bt cancl" @click="cancl()">取消订单</div>
      <p id="showmsg"></p>

    </div>

  </div>

</template>
<script>
  /**
   *  二维码 组件
   */
  import {canvasDownload, imgDownload, getRemainTime} from '@/utils'
  import * as types from '@/store/pay/type'
  export default {
    data() {
      return {
            scanInfo: JSON.parse(localStorage.depositRes) // 从本地拿到 订单数据
        }
    },
    props: {
      modalon: Boolean,
      picname: String
    },
    mounted() {

    },
    methods: {
      cancl () {
        var $this = this
        // 从本地 拿值
        var a   = JSON.parse(localStorage.depositRes)

        var {deposit_id} = a.data

        this.$store.dispatch(types.PAY_CANCEL, {id: deposit_id}).then((res) => {

          console.log(res)
          if (res.msg) {           // 有订单 取消  ok
            window.layer.msgWarn(res.msg, function () {
                $this.$emit('setclose', false)
            //  $this.backPrev()
            })
          } else {
           // $this.backPrev()
          }

        })


      },
      modalClose() {
        // 弹出关闭 div
        this.$emit('setclose', false)
      },
      saveImg() {
        // canvans 保存二维码
        let imgurl = window.$('#canvasimg').attr('src')
        if (imgurl) {
          //  img 直接保存
          imgDownload(imgurl, this.picname)
          return ''
        }
        canvasDownload('canvasdiv', this.picname)
      },
    },
    destroyed() {

    }
  }
</script>
