<template>
  <div class="deposit_money_sel" id="deposit_money_sel">
    <div  class="deposit_money_sel_bt" @click="setMoney(100,0)">100
    <img src="/static/images/pay/xuanzhe1_04@2x.png">
  </div>
  <div  class="deposit_money_sel_bt" @click="setMoney(500,1)">500
  <img src="/static/images/pay/xuanzhe1_04@2x.png"></div>
  <div  class="deposit_money_sel_bt" @click="setMoney(1000,2)">1000<img src="/static/images/pay/xuanzhe1_04@2x.png"></div>
  <div  class="deposit_money_sel_bt" @click="setMoney(2000,3)">2000<img src="/static/images/pay/xuanzhe1_04@2x.png"></div>
  <div  class="deposit_money_sel_bt" @click="setMoney(5000,4)">3000<img src="/static/images/pay/xuanzhe1_04@2x.png"></div>
</div>
</template>
<script>

export default {
  data () {
    return {
    
    }
  },
  mounted () {
  
  },
  destroyed () {
  
  }
}
</script>
