<template>
  <div class="main_content">
  
  </div>
</template>
<script>

export default {
  data () {
    return {
      wechatScan: localStorage.wechatScan
    }
  },
  mounted () {
      // 获取本地数据
    this.$nextTick(() => {
    
    })
  },
  destroyed () {
  
  }
}
</script>
