<template>
  <div class="main_content">
    <div id="payHead">
    </div>
    <pay @setmoney="setMoney" @setpro="setPromo" :money="money"></pay>
    <div style="margin-top: 60px;" id="deposit_bt" class="submit_blue_bt" @click="save()">立刻存款</div>
    <scanShow :modalon="modal_on" :picname="picname" @setclose="setclose"/>
  </div>
</template>
<script>
  import {Authority, payHanld} from '@/utils'
  import payHead from '@/components/center/deposit/payHead'
  import pay from '@/components/center/deposit/pay'
  import * as types from '../../../store/pay/type'
  import scanShow from '@/components/center/deposit/scanShow'

  export default {
    data() {
      return {
        modal_on: false,
        picname: '微信扫码',
        money: 100,
        promo_ename: 'no',
        bankCode: ''
      }
    },
    computed: {
      bankList() {
        let payList   = this.$store.state.pay.payList
        let bankCodes = ''
        for (let i = 0; i < payList.length; i++) {
          if (payList[i].payment_type_code == 'onlinepay' && payList[i].payment_way == 'transfer') {
            bankCodes = payList[i].payment_bank_codes
            break
          }
        }
        return bankCodes.split(',')
      }
    },
    components: {
      payHead, scanShow,
      pay
    },
    methods: {
      setMoney(m) {
        this.money = m
      },
      setPromo(m) {
        this.promo_ename = m
      },

      setclose() {
        this.modal_on = false
      },
      save() {
        var options = {
          payment_type_code: 'wxpay', //wxpay
          payment_way: 'qrcode', // 支付 的银行
          amount: this.money,
          promo_ename: this.promo_ename
        }
        // 微信扫码 payment_type_code=wxpay&payment_way=qrcode&device_type=pc
        this.$store.dispatch(types.PAY_ONLINEPAY, options).then((res) => {
          console.log(res)
          // 默认是正常的 调用 支付api 返回数据 统一处理函数
// todo
          payHanld(this, res)
        })
      }
    },
    mounted() {

      setTimeout(() => {
        this.$store.state.home.title = '微信扫码支付'
      }, 10)
      //this.$store.state.home.title = '银行卡转账'
    },
    destroyed() {

    }
  }
</script>
