<template>
  <div class="main_content">
    <payHead/>
    <div class="input_iosbox">
      <div class="input_iosbox_title">金额</div>
      <input type="number" id="depositMoney" placeholder="请输入存款金额" class="input_ios" v-model='amount'>
    </div>
    <setMoney/>

    <div class="main_menurow_box">
      <a href="javascript:;" class="menu_row">
        <div class="menu_icon">
          <img src="/static/images/pay/weixin_01@2x.png">
        </div>
        <div class="menu_row_r">
          <p>微信转账</p>
          <p>添加好友转账</p>
          <img class="menu_row_r_jiantou" src="/static/images/secbet_mobile_rg.png">
        </div>
      </a>

      <a href="javascript:;" class="menu_row" @click="scan()">
        <div class="menu_icon">
          <img src="/static/images/pay/weixin_01@2x.png">
        </div>
        <div class="menu_row_r">
          <p>微信二维码支付</p>
          <p>=微信扫描二维码，支持1-3000金额自动转账</p>
          <img class="menu_row_r_jiantou" src="/static/images/secbet_mobile_rg.png">
        </div>
      </a>
    </div>
  </div>
</template>
<script>
  import {payZh} from '@/config/zh'
  import {Authority} from '@/utils'
  import * as types from '@/store/pay/type'
  import payHead from '@/components/center/deposit/payHead'
  import setMoney from '@/components/center/deposit/setMoney'

  export default {
    components: {
      payHead, setMoney
    },
    data() {
      return {
        amount: 100
      }
    },
    methods: {
      scan() {
        // /deposit.php?user_id=1&amount=1&session_id=df552b0ed8f46962bbb6322974bd6072&payment_type_code=wxpay&payment_way=qrcode&device_type=pc
        // 扫码转账 微信扫码 payment_type_code=wxpay&payment_way=qrcode&device_type=pc
        let options = {
          payment_type_code: 'wxpay',
          payment_way: 'qrcode',
          amount: 1

        }
        this.$store.dispatch(types.PAY_ONLINEPAY, options).then((res) => {

          console.log(res)
          if (res.data && res.data.url) {
            localStorage.wechatScan = res.data.url

            this.$router.push('/wap/memberCenter/wxpayScan?url=' + res.data.url)
          }


        })
      }
    },
    mounted() {

    },
    destroyed() {

    }
  }
</script>
