<template>
  <div class="main_content" style="padding-bottom:90px">
    <div class="promotions_tab_type">
      <div style="width:1200px;">
        <a href="javascript:;" :class="currentActivity === 1 ? 'bt_select' : ''" @click="getActivityList(1)" class="promotions_type_bt">全部优惠</a>
        <a href="javascript:;" :class="currentActivity === 2 ? 'bt_select' : ''" @click="getActivityList(2)" class="promotions_type_bt">真人</a>
        <a href="javascript:;" :class="currentActivity === 3 ? 'bt_select' : ''" @click="getActivityList(3)" class="promotions_type_bt">老虎机</a>
        <a href="javascript:;" :class="currentActivity === 4 ? 'bt_select' : ''" @click="getActivityList(4)" class="promotions_type_bt">体育</a>
      </div>
      <div class="promotions_tab_zhedang">
      </div>
    </div>
    <div style="height:95px;"></div>
    <div class="promotions_listByType" v-if="activityObj[currentActivity] && !showItem" v-for="(item, index) in activityObj[currentActivity]" :key="index">
      <span class="p_l_head">
           <img src="/static/images/activity/promotions_4.png">
      </span>
      <div class="promotions_list">
        <div style="width:5000px;">
          <div class="promotions_info" @click="showDetail(item)">
            <div class="promotions_info_h"> <span class="promotions_info_t"></span><span class="promotions_info_title" style="color:#4a4a4a">{{ item.cname }}</span></div>
          <!--{{ item }}-->
          <div class="promotions_info_img">
            <img :src="item.img_url"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="m_pop" v-if="showItem">
      <div class="detailmain" style="position:static;overflow:scroll">
        <div class="close" @click="showItem = !showItem" style="position: fixed"></div>
        <img :src="'/static/images/activityDetail/' + activity.ename + '.jpg'">
        <!--<div v-html="activity.rules">-->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import * as types from '@/store/home/type'
import * as utils from '@/utils'
export default {
  data() {
    return {
      currentActivity: 1,
      activityObj: {
        1: [], // all
        2: [], // casino
        3: [], // solte
        4: [] // sport
      },
      activity: {},
      showItem: false
    }
  },
  computed: {
    activityList() {
      console.info('数据变化', this.activityObj)
      return this.$store.state.home.activityList
    }
  },
  methods: {
    pareData() {
      console.info('数据变化', this.activityObj)

      let $this = this
      this.activityObj[1] = this.$store.state.home.activityList
      this.activityObj[2] = []
      this.activityObj[3] = []
      this.activityObj[4] = []
      window._.each(this.$store.state.home.activityList, (val, key) => {

        var slot = window._.includes(val.game_type, 'slot')
        var casino = window._.includes(val.game_type, 'casino')
        var sport = window._.includes(val.game_type, 'sport')
        if (slot) this.activityObj[2].push(val)
        if (casino) this.activityObj[3].push(val)
        if (sport) this.activityObj[4].push(val)
      })


    },
    getPromotion() {
      // 获取数据
      this.$store.dispatch(types.GET_ACTIVITY_LIST, {
        user_id: JSON.parse(localStorage['userinfo']).id,
        device: 'mobile'
      }).then((res)=>{
             console.info('----',res)
            // 预处理数据
              this.pareData()
        })
    },
    // 种类 切换
    getActivityList(type) {
      this.currentActivity = type
      this.pareData()
    },
    showDetail(item) {
      this.showItem = true
      this.activity = item
    }
  },
  mounted() {
    let { Authority } = utils
    let result = Authority(this, true)
    if (result) this.getPromotion()



  }
}

</script>
