<template>
  <div class="banner flexslider"> <!-- 轮播图 -->

  <mt-swipe :auto="4000" v-if="Gametype == 'index'">
        <mt-swipe-item v-for="(item,index) in bannerImg" :key="index">
         <!--
         
         -->
         <img :src="item.icon" >
       </mt-swipe-item>
  </mt-swipe>
  
</div>
</template>

<script>
import Vue from 'vue'
import { Swipe, SwipeItem } from 'mint-ui'

Vue.component(Swipe.name, Swipe)
Vue.component(SwipeItem.name, SwipeItem)
  // 添加 轮播图 组件
export default {
  name: 'banner',
  data () {
    return {  // 图片数据
      msg: 'Welcome to Your Vue.js App'
    }
  },
  mounted () {

  
  },
  computed: {
  bannerImg () {
    console.log(this.$store.state.home.bannerImg, '0000000000')
    return this.$store.state.home.bannerImg
}
},
  props: {
    Gametype: {
          type: String,
          default: function () {
          return 'egame'
        }
      }
    },
}
</script>
