<template>
    <div>
        <!-- 头部-->
        <header id="header" class="header">
            <div class="shadow-menu" name="shadowMenu"></div>
            <div class="head _head">
                <div class="header-s">
                    <div class="menu">
                        <a href="javascript:;" @click="goback()">
                            <span class="return" name="return"></span>
                            <span class="menuBtn hide" name="menuBtn"></span>
                        </a>
                    </div>
                    <h1 name="title">下载专区</h1>
                    <!--登录前-->
                    <div class="btn hide" name="beforeLogin">
                        <a href="#login" page="login">
                            <button class="log" name="login">登录</button>
                        </a>
                        <a href="#enroll" page="enroll">
                            <button class="enr" name="enroll">注册</button>
                        </a>
                    </div>
                    <!--登录后-->
                    <div class="btn" name="afterLogin">
                        <a href="javascript:;" page="transfer" style="text-align: center;margin-right: 0.1rem">
                            <img src="/static/images/ico/balance.png" >
                            <span data-wallet="allTotal">0.00</span>
                        </a>
                        <a href="javascript:;" name="signOut">
                            <img src="/static/images/ico/out.png" >
                            <span>退出</span>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <!-- 主頁面 -->
        <main class="main_act">
            <div id="download">
                <!-- 头部-->
                <div class="header after"></div>
                <!-- 内容-->
                <div class="content">
                    <ul>
                        <li class="li1">
                            <div class="left-icon">
                                <i>
                                    <img src="/static/images/ico/dow-1-icon.png" >
                                </i>
                                <span>PT客户端</span>
                            </div>
                            <div class="right-txt">
                                <p class="cet">Playtech-</p>
                                <p>最好的老虎机供应商</p>
                                <span>游戏种类丰富，产品齐全</span>
                                <a href="http://mgames.jackpotmatrix.com" target="_blank">
                                    <img src="/static/images/ico/and.png" >
                                </a>
                            </div>
                        </li>
                        <li class="li2">
                            <div class="left-icon">
                                <i>
                                    <img src="/static/images/ico/dow-2-icon.png" >
                                </i>
                                <span>AG客户端</span>
                            </div>
                            <div class="right-txt">
                                <p class="cet">掌握赢钱机会</p>
                                <p class="cet">全选投注功能</p>
                                <span>产品包含：真人视讯、电子游戏</span>
                                <a href="http://agmbet.com/?qr=hRSp0n" target="_blank">
                                    <img src="/static/images/ico/and.png" >
                                </a>
                                <a href="http://agmbet.com/?qr=hRSp0n" target="_blank">
                                    <img src="/static/images/ico/ios.png" >
                                </a>
                            </div>
                        </li>
                        <li class="li3">
                            <div class="left-icon">
                                <i>
                                    <img src="/static/images/ico/dow-3-icon.png" >
                                </i>
                                <span>MG客户端</span>
                            </div>
                            <div class="right-txt">
                                <p>多种经典游戏任您选</p>
                                <p class="cet">数种累计奖金</p>
                                <span>游戏运行流畅，操作简单</span>
                                <a href="http://resigner.valueactive.eu/igaminga4.apk" target="_blank">
                                    <img src="/static/images/ico/and.png" >
                                </a>
                            </div>
                        </li>
                        <li class="li4">
                            <div class="left-icon">
                                <i>
                                    <img src="/static/images/ico/dow-4-icon.png" >
                                </i>
                                <span>GG客户端</span>
                            </div>
                            <div class="right-txt">
                                <p>赋予玩家极致的游戏</p>
                                <p>感官体验的精品游戏</p>
                                <span>技高一筹吸引玩家眼球</span>
                                <a href="http://download.beiying777.com/TCBWS_GGMobile_1.53.apk" target="_blank">
                                    <img src="/static/images/ico/and.png" >
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</template>
<script>
export default {
    methods: {
        goback() {
            this.$router.go(-1)
        }
    }
}
</script>

