<template>

</template>

<script>
import {thirdPartyFn} from '@/utils'

export default {
  name: 'egame',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  methods: {
  
  },
  computed: {
    eGameOpen () {
      return this.$store.state.home.eGameOpen
    }
  }
}
</script>
