<template>
    <div class="main_content">
        <div class="deposit_tab_menu">
            <div id="setting_bank_bt_0" data="third" class="deposit_tab_menu_bt" :class="{ bt_select: !currentSort}" @click="searchGame()">全部
            </div>
            <div id="setting_bank_bt_1" data="third" class="deposit_tab_menu_bt" :class="{ bt_select: currentSort == 'slot'}" @click="searchGame('slot')">拉霸</div>
            <div id="setting_bank_bt_2" data="third" class="deposit_tab_menu_bt" :class="{ bt_select: currentSort == 'desk'}" @click="searchGame('desk')">桌面游戏</div>
            <div id="setting_bank_bt_3" data="third" class="deposit_tab_menu_bt" :class="{ bt_select: currentSort == 'ggl'}" @click="searchGame('ggl')">刮刮乐</div>

            <div id="setting_bank_bt_3" data="third" class="deposit_tab_menu_bt" :class="{ bt_select: currentSort == 'jackpot'}" @click="searchGame('jackpot')">奖池</div>

            <div id="setting_bank_bt_3" data="third" class="deposit_tab_menu_bt" :class="{ bt_select: currentSort == 'free'}" @click="searchGame('free')">免费旋转</div>
        </div>

        <div class="egame_dev">
            <div class="gameList" v-for="(item, index) in eGameData" :key="index" @click="goGame(item)">
                <div class="gameImg">
                    <img :src="'/static/images/egame/' + item[3]"/>
                </div>
                <span>{{ item[2] }}</span>
            </div>
        </div>
    </div>
</template>
<script>
/**
 *  电子 游戏 集中
 */
import {jumpUrl, delay, thirdPartyFn } from '@/utils'

import banner from '@/components/home/banner'
import * as types from '@/store/home/type'

export default {
    name: 'egameList',
    data() {
        return {
            eGameData: [],
            currentGame: '',
			currentSort: '',
        }
    },
    components: {
        banner
    },
    methods: {
        loadData() { // get 电子游戏 数据

            let $this       = this
            let currentGame = this.currentGame;
            // 检查 本地数据
            this.lsCheck(currentGame, (options) => {
                $this.$store.dispatch(types.INITEGAME, options).then(res => {
                    $this.eGameData = JSON.parse(localStorage['eGameList_' + currentGame])
                })
            })
        },
        lsCheck(currentGame, cb) {
            // 2 本地数据完整 先渲染 --》延时 加载 数据 判断
            let currentMD5 = localStorage['eGameList_' + currentGame + '_md5']
            // 本地数据 有 --》 先用本地 先用
            if (localStorage['eGameList_' + currentGame]) {
                this.eGameData = JSON.parse(localStorage['eGameList_' + currentGame])
                delay(() => {
                    cb({supplier: currentGame, md5: currentMD5}) // 带上md5 和 当前游戏 类型 去找是否 有新数据
                }, 3000) // 延时 加载 数据
                return ''
            }
            // 清理 本地 不准确的数据
            if (localStorage['eGameList_' + currentGame + '_md5'] && localStorage['eGameList_' + currentGame + '_md5'].length > 10){
                  // 本地md5 值可用
              cb({supplier: currentGame, md5: localStorage['eGameList_' + currentGame + '_md5'] }); // 拉新数据
              return ''
            }
            // md5 无效 清理 md5 值
            delete localStorage['eGameList_' + currentGame + '_md5']
            cb({supplier: currentGame}); // 拉新数据
        },
      goGame(item) {

            let currentGame  = this.currentGame
            // 具体 游戏跳转 mg.php?user_id=1&action=login&session_id=96c9cc9d8b7f9c62bece2a4b3f41fdcf&gameId=59067

            // 保存当前 游戏数据
            localStorage.egameGo = JSON.stringify(item)


            thirdPartyFn('alone', currentGame) // 去第三方 专门的 跳转页面
        },
        searchGame(sort) { // 游戏 分类
            let currentGame = this.currentGame;
            let data        = JSON.parse(localStorage['eGameList_' + currentGame])
			      this.currentSort = sort
            if (sort) {
                // 过滤
 /*
              $row_rs['with_free_spin'], 9
              $row_rs['is_jackpot'], 10

              */
                if(sort == 'sort'){
                  this.eGameData = window._.filter(data, (val, key) => {
                    return data[key][9] == sort
                  })
                  return ''
                }

              if(sort == 'jackpot'){
                this.eGameData = window._.filter(data, (val, key) => {
                  return data[key][10] == sort
                })
                return ''
              }


                this.eGameData = window._.filter(data, (val, key) => {
                    return data[key][5] == sort
                })
                return ''
            } else {
                // 放过
                this.eGameData = JSON.parse(localStorage['eGameList_' + currentGame])
            }
        }
    },
    mounted() {
        // console.log(this.$router.currentRoute.path, '-------------')
        let currentGame  = this.$router.currentRoute.path.split('/wap/')[1]
        this.currentGame = currentGame
        this.loadData()

    }
}

</script>
