<template>
 <div class="entranceNav" data-type="entrance"><!--游戏导航-->
         <ul id="newUesrGide1" class="clerfix">
           <li><a href="javascript:;" page="lotteryNav"><span class="ico bg"><img class="hide"
                                                                                  src="/static/images/ico/cp.png" alt="彩票"><i
             type="new">新</i></span>
             <p>彩票</p></a></li>
           <li><a href="javascript:;" page="casino"><span class="ico bg"><img class="hide"
                                                                              src="/static/images/ico/casino.svg" alt="视讯"><i
             type="plus">+1</i></span>
             <p>视讯</p></a></li>
           <li><a href="javascript:;" page="slot_nav" @click='goPath("egame")'><span class="ico bg">
             <img class="hide" src="/static/images/ico/slot.svg" alt="电子"><i
             type="plus">+1</i></span>
             <p>电子</p></a></li>
           <li><a href="javascript:;" page="fishing"><span class="ico bg"><img class="hide"
                                                                               src="/static/images/ico/fishing.svg"
                                                                               alt="捕鱼"></span>
             <p>捕鱼</p></a></li>
           <li data-gamepe="pe"><a href="javascript:;"><span class="ico bg"><img class="hide"
                                                                                 src="/static/images/ico/pe.png" alt="体育"></span>
             <p>体育</p></a></li>
         </ul><!--其他导航-->
         <ul lass="clerfix">
           <li id="newUesrGide2"><a href="javascript:;" page="transfer"><span class="ico animated bg"
                                                                                 data-ico="deposit"><img
             class="hide" src="/static/images/ico/deposit.svg" alt="充值"></span>
             <p>充值</p></a></li>
           <li><a href="javascript:;" page="sign_in"><span class="ico bg"><img class="hide"
                                                                               src="/static/images/ico/signIn.png"
                                                                               alt="签到"></span>
             <p>签到</p></a></li>
           <li><a href="javascript:;" page="vip"><span class="ico bg"><img class="hide" src="/static/images/ico/vip.png"
                                                                           alt="VIP"></span>
             <p>VIP</p></a></li>
           <li><a href="javascript:;" page="integral"><span class="ico bg"><img class="hide"
                                                                                src="/static/images/ico/integral.png"
                                                                                alt="商场"></span>
             <p>商城</p></a></li>
           <li @click="goPath('download')"><a href="javascript:;" page="download"><span class="ico bg"><img class="hide"
                                                                                src="/static/images/ico/download.png"
                                                                                alt="APP"></span>
             <p>APP</p></a></li>
         </ul>
       </div>
</template>

<script>
  import * as utils from '@/utils'
export default {
  name: 'entranceNave',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  methods: {
        goPath(goTo){
  let that = this
  let {jumpUrl} = utils
  try {
  that.openLeft('close')
} catch (e) {
}
  jumpUrl(goTo,that)
      
      }
  }
}
</script>
