<template>
  <footer id="footer" class="footer">
    <div class="foot">
      <ul data-pagenav="pageNav">
        <li page="main" class="act"><span class="ico ico-home"></span> <span>首页</span> <i></i></li>
        <li page="transfer"><span class="ico ico-purse"></span> <span>资金</span> <i></i></li>
        <li page="activity"><span class="ico ico-activity"></span> <span>优惠</span> <i></i></li>
        <li name="service"><span class="ico ico-messgae"></span> <span>客服</span>
          <div class="kf hide _kf">
            <dl name="method">
              <dd data-name="openKf"><a href="javascript:;" target="_blank"><img src="/static/images/kf1.png" >
                <span>在线客服</span></a></dd>
              <dd data-name="openQrKf"><img src="/static/images/kf3.png" > <span>微信客服</span></dd>
            </dl>
            <i></i></div>
          <i></i></li>
        <li page="memberIndex"><span class="ico ico-user"></span> <span>我的</span> <i></i></li>
      </ul>
    </div>
  </footer>
</template>

<script>
  export default {
  name: 'footer'
}
</script>
