<template>
  <div id="forgetPassword">
    <form onsubmit="return false">
      <ul>
        <li><span>用户名:</span>
          <input type="text" placeholder="请输入您的用户名" name="account" v-model="account" @input="accountFun()">
        </li>
        <li><span>邮箱:</span>
          <input type="text" placeholder="请输入您注册时提交的邮箱" name="email">
        </li>
      </ul>
      <div class="submitBox clerfix"><a href="javascript;;" :href="!onLineChat? 'javascript:void(0)' : onLineChat" target="_blank">联系客服</a>
        <div class="submit">
          <button name="submit" @click="send()">提交</button>
          <button name="loading" class="loading hide">提交中<span class="tcg-loading"></span></button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  name: 'forgetPassword',
  components: {},
  data() {
    return {
      account: '',
      email: '',
      checkCode: '',
    }
  },
  computed: {
    onLineChat() {
      return this.$store.state.home.onLineChat
    }
  },
    methods: {
      send() {

        if (!this.account) {
          window.layer.msgWarn('账号不能为空！')
          return false
        }
        if (this.email === '') {
          window.layer.msgWarn('邮箱不能为空！')
          return false
        }


        if (!/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(this.email)) {
          window.layer.msgWarn('您输入的邮箱格式不正确！')
          return false

        }


        this.$store.dispatch(types.FORGOT_PASSWORD, {
          'account': this.account,
          'email': this.email
        }).then(res => {
          if (res.status === statusCode.statusConst.SUCCESS) {
            window.layer.msgWarn(res.msg, function() {
              window.layer.close()
              window.router.push('/wap/login')
            })
          }
        })
      }
    }
  }

</script>
