<template>
          <!-- 游戏 列表展示-->
          <div class="gameBox _gameBox">
            <ul class="game-cont" data-name="slot" style="width: 1310.4px"><!-- 作为默认数据 放在加载的时候出现空白界面 -->
              <li >
                  <div class="menu _menu">
                  <span >收藏游戏</span>
                  <span >立即游戏</span></div>
                  <img src="/static/images/hotList/a1.png" >
                  <strong>海洋世界</strong>

              </li>
                <li >
                    <div class="menu _menu">
                    <span >收藏游戏</span>
                    <span >立即游戏</span></div>
                    <img src="/static/images/hotList/a1.png" >
                    <strong>海洋世界</strong>

                </li>
            </ul>

          </div>
</template>

<script>

export default {
  name: 'gameBox',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>
