<template>

  <div class="titleBox _titleBox hide"> <!-- 最近游戏不要放这里 -->
    <div class="replace clerfix"><span class="titleTextL">最近游戏</span>
      <div class="titleTextR"><span class="titleText" data-replace="recentGame"
                                    data-gametype="recentGame">换一批</span> <i
        class="loading _loading hide"><img src="/static/images/ico/loading.svg"></i></div>
    </div><!-- 游戏-->
    <div class="gameBox _gameBox">
      <ul class="game-cont" data-name="recentGame"></ul>
    </div>

</template>

<script>

export default {
  name: 'gaimingzi',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>
