<template>
  <div class="newUesrGide _newUesrGide hide">
        <div class="shutDown _shutDown"><img src="/static/images/message/close.png"></div>
        <div id="textBox1" class="textBox _gideBorder hide">
          <div class="text_img _text_img"><p>游戏快捷入口</p><i class="img"></i></div>
        </div>
        <div id="textBox2" class="textBox2 _gideBorder hide">
          <div class="text_img _text_img"><p>存款入口</p><i class="img"></i></div>
        </div>
        <div id="textBox3" class="textBox3 _gideBorder hide">
          <div class="text_img _text_img"><p>双击可收藏游戏</p><i class="img"></i></div>
          <i class="round"></i> <i class="round2"></i></div>
        <div class="sub">
          <button name="jpwNext">下一步</button>
        </div>
      </div>
</template>

<script>

export default {
  name: 'gaimingzi',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>
