<template>
  <div id="help_center"><!-- 内容-->
    <div class="content">
      <div class="toggle">
        <ul data-name="nav">
          <li data-type="type1" v-bind:class="{ act: helpTxt.type1}" @click='tab("type1")'>关于帐号</li>
          <li data-type="type2" v-bind:class="{ act: helpTxt.type2}" @click='tab("type2")'>如何存款</li>
          <li data-type="type3" v-bind:class="{ act: helpTxt.type3}" @click='tab("type3")'>如何转账</li>
          <li data-type="type4" v-bind:class="{ act: helpTxt.type4}" @click='tab("type4")'>如何提款</li>
          <li data-type="type5" v-bind:class="{ act: helpTxt.type5}" @click='tab("type5")'>关于奖励</li>
          <li data-type="type6" v-bind:class="{ act: helpTxt.type6}" @click='tab("type6")'>客户端下载</li>
          <li data-type="type7" v-bind:class="{ act: helpTxt.type7}" @click='tab("type7")'>关于我们</li>
          <li data-type="type8" v-bind:class="{ act: helpTxt.type8}" @click='tab("type8")'>博彩责任</li>
          <li data-type="type9" v-bind:class="{ act: helpTxt.type9}" @click='tab("type9")'>隐私声明</li>
          <li data-type="type10" v-bind:class="{ act: helpTxt.type10}" @click='tab("type10")'>游戏介绍</li>
        </ul>
      </div>
      <div class="main" data-name="content"><!--问题一内容-->
        <div data-show="type1" class="optiscroll" v-bind:class="{ hide: !helpTxt.type1}">
          <dl>
            <dt>忘记帐号？</dt>
            <dd>您可以通过提供注册电话，邮箱，姓名或者昵称联系客服人员帮您找回账号。</dd>
          </dl>
          <dl>
            <dt>我记得账号，但是忘了密码？</dt>
            <dd>您可以通过点击忘记密码，填写注册时的电子邮箱自助找回密码，或联系在线客服提供注册邮箱重置密码找回。</dd>
          </dl>
          <dl>
            <dt>为何会有不同钱包账户？</dt>
            <dd>我们设有三种钱包类型——中心钱包 / 产品钱包/积分钱包。</dd>
            <dd>1.中心钱包是贝赢所有产品的现金钱包，存款和提款操作均在中心钱包进行。</dd>
            <dd>2.产品钱包中的资金可直接进行投注，也可转至中心钱包；其他产品钱包资金可互转。</dd>
            <dd>3.积分钱包的资金是贝赢的虚拟货币，所有贝赢的注册用户，在完成一笔存款后，账户自动获得积分。（存款10元获得1积分）。</dd>
            <dd>积分不可直接进行投注，仅可用做兑换筹码，优惠活动和商城礼品。</dd>
          </dl>
        </div><!--问题二内容-->
        <div data-show="type2" class="optiscroll" v-bind:class="{ hide: !helpTxt.type2}">
          <dl>
            <dt></dt>
            <dd>存款前，请确保您已经成功注册成为贝赢会员，如未注册，请点击 <a href="#enroll" page="enroll"
                                                 style="color: #13b1fb">此处注册</a></dd>
            <dd>贝赢目前提供四种支付方式：1. 快捷支付 2. 微信转账 3.QQ扫码 4.银行转账 5.支付宝 不支持信用卡支付。</dd>
          </dl>
          <dl>
            <dt>快捷支付</dt>
            <dd>1.请使用IE浏览器充值，并且需要开通网银或电子银行，进行在线支付，安全可靠，在线充值自动即时入账；最低存款10，最高存款50000，超出额度建议选择银行转账</dd>
            <dd>2.填写充值金额——选择充值银行——点击立即充值——按照页面提示登录个人网上银行——充值完成。</dd>
            <dd>3.填写正确的附言编码，即可实时到账，跨行用户请使用跨行快汇才能极速到账。</dd>
          </dl>
          <dl>
            <dt>微信扫码</dt>
            <dd>微信扫码充值 - 直接使用微信扫描二维码，完成支付即可，安全可靠到帐速度快。</dd>
          </dl>
          <dl>
            <dt>微信转账</dt>
            <dd>微信转账 - 提交存款申请之后联系在线客服获取二维码，加好友转账即可。此操作仅需两分钟即可完成充值。</dd>
          </dl>
          <dl>
            <dt>QQ扫码</dt>
            <dd>QQ扫码- 使用QQ钱包进行扫码支付，安全可靠到帐速度快。</dd>
          </dl>
          <dl>
            <dt>银行转账</dt>
            <dd>1.登录游戏账号——我的账户——充值——网银转账，复制收款人信息</dd>
            <dd>2.登录个人网上银行——转账汇款——收款卡号处填写复制的收款银行卡信息——填写汇款金额——附言处填写附言代码——充值完成</dd>
            <dd>温馨提示：</dd>
            <dd>1).即通过支付宝、ATM、柜台、网银等方式手工转账到公司账户，最低存款额10，最高存款金额20万。</dd>
            <dd>2).为了更快速的为您查询款项，请联系在线客服提供带双方账户信息的交易记录单据。仅限VIP白银及以上会员，为您提供更便捷的充值渠道。</dd>
          </dl>
          <dl>
            <dt>支付宝</dt>
            <dd>支付宝 - 可在线扫码支付或选择转银行卡付款。如果手工转账，需要提供转账截图，联系客服协助。</dd>
          </dl>
        </div><!--问题三内容-->
        <div data-show="type3" class="optiscroll" v-bind:class="{ hide: !helpTxt.type3}">
          <dl>
            <dt>转账</dt>
            <dd>登录游戏账号——我的账户——转账</dd>
            <dd>游戏前，需要将主钱包的资金转入相应的游戏平台方可投注。</dd>
            <dd>进入【个人中心】-刷新查询各产品钱包余额。在【转账】面板“转账”从中下拉目录，选择需要的产品钱包进行转账。</dd>
          </dl>
          <dl>
            <dt>转账提示成功了，钱却没了，怎么办？</dt>
            <dd>转账时请先退出游戏平台再操作，如果转账掉单，请联系在线客服查询补单。</dd>
          </dl>
        </div><!--问题四内容-->
        <div data-show="type4" class="optiscroll" v-bind:class="{ hide: !helpTxt.type4}">
          <dl>
            <dt>提款</dt>
            <dd>登录游戏账号——我的账户——提款</dd>
            <dd>第一次提款请先绑定提款卡，绑卡前，需完成手机验证方可绑定银行卡。登录账户-进入个人中心-安全信息- 输入银行卡信息完成绑定。最多可绑定3张提款卡，如需解绑请联系在线客服删除绑定。
            </dd>
            <dd>
              提款前，需将游戏平台的余额转至中心钱包，方能发起提款申请。未申请优惠情况下，仅需完成本金的一倍流水即可提款；参加优惠需完成相应的流水要求，方可提款。发起提款申请之后，提现资金将变成冻结状态，审核通过将打款至您的银行账户。
            </dd>
            <dd>正常情况下，单笔最低提款金额为100元，单笔上限为49999，日提款次数上限为5次。VIP会员日提款上限100万。</dd>
          </dl>
          <dl>
            <dt>若出现以下情况，您将需要提供身份证明文件:</dt>
            <dd>1.申请提款所提交的银行资料与注册信息不一致。</dd>
            <dd>2.会员账户与银行账户资料不一致。</dd>
            <dd>3.如有必要，我们会要求您提供更多文件资料以进行核实。</dd>
          </dl>
          <dl>
            <dt>为什么要进行身份核实？</dt>
            <dd>作为真钱游戏特许经营者，我们必须确保玩家的账户信息正确，才能让玩家进行提款。同时防止潜在的在线欺诈，洗钱行为。</dd>
          </dl>
        </div><!--问题五内容-->
        <div data-show="type5" class="optiscroll" v-bind:class="{ hide: !helpTxt.type5}">
          <dl>
            <dt>奖励简介</dt>
            <dd>为感谢广大会员长期的支持与厚爱，贝赢特别于2016年10月推出崭新的积分奖励计划 以及 国际劳动节、国庆节、农历新年的回馈奖励。</dd>
            <dd>当您拥有贝赢账户，您将自动加入我们的忠诚奖励计划中。</dd>
          </dl>
          <dl>
            <dt>简单快捷的赢取积分方式：</dt>
            <dd>充值10元即可获得1积分，会员等级越高，获得的积分比例越高。</dd>
            <dd>拥有足够的积分后，您可以用积分来兑换积分商城的现金筹码，优惠活动，各项电子产品。</dd>
            <dd>积分不可转让给他人，会员不可将多个账户的积分进行累积。</dd>
            <dd>兑换自申请时期，工作人员将在一个工作日内进行受理。</dd>
            <dd>当您的申请不符合贝赢的条款和规定,积分兑换将会被取消。取消后,您的积分将会自动返还。</dd>
          </dl>
        </div><!--问题六内容-->
        <div data-show="type6" class="optiscroll" v-bind:class="{ hide: !helpTxt.type6}">
          <dl>
            <dt>下载简介</dt>
            <dd>目前PT、MG老虎机以及GG捕鱼客户端仅支持安卓系统，操作方法一致。</dd>
            <dd>1.于电脑网页版-下载中心-扫描客户端二维码或登录手机网址www.beiying888.com进入下载中心进行本地下载。</dd>
            <dd>
              <div class="qrImg"><span>PT手机端</span><img src="/static/imagesphone-qr/pt-qr.jpg"></div>
            </dd>
            <dd>2.建议使用UC浏览器进行扫描，不建议使用微信、QQ扫一扫。下载完毕，点击安装。</dd>
            <dd>3.选择语言-简体中文，"首次启动初始化"过程，只需安装一次。</dd>
            <dd>4.登录您的账号</dd>
          </dl>
          <dl>
            <dt>登录简介</dt>
            <dd>首次使用客户端游戏，需要进入网页版任意一款游戏，将会自动同步客户端密码。或联系在线客服协助手动同步密码方可进行游戏。</dd>
            <dd>用户名 ：前缀加BWS,账号字母大写。 例：帐号win888，密码a123456。</dd>
            <dd>输入账号：BWSWIN888</dd>
            <dd>输入密码：a123456</dd>
            <dd>点击登录 / Login</dd>
          </dl>
          <dl>
            <dt>温馨提示：</dt>
            <dd>1.如果多次操作提示账号或密码不正确，导致账号被冻结，请及时联系在线客服帮您解锁。</dd>
            <dd>2.消息提示"您已成功登入"请在进入游戏之前先下载您喜欢的PlayTech 游戏，下载游戏过程只需一次。</dd>
            <dd>3.仍有问题？请与我们的 <a href="https://secure.livechatinc.com/licence/8454041/open_chat.cgi?groups=0"
                                target="_blank" style="color: #13b1fb">客服人员</a> 聊聊吧。
            </dd>
          </dl>
        </div><!--问题七内容-->
        <div data-show="type7" class="optiscroll" v-bind:class="{ hide: !helpTxt.type7}">
          <dl>
            <dt></dt>
            <dd>1.贝赢同时取得了菲律宾CEZA和 First Cagayan 的充分授权，我们将严格按照这些管理机构发布的规则进行运营。</dd>
            <dd>
              2.贝赢提供品种丰富多样的在线娱乐游戏，渴望为会员们提供最有价值的娱乐平台，从多样化的游戏平台到每月的优惠活动以及在线娱乐红利。不仅有丰厚的首存红利，还提供超高返水，VIP会员每月提供免费筹码。但我们相信诚信比红利更重要。
            </dd>
            <dd>3.贝赢一直坚持以公平、公正、公开的原则经营并一直秉承。不惜重金挖掘行业最佳员工以确保提供给客户全心全意的服务和最清楚的信息。</dd>
            <dd>4.贝赢提供多样的安全有效的支付方式并且坚持“反洗钱”为宗旨，并配合第三方金融监管机构，以确保遵守最高标准。</dd>
            <dd>5.无论是Web还是APP,贝赢已经做足了准备，系统稳若磐石。选择贝赢，你离成功更近一步。</dd>
          </dl>
        </div><!--问题八内容-->
        <div data-show="type8" class="optiscroll" v-bind:class="{ hide: !helpTxt.type8}">
          <dl>
            <dt></dt>
            <dd>1.贝赢旨在打造品牌，为玩家提供一个优质的娱乐平台，确保游戏公平公正。</dd>
            <dd>2.单笔提款金额上限5万，VIP会员日提款上限100万，日提款上限5次。</dd>
            <dd>3.贝赢推行理性博彩，努力减少问题博彩的负面影响并大力推广理性博彩。</dd>
            <dd>4.我们希望会员把博彩当做一种娱乐休闲项目，对博彩有自己的认识，在自己能承受的的精力和金钱范围内进行娱乐。合理安排自己在博彩中的时间和精力，避免连续的损失。</dd>
            <dd>
              5.对于一些客户希望暂时远离博彩，您可以申请关闭账户。我们提供三个月，半年，两年的关闭账户服务。请您发送邮件至cs@beiying88.com。在确认是您本人的意愿后，您的账号将会被关闭。
            </dd>
          </dl>
          <dl>
            <dt>年龄限制:</dt>
            <dd>未满18岁是禁止赌博的，贝赢将保留对会员所提供年龄信息核实的权利，如有发现年龄证明与实际提供的不符，我们将关闭账号以及冻结剩余资金。</dd>
          </dl>
        </div><!--问题九内容-->
        <div data-show="type9" class="optiscroll" v-bind:class="{ hide: !helpTxt.type9}">
          <dl>
            <dt></dt>
            <dd>
              1.贝赢娱乐十分尊重及重视会员的隐私权，所有数据的内部出入将受到严格限制和严密监控，这是我们一直遵循的隐私权政策宗旨。我们将竭力保证您的信息与数据安全，绝不会泄露您的个人资料给第三方。
            </dd>
            <dd>2.贝赢将可能向会员要求提供以下个人信息：包括姓名、电话号码、电子邮件、身份证。</dd>
            <dd>3.所有信息将可能使用于贝赢推广计划，包括产品推广、服务提升、奖励计划和其他特别的促销计划。</dd>
            <dd>4.当促销推广产品和服务时，我们将会尊重您的隐私权。如您不希望收到我们的电话回访或邮件，请您使用邮件 cs@beiying88.com</dd>
            <dd>
              5.我们希望能与每一位贝赢会员进行有效沟通。您的建议与意见，关心或不满，我们都十分重视。如果你有话想对我们说，不必犹豫，请将它发送至：membercare@beiying.com。任何来自会员的声音，贝赢都将无比珍视。
            </dd>
          </dl>
        </div><!--问题十内容-->
        <div data-show="type10" class="optiscroll" v-bind:class="{ hide: !helpTxt.type10}">
          <dl>
            <dt>百家乐</dt>
            <dd>长期以来，百家乐是亚洲最受欢迎的游戏，玩法简单，却刺激紧张!本游戏采用8副牌（每副牌52张），游戏牌数合计416张。</dd>
            <dd>操作及下注指南：</dd>
            <dd>点击下注的筹码，再点击桌上下注任何一块( 闲家、庄家或平局)。</dd>
            <dd>闲家和庄家将获发两张牌，加起来等於10作0点，总和超过9，则只算总数中的个位。</dd>
            <dd>闲、庄先各派两张牌，以闲先发，如有出现天生赢家，即牌面和是8或者9点，即出游戏结果。</dd>
            <dd>如第一轮未分出胜负需要再按百家乐补牌规则进行第二轮发牌，最多每方3张牌，谁最接近9点即为胜方，而相同点数即和局。</dd>
          </dl>
          <dl>
            <dt>1.补牌规则</dt>
            <dd>
              <table align="center" border="1" cellpadding="0" cellspacing="0"
                     style="width:100%; height: 400px">
                <thead>
                <tr>
                  <th>闲两牌合<br>计点数</th>
                  <th>(闲家)</th>
                  <th>庄两牌合计点数</th>
                  <th>(庄家)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td style="text-align:center">0</td>
                  <td style="text-align:center">必须博牌</td>
                  <td style="text-align:center">0</td>
                  <td style="text-align:center">必须博牌</td>
                </tr>
                <tr>
                  <td style="text-align:center">1</td>
                  <td style="text-align:center">必须博牌</td>
                  <td style="text-align:center">1</td>
                  <td style="text-align:center">必须博牌</td>
                </tr>
                <tr>
                  <td style="text-align:center">2</td>
                  <td style="text-align:center">必须博牌</td>
                  <td style="text-align:center">2</td>
                  <td style="text-align:center">必须博牌</td>
                </tr>
                <tr>
                  <td style="text-align:center">3</td>
                  <td style="text-align:center">必须博牌</td>
                  <td style="text-align:center">3</td>
                  <td style="text-align:center">若闲家博得第三张牌是8点，庄家不得博牌</td>
                </tr>
                <tr>
                  <td style="text-align:center">4</td>
                  <td style="text-align:center">必须博牌</td>
                  <td style="text-align:center">4</td>
                  <td style="text-align:center">若闲家博得第三张牌是0，1，8，9点，<br>庄家不得博牌</td>
                </tr>
                <tr>
                  <td style="text-align:center">5</td>
                  <td style="text-align:center">必须博牌</td>
                  <td style="text-align:center">5</td>
                  <td style="text-align:center">若闲家博得第三张牌是0，1，2，3，8，9点，<br>庄家不得博牌</td>
                </tr>
                <tr>
                  <td style="text-align:center">6</td>
                  <td style="text-align:center">不得博牌</td>
                  <td style="text-align:center">6</td>
                  <td style="text-align:center">若闲家博得第三张牌是6 或 7点，<br>庄家必须博牌</td>
                </tr>
                <tr>
                  <td style="text-align:center">7</td>
                  <td style="text-align:center">不得博牌</td>
                  <td style="text-align:center">7</td>
                  <td style="text-align:center">不得博牌</td>
                </tr>
                <tr>
                  <td style="text-align:center">8</td>
                  <td style="text-align:center">例牌，即定胜负</td>
                  <td style="text-align:center">8</td>
                  <td style="text-align:center">例牌，即定胜负</td>
                </tr>
                <tr>
                  <td style="text-align:center">9</td>
                  <td style="text-align:center">例牌，即定胜负</td>
                  <td style="text-align:center">9</td>
                  <td style="text-align:center">例牌，即定胜负</td>
                </tr>
                </tbody>
              </table>
            </dd>
          </dl>
          <dl>
            <dt>2.派彩赔率：</dt>
            <dd>
              本游戏提供百家乐玩法和免佣百家乐玩法。这两种玩法的博牌规则和投注种类一致，但投注庄的派彩方式有区别。不同平台的同一游戏玩法，赔率可能不一样，具体以各游戏厅界面所展示的赔率为准。以下赔率以AG国际厅为例：
            </dd>
            <dd>
              <table align="center" border="1" cellpadding="0" cellspacing="0"
                     style="width:100%;height: 224px">
                <thead>
                <tr style="height: 30px">
                  <th>投注项目</th>
                  <th>赔率</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td style="text-align:center">闲家</td>
                  <td style="text-align:center">1 ：1 (开和局时退下注金额)</td>
                </tr>
                <tr>
                  <td style="text-align:center">庄家</td>
                  <td style="text-align:center">1:0.95</td>
                </tr>
                <tr>
                  <td style="text-align:center">和局</td>
                  <td style="text-align:center">1:8</td>
                </tr>
                <tr>
                  <td style="text-align:center">庄对子</td>
                  <td style="text-align:center">1:11</td>
                </tr>
                <tr>
                  <td style="text-align:center">闲对子</td>
                  <td style="text-align:center">1:11</td>
                </tr>
                <tr>
                  <td style="text-align:center">大</td>
                  <td style="text-align:center">1:0.5</td>
                </tr>
                <tr>
                  <td style="text-align:center">小</td>
                  <td style="text-align:center">1:1.5</td>
                </tr>
                </tbody>
              </table>
            </dd>
          </dl>
          <dl>
            <dt>免用百家乐</dt>
            <dd>免佣点数百家乐是由免佣百家乐演变而来，不同的是免佣点数百家乐提供附加注（也叫边注），增加了「庄天牌赢」、「闲天牌赢」、「庄总点数0 ～ 9」以及「闲总点数0～
              9」投注项目，庄／闲总点数为独立派彩，不受该牌局胜/负/和的影响。
            </dd>
            <dd>免佣百家乐和抽佣百家乐赔率对照表：</dd>
            <dd>
              <table align="center" border="1" cellpadding="0" cellspacing="0"
                     style="width:100%;height: 108px">
                <thead>
                <tr style="height: 30px">
                  <th>赔付：</th>
                  <th>压庄赔率</th>
                  <th>压闲赔率</th>
                  <th>压和</th>
                  <th>压Super 6</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td style="text-align:center">百家乐Super 6</td>
                  <td style="text-align:center">1:1 (庄家以6点获胜时，1 :0.5)</td>
                  <td style="text-align:center">1:1</td>
                  <td style="text-align:center">1:8</td>
                  <td style="text-align:center">1:12</td>
                </tr>
                <tr>
                  <td style="text-align:center">传统百家乐</td>
                  <td style="text-align:center">1:0.95</td>
                  <td style="text-align:center">1:1</td>
                  <td style="text-align:center">1:8</td>
                  <td style="text-align:center">-</td>
                </tr>
                </tbody>
              </table>
            </dd>
          </dl>
          <dl>
            <dt>在免佣百家乐中:</dt>
            <dd>选择押庄赢1赔1 免抽水（如庄6点赢， 1赔0.5）</dd>
            <dd>选择押闲赢 1赔1 免抽水</dd>
            <dd>选择押和局 1赔8 免抽水</dd>
            <dd>庄天牌赢：庄首两张牌的点数总和为8或9点并胜出该牌局。</dd>
            <dd>闲天牌赢：闲首两张牌的点数总和为8或9点并胜出该牌局。</dd>
            <dd>庄/闲总点数投注：指庄或闲在该牌局中获得的点数总和，根据相对应的赔率派彩，并不计算庄/闲在该牌局中的胜负。</dd>
          </dl>
          <dl>
            <dt>赔率:</dt>
            <dd>
              <table align="center" border="1" cellpadding="0" cellspacing="0"
                     style="width:100%;height: 400px">
                <thead>
                <tr style="height: 30px">
                  <th>投注种类</th>
                  <th>赔率</th>
                  <th>投注种类</th>
                  <th>赔率</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td style="text-align:center">庄对</td>
                  <td style="text-align:center">1:11</td>
                  <td style="text-align:center">闲对</td>
                  <td style="text-align:center">1:11</td>
                </tr>
                <tr>
                  <td style="text-align:center">庄天牌赢</td>
                  <td style="text-align:center">1:4</td>
                  <td style="text-align:center">闲天牌赢</td>
                  <td style="text-align:center">1:4</td>
                </tr>
                <tr>
                  <td style="text-align:center">庄总点数0</td>
                  <td style="text-align:center">1:8</td>
                  <td style="text-align:center">闲总点数0</td>
                  <td style="text-align:center">1:8</td>
                </tr>
                <tr>
                  <td style="text-align:center">庄总点数1</td>
                  <td style="text-align:center">1:11</td>
                  <td style="text-align:center">闲总点数1</td>
                  <td style="text-align:center">1:10.5</td>
                </tr>
                <tr>
                  <td style="text-align:center">庄总点数2</td>
                  <td style="text-align:center">1:11</td>
                  <td style="text-align:center">闲总点数2</td>
                  <td style="text-align:center">1:10.5</td>
                </tr>
                <tr>
                  <td style="text-align:center">庄总点数3</td>
                  <td style="text-align:center">1:11</td>
                  <td style="text-align:center">闲总点数3</td>
                  <td style="text-align:center">1:10.5</td>
                </tr>
                <tr>
                  <td style="text-align:center">庄总点数4</td>
                  <td style="text-align:center">1:7</td>
                  <td style="text-align:center">闲总点数4</td>
                  <td style="text-align:center">1:9.5</td>
                </tr>
                <tr>
                  <td style="text-align:center">庄总点数5</td>
                  <td style="text-align:center">1:7.5</td>
                  <td style="text-align:center">闲总点数5</td>
                  <td style="text-align:center">1:9.5</td>
                </tr>
                <tr>
                  <td style="text-align:center">庄总点数6</td>
                  <td style="text-align:center">1:5.5</td>
                  <td style="text-align:center">闲总点数6</td>
                  <td style="text-align:center">1:6</td>
                </tr>
                <tr>
                  <td style="text-align:center">庄总点数7</td>
                  <td style="text-align:center">1:6</td>
                  <td style="text-align:center">闲总点数7</td>
                  <td style="text-align:center">1:5.5</td>
                </tr>
                <tr>
                  <td style="text-align:center">庄总点数8</td>
                  <td style="text-align:center">1:5.5</td>
                  <td style="text-align:center">闲总点数8</td>
                  <td style="text-align:center">1:5.5</td>
                </tr>
                <tr>
                  <td style="text-align:center">庄总点数9</td>
                  <td style="text-align:center">1:6</td>
                  <td style="text-align:center">闲总点数9</td>
                  <td style="text-align:center">1:5.5</td>
                </tr>
                </tbody>
              </table>
            </dd>
          </dl>
          <dl>
            <dt>百家乐大/小</dt>
            <dd>小-总的发牌数等于或者小于4张牌（未有发第五张牌）</dd>
            <dd>大-发牌数为5张或者6张（必须发出第五或六张牌）。庄两或三张牌，闲两或三张牌，共五或六张牌分出胜负或和局， 此局是大。</dd>
          </dl>
          <dl>
            <dt>庄/闲对子</dt>
            <dd>如投注的必须是选择于"闲"或是"庄"前两张牌是对子。</dd>
            <dd>闲/庄对子仅限有效于每靴牌的前65局。</dd>
            <dd>当每一靴牌进入第31局或以後，玩家将不得投注大小。</dd>
          </dl>
          <dl>
            <dt>包桌百家乐</dt>
            <dd>下注模式：</dd>
            <dd>1. 包桌有（旁注，进座下注，进入包桌）三种方式。</dd>
            <dd>2. 当桌台人数已满（7人）时，玩家只能选择旁观下注；</dd>
            <dd>3. 当桌台还有座位时，玩家可以选择进桌下注或者旁观下注；</dd>
          </dl>
          <dl>
            <dt>下注限红：</dt>
            <dd>1. 进入包桌下注：下注限红是游戏桌台定义的限红，不受个人限红的限制。</dd>
            <dd>2. 旁观下注：下注限红是玩家的个人限红与对应不同玩法限红的交集。</dd>
          </dl>
          <dl>
            <dt>桌主的特别权限：</dt>
            <dd>1. 咪牌: 在庄/闲下注之后，可以咪庄或者闲家牌；</dd>
            <dd>2. 飞牌:未下注的情况下直接开牌；</dd>
            <dd>3. 设定包桌：包桌玩家可以设置“是否咪牌”，“是否竖向咪牌”，以及“是否设置进桌密码”；</dd>
            <dd>4. 更换荷官：更换当前荷官；</dd>
            <dd>5. 更换牌靴：若该靴满30局，玩家可以选择换靴。</dd>
          </dl>
          <dl>
            <dt>龙宝百家乐</dt>
            <dd>龙宝百家乐是由传统百家乐演变而来，投注方式与传统百家乐无异，对子投注的结算方式亦与对子百家乐一样。不同的是龙宝百家 乐增加了额外的「龙宝」特别投注。</dd>
            <dd>如下注庄家龙宝或闲家龙宝，派彩会根据不同的胜出点数差距而有所不同。</dd>
            <dd>
              <table align="center" border="1" cellpadding="0" cellspacing="0"
                     style="width:100%;height: 400px">
                <tbody class="colorChange">
                <tr>
                  <td style="text-align:center">以非天牌净胜9点</td>
                  <td style="text-align:center">30</td>
                </tr>
                <tr>
                  <td style="text-align:center">以非天牌净胜8点</td>
                  <td style="text-align:center">10</td>
                </tr>
                <tr>
                  <td style="text-align:center">以非天牌净胜7点</td>
                  <td style="text-align:center">5</td>
                </tr>
                <tr>
                  <td style="text-align:center">以非天牌净胜6点</td>
                  <td style="text-align:center">3</td>
                </tr>
                <tr>
                  <td style="text-align:center">以非天牌净胜5点</td>
                  <td style="text-align:center">2</td>
                </tr>
                <tr>
                  <td style="text-align:center">以非天牌净胜4点</td>
                  <td style="text-align:center">1</td>
                </tr>
                <tr>
                  <td style="text-align:center">以非天牌净胜3点或以下</td>
                  <td style="text-align:center">输</td>
                </tr>
                <tr>
                  <td style="text-align:center">以天牌胜出</td>
                  <td style="text-align:center">1</td>
                </tr>
                <tr>
                  <td style="text-align:center">天和局</td>
                  <td style="text-align:center">退回下注</td>
                </tr>
                <tr>
                  <td style="text-align:center">非天牌和局</td>
                  <td style="text-align:center">输</td>
                </tr>
                </tbody>
              </table>
            </dd>
            <dd>'天牌”解作庄或闲首两张牌的点数总和为 8 或 9 点。</dd>
            <dd>"非天牌"解作庄或闲首两张牌的点数总和并非 8 或 9 点，所有庄或闲需要博第三张牌的情況亦属于非天牌。</dd>
            <dd>例子：闲家以非天牌9点赢，投注闲龙宝1赔30</dd>
          </dl>
          <dl>
            <dt>规则与条款：</dt>
          </dl>
          <dl>
            <dt>1. 开始</dt>
            <dd>第一张开牌后，将基于上第一张纸 牌的牌面(J,Q,K会被视为10)。</dd>
            <dd>每一局的错误将被纠正，不影响游戏进行。否则，它将导致这一 局无效，一个新一将取代。根据情况，娱乐场管理者保留任何无效牌局的权利。</dd>
          </dl>
          <dl>
            <dt>2. 销牌</dt>
            <dd>每一轮的第一张牌将不会在游戏中使用</dd>
            <dd>如果没有销牌，这一局的结果就是无效的。如果没有影响游戏结果，它将在稍后被更正，接下来的游戏将被暂停。</dd>
          </dl>
          <dl>
            <dt>3. 黄色纸牌</dt>
            <dd>如果在游戏中出现黄色纸牌，该局就是最后一局。</dd>
            <dd>如果牌局结束，而黄色纸牌是下一局的销牌，那么下一牌局将不会开始。</dd>
          </dl>
          <dl>
            <dt>4. 公共牌</dt>
            <dd>在所有的游戏中，任何在游戏投注中暴露的牌（销牌除外）牌靴结果 将视为无效。</dd>
            <dd>开始期间暴露的牌面或销牌不影响游戏。</dd>
          </dl>
          <dl>
            <dt>5. 带出多余的纸牌（暴露）</dt>
            <dd>如有一张多余的纸牌暴露，将作为下一手的销牌。</dd>
            <dd>如有两张或以上的纸牌暴露，结果将基于纸牌的规则决定其余牌靴无效并视为作废。</dd>
          </dl>
          <dl>
            <dt>6. 掉落的牌</dt>
            <dd>纸牌在洗牌过程中没有显示在视频中，将会拿起并重新使用。</dd>
            <dd>如果暴露在视频外没有暴露的牌将重新使用，否则，此靴作废，新的牌靴将会开始。</dd>
          </dl>
          <dl>
            <dt>请注意：</dt>
            <dd>荷官发牌时，偶有系统无法判读状况时，此时荷官将重新扫描，直到系统能够完整判读(如遇故障因素将注销所有相关注单/派彩)。</dd>
            <dd>如遇结算错误，按照当期视频结果重新结算。</dd>
          </dl>
          <dl>
            <dt>龙虎</dt>
            <dd>
              龙虎"是扑克游戏中的斗大游戏,闲先下注于"龙","虎"或"和"位置,之后由庄发牌到"龙"位置,之后发牌到"虎"位置,再比较大小,以大为胜方,如两牌点数相同为和,不计花式,只计点数,而牌之大小顺序如下:
            </dd>
            <dd>K,Q,J,10,9,8,7,6,5,4,3,2,A.顺序以K最大,而A最小.</dd>
          </dl>
          <dl>
            <dt>操作及下注指南：</dt>
            <dd>点击下注的筹码，再选择下注 ( 龙、虎或平局 )。</dd>
          </dl>
          <dl>
            <dt>派彩赔率：</dt>
            <dd>不同平台的同一游戏玩法，赔率可能不一样，具体以各游戏厅界面所展示的赔率为准。以下赔率以AG国际厅为例：</dd>
            <dd>
              <table align="center" border="1" cellpadding="0" cellspacing="0"
                     style="width:100%;height: 108px">
                <thead>
                <tr style="height: 30px">
                  <th>投注</th>
                  <th>赔率</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td style="text-align:center">龙</td>
                  <td style="text-align:center">1 ：1 (开和局时，退回一半下注金额</td>
                </tr>
                <tr>
                  <td style="text-align:center">虎</td>
                  <td style="text-align:center">1 ：1 (开和局时，退回一半下注金额</td>
                </tr>
                <tr>
                  <td style="text-align:center">和</td>
                  <td style="text-align:center">1:8</td>
                </tr>
                </tbody>
              </table>
            </dd>
          </dl>
          <dl>
            <dt>骰宝</dt>
            <dd>骰宝是一种古老的中国骰子游戏，玩家押注三个在盅中转动的骰子的旋转结果。多元化的投注种类及吸引的赔率，极受亚洲玩家欢迎。</dd>
          </dl>
          <dl>
            <dt>操作及下注指南：</dt>
            <dd>游戏开始时 ，放置筹码在桌面上任何地方代表一个或多个骰子的组合。在下注时限之内押注，下注完成后，装有骰子的盅将机械自动摇骰。
              视讯将显示三颗骰子停留开出的点数，由荷官输入三点数，同时投注桌面亮起胜出注码和赔率。
            </dd>
          </dl>
          <dl>
            <dt>派彩赔率：</dt>
            <dd>不同平台的同一游戏玩法，赔率可能不一样，具体以各游戏厅界面所展示的赔率为准。以下赔率以AG国际厅为例：</dd>
            <dd>
              <table align="center" border="1" cellpadding="0" cellspacing="0"
                     style="width:100%;height: 256px">
                <thead>
                <tr style="height: 30px">
                  <th>投注项目</th>
                  <th>说明</th>
                  <th>赔率</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td rowspan="2" style="text-align:center">大 / 小</td>
                  <td style="text-align:center">大：总点数 11 至 17</td>
                  <td rowspan="2" style="text-align:center">1:1</td>
                </tr>
                <tr>
                  <td style="text-align:center">小：总点数 4 至 10 ( 遇围骰庄家通吃 )</td>
                </tr>
                <tr>
                  <td rowspan="2" style="text-align:center">单 / 双</td>
                  <td style="text-align:center">单：总点数和为单数（如遇围骰庄家通吃）</td>
                  <td rowspan="2" style="text-align:center">1:1</td>
                </tr>
                <tr>
                  <td style="text-align:center">双：总点数和为双数（如遇围骰庄家通吃）</td>
                </tr>
                <tr>
                  <td style="text-align:center">围骰</td>
                  <td style="text-align:center">三粒骰子平面点数相同( 如 1,1,1 围骰 )</td>
                  <td style="text-align:center">1:150</td>
                </tr>
                <tr>
                  <td style="text-align:center">全围</td>
                  <td style="text-align:center">三粒骰子平面由1至6点数相同</td>
                  <td style="text-align:center">1:24</td>
                </tr>
                </tbody>
              </table>
            </dd>
          </dl>
          <dl>
            <dt>下注在单一个点数：</dt>
            <dd>
              <table align="center" border="1" cellpadding="0" cellspacing="0"
                     style="width:100%;height: 256px">
                <thead>
                <tr style="height: 30px">
                  <th>投注项目</th>
                  <th>说明</th>
                  <th>赔率</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td style="text-align:center">出现单骰</td>
                  <td style="text-align:center">投注每颗骰子 1 至 6<br>中任意点数，点数出现 1 次</td>
                  <td style="text-align:center">1:1</td>
                </tr>
                <tr>
                  <td style="text-align:center">出现双骰</td>
                  <td style="text-align:center">投注每颗骰子 1 至 6<br>中任意点数，点数出现 2 次</td>
                  <td style="text-align:center">1:2</td>
                </tr>
                <tr>
                  <td style="text-align:center">出现全骰</td>
                  <td style="text-align:center">投注每颗骰子 1 至 6<br>中任意点数，点数出现 3 次</td>
                  <td style="text-align:center">1:3</td>
                </tr>
                <tr>
                  <td style="text-align:center">对子 ( 双骰、长牌 )</td>
                  <td style="text-align:center">投注任意对子 ( 如双 1 点 ) ，开出<br>2 颗所投注的骰子</td>
                  <td style="text-align:center">1:8</td>
                </tr>
                <tr>
                  <td style="text-align:center">牌九式 ( 骨牌、短牌 )</td>
                  <td style="text-align:center">投注任意两颗骰子可能出现的组合<br>( 如 1、2)</td>
                  <td style="text-align:center">1:5</td>
                </tr>
                </tbody>
              </table>
            </dd>
          </dl>
          <dl>
            <dt>下注在单一个点数：</dt>
            <dd>
              <table align="center" border="1" cellpadding="0" cellspacing="0"
                     style="width:100%;height: 256px">
                <thead>
                <tr style="height: 30px">
                  <th>投注项目</th>
                  <th>说明</th>
                  <th>赔率</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td style="text-align:center">4 或17 点</td>
                  <td style="text-align:center">总和为 4 或 17 点</td>
                  <td style="text-align:center">1:50</td>
                </tr>
                <tr>
                  <td style="text-align:center">5 或16 点</td>
                  <td style="text-align:center">总和为 5 或 16 点</td>
                  <td style="text-align:center">1:18</td>
                </tr>
                <tr>
                  <td style="text-align:center">6 或15 点</td>
                  <td style="text-align:center">总和为 6 或 15 点</td>
                  <td style="text-align:center">1:14</td>
                </tr>
                <tr>
                  <td style="text-align:center">7 或14 点</td>
                  <td style="text-align:center">总和为 7 或 14 点</td>
                  <td style="text-align:center">1:13</td>
                </tr>
                <tr>
                  <td style="text-align:center">8 或13 点</td>
                  <td style="text-align:center">总和为 8 或 13 点</td>
                  <td style="text-align:center">1:8</td>
                </tr>
                <tr>
                  <td style="text-align:center">9、10、11、或 12 点</td>
                  <td style="text-align:center">总和为 9、10、11 或 12 点</td>
                  <td style="text-align:center">1:5</td>
                </tr>
                </tbody>
              </table>
            </dd>
          </dl>
          <dl>
            <dt>请注意：</dt>
            <dd>骰子摇动后，偶有稳定后无法判读点数时，此时荷官将重摇骰，直到能够完整判读(如遇故障因素将注销所有相关注单/派彩)。</dd>
            <dd>如遇结算错误，按照当期视频结果重新结算。</dd>
          </dl>
          <dl>
            <dt>轮盘：</dt>
            <dd>轮盘（Roulette）是一种赌场常见的博彩游戏。轮盘一般会有37或38个数字，由庄荷负责在转动的轮盘边打珠，珠子落在该格的数字就是中奖号码。</dd>
          </dl>
          <dl>
            <dt>操作及下注指南：</dt>
            <dd>1. 下注倒数计时，在桌面不同的方格内或方格的边界上押放筹码。</dd>
            <dd>2. 倒数结束前由荷官转动轮盘，并抛出滚球。</dd>
            <dd>3. 由荷官输入结果数字，同时玩家投注界面亮起胜出区域。</dd>
          </dl>
          <dl>
            <dt>如何胜出：</dt>
            <dd>下注结束后，荷官会转动轮盘，然后把象牙制球抛到轮盘的外侧，让滚球在轮盘内反方向转动至少4周之后慢慢停下来，并降落在其中一个细沟内为该局结果。</dd>
          </dl>
          <dl>
            <dt>游戏规则：</dt>
            <dd>筹码放在划有不同投注项目的方格的赌桌上，你可以下注在任何的方格，但要在下注时限之内押注。</dd>
          </dl>
          <dl>
            <dt>投注方式及派彩赔率：</dt>
            <dd>法式下注：以椭圆形画出轮盘上的分区（号码、颜色），而后根据玩法不同分隔为4个分区（轮盘下角注、轮上孤注、零旁 注上角、轮上零旁），法式下注提供5种投注种类。</dd>
            <dd>使用筹码点击“法式下注”的椭圆形轮盘对应的玩法，轮盘投注桌上显示每个玩法投注的筹码，点击确定时将 所选玩法提交下单。</dd>
          </dl>
          <dl>
            <dt>轮盘的投注方式有 12个种类，不同平台的同一游戏玩法，赔率可能不一样，具体以各游戏厅界面所展示的赔率为准。以下赔率以AG国际厅为例：</dt>
          </dl>
          <dl>
            <dt>轮上零旁：</dt>
            <dd>即轮盘枱上的0号与 3号之间，12号与15号之间，32号与35号之间，和26号上。若结果是落在轮上零旁区，您将可赢得相应的赌金，此押注合共4注。</dd>
          </dl>
          <dl>
            <dt>零旁注上角：</dt>
            <dd>即轮盘枱上的4&nbsp;号与7号之间，12号与15号之间，18号与21号之间，19号与22号之间，32号与35号之间各一注；0号，2号与3号之间两注；&nbsp;25号，26号，28号与29号之间两注。若结果是落在零旁注上角区，您将可赢得相应的赌金，此押注合共9注。</dd>
          </dl>
          <dl>
            <dt>轮上孤注：</dt>
            <dd>即轮盘枱上的6号与9号之间，14号与17号之间，17号与20号之间，31号与34号之间，和1号上。若结果是落在轮上孤注区，您将可赢得相应的赌金，此押注合共5注。</dd>
          </dl>
          <dl>
            <dt>轮盘下角注：</dt>
            <dd>
              即轮盘枱上的5号与8号之间，10号与11号之间，13号与16号之间，23号与24号之间，27号与30号之间，和33号与36号之间上。若结果是落在轮盘下角注区，您将可赢得相应的赌金，此押注合共6注。
            </dd>
          </dl>
          <dl>
            <dt>相邻投注：</dt>
            <dd>投注轮盘上该号码及左邻与右邻各两个号码。若出现的号码是在您所押注的范围内，您将可赢得相应的赌金，此押注合共5注。</dd>
            <dd>
              <table align="center" border="1" cellpadding="0" cellspacing="0"
                     style="width:100%;height: 400px">
                <thead>
                <tr style="height: 30px">
                  <th>投注项目</th>
                  <th>所需筹码片数</th>
                  <th>压法说明</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td style="text-align:center">轮盘下角注</td>
                  <td style="text-align:center">6</td>
                  <td style="text-align:center">5/8；10/11；13/16；23/24；27/30；33/36 --- 各一注</td>
                </tr>
                <tr>
                  <td style="text-align:center">轮上孤注</td>
                  <td style="text-align:center">5</td>
                  <td style="text-align:center">1；6/9；14/17；17/20；31/34 --- 各一注</td>
                </tr>
                <tr>
                  <td style="text-align:center">轮上孤注</td>
                  <td style="text-align:center">5</td>
                  <td style="text-align:center">1；6/9；14/17；17/20；31/34 --- 各一注</td>
                </tr>
                <tr>
                  <td rowspan="3" style="text-align:center">零旁注上角</td>
                  <td rowspan="3" style="text-align:center">9</td>
                  <td style="text-align:center">4/7；12/15；18/21；19/22；32/35 --- 各一注</td>
                </tr>
                <tr>
                  <td style="text-align:center">0/2/3 --- 两注</td>
                </tr>
                <tr>
                  <td style="text-align:center">25/26/28/29 ---- 两注</td>
                </tr>
                <tr>
                  <td style="text-align:center">轮上零旁</td>
                  <td style="text-align:center">4</td>
                  <td style="text-align:center">0/3；12/15；32/35；26 --- 各一注</td>
                </tr>
                <tr>
                  <td rowspan="2" style="text-align:center">相邻投注</td>
                  <td rowspan="2" style="text-align:center">5</td>
                  <td style="text-align:center">投注轮盘上该号码及左邻与右邻各两个号<br>码（一共5个号码）</td>
                </tr>
                <tr>
                  <td style="text-align:center">例如：选中23，则投注号码为：25；27；29；26</td>
                </tr>
                </tbody>
              </table>
            </dd>
            <dd>
              <table align="center" border="1" cellpadding="0" cellspacing="0"
                     style="width:100%;height: 400px">
                <thead>
                <tr style="height: 30px">
                  <th>投注项目</th>
                  <th>说明</th>
                  <th>赔率</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td style="text-align:center">单直接注</td>
                  <td style="text-align:center">1个号码（投注包括<br>0在内的任意一个数位。下注时将筹码放到那个数位的中心）<br>放到那个数位的中心
                  </td>
                  <td style="text-align:center">1:35</td>
                </tr>
                <tr>
                  <td style="text-align:center">分注</td>
                  <td style="text-align:center">2个号码（投注于两个号码之间的格线上 ，如2和3）</td>
                  <td style="text-align:center">1:17</td>
                </tr>
                <tr>
                  <td style="text-align:center">街注</td>
                  <td style="text-align:center">3个一行的数<br>（投注三个号码，将筹码押在轮盘桌上有三个数位<br>那一行右侧的那条边线上）</td>
                  <td style="text-align:center">1:11</td>
                </tr>
                <tr>
                  <td rowspan="2" style="text-align:center">三数</td>
                  <td style="text-align:center">0,1,2（投注于 0, 1, 2交接区域）或<br>0,2,3</td>
                  <td rowspan="2" style="text-align:center">1:11</td>
                </tr>
                <tr>
                  <td style="text-align:center">（投注于两个号码之间的格线上投<br>注于0, 2, 3的交接区域）</td>
                </tr>
                </tbody>
              </table>
            </dd>
          </dl>
          <dl>
            <dt>下注在单一个点数：</dt>
            <dd>
              <table align="center" border="1" cellpadding="0" cellspacing="0"
                     style="width:100%;height: 500px">
                <thead>
                <tr style="height: 30px">
                  <th>投注项目</th>
                  <th>说明</th>
                  <th>赔率</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td style="text-align:center">角注</td>
                  <td style="text-align:center">4个数交叉（投注于四个数字交接<br>之间的点上）</td>
                  <td style="text-align:center">1:8</td>
                </tr>
                <tr>
                  <td style="text-align:center">四个号码</td>
                  <td style="text-align:center">0,1,2,3（外围线与数字0,3的交界处）</td>
                  <td style="text-align:center">1:8</td>
                </tr>
                <tr>
                  <td rowspan="2" style="text-align:center">线注</td>
                  <td style="text-align:center">两行相交的顶部（投注于两行横<br>行数字与外围投注区的交接点上）</td>
                  <td rowspan="2" style="text-align:center">1:5</td>
                </tr>
                <tr>
                  <td style="text-align:center">（虚拟桌右侧），6个数字）</td>
                </tr>
                <tr>
                  <td rowspan="2" style="text-align:center">列注</td>
                  <td style="text-align:center">每列12个号码（桌上每列数位底部<br>都有带‘第*列 ' 字样的方框）</td>
                  <td rowspan="2" style="text-align:center">1:2</td>
                </tr>
                <tr>
                  <td style="text-align:center">12个号码，不含零</td>
                </tr>
                <tr>
                  <td rowspan="2" style="text-align:center">下注一打</td>
                  <td style="text-align:center">将筹码下到有<br>”第一打”，”第二打”和“第三打”字样的</td>
                  <td rowspan="2" style="text-align:center">1:2</td>
                </tr>
                <tr>
                  <td style="text-align:center">下注 12个数位 (分别为1-12、13-24及25-36)</td>
                </tr>
                <tr>
                  <td style="text-align:center">红色/黑色</td>
                  <td style="text-align:center">投注开奖号码为红色或黑色，若开<br>0则通杀</td>
                  <td style="text-align:center">1:1</td>
                </tr>
                <tr>
                  <td style="text-align:center">双数/单数</td>
                  <td style="text-align:center">投注开奖号码为单数或双数，若开<br>0则通杀</td>
                  <td style="text-align:center">1:1</td>
                </tr>
                <tr>
                  <td style="text-align:center">大/小</td>
                  <td style="text-align:center">小（1-18）；大（19-36）；若开0则通杀</td>
                  <td style="text-align:center">1:1</td>
                </tr>
                </tbody>
              </table>
            </dd>
          </dl>
          <dl>
            <dt>请注意：</dt>
            <dd>在游戏进行中若出现荷官把球掷出轮盘外，或轮盘停止运转，球转动的方向和盘转动的方向相同等情况。则该局游戏必将重新进行掷球。如遇故障因素将注销所有相关注单/派彩。</dd>
            <dd>如遇结算错误，按照当期视频结果重新结算。</dd>
          </dl>
          <dl>
            <dt>21点</dt>
            <dd>黑杰克(Blackjack)，1957年在香港第一次出现，不到五年的时间内发展为与牌九，麻将一同成为中国人最喜欢的三大游戏。</dd>
            <dd>本游戏由2到6个人玩，使用除大小王之外的52张牌，一般用到1-8副牌。游戏目的是取得越接近21点且不超过21点的点数，最终比庄家点数高即可获胜。
              黑杰克(Blackjack)为一张A和任一张点数为10的牌组合而成，点数为21点。
            </dd>
          </dl>
          <dl>
            <dt>游戏玩法：</dt>
            <dd>一开始将发给闲家各两张明牌，庄家一张明牌一张暗牌。</dd>
            <dd>庄家将依序询问闲家是否要牌，闲家可根据手上牌点数和庄家已翻开的明牌，决定是否要补牌。</dd>
            <dd>庄家牌面总点数16点以下时需要牌；牌面总点数17点以上时则不能要牌。</dd>
            <dd>黑杰克(Blackjack)比总点数是21点的牌型大。</dd>
            <dd>如果闲家得到黑杰克(Blackjack)，不须与庄家比拚直接赢得1.5倍下注分数，除非庄家也是黑杰克(Blackjack)， 那么结果为和局，下注分数将全部退还。</dd>
          </dl>
          <dl>
            <dt>下注选择项目：</dt>
            <dd>押注：每局发牌前的投注项目，闲家押注后才能参与牌局。</dd>
          </dl>
          <dl>
            <dt>游戏选择项目：</dt>
            <dd>要牌：选择多要一张牌。</dd>
            <dd>停牌：选择不再拿牌，以当时的手牌点数与庄家对抗。</dd>
            <dd>保险:庄家明牌是A时，闲家可用初始注金的一半投注保险，庄家是BJ时，保险注金一赔二</dd>
            <dd style="color: #0062b1">※ 如庄家不是黑杰克(Blackjack)则失去保险金。</dd>
            <dd>加倍：闲家初始两张牌面值相同可进行分牌，两张牌将分开为两手牌，分牌的投注金与原下注金额相同。</dd>
            <dd style="color: #0062b1">※ 分牌后不可再分牌。如闲家分牌后任何一手牌获得10点+A牌组合的手牌，并不以黑杰克(Blackjack)计算，</dd>
            <dd>只按普 通21点1:1赔付。</dd>
            <dd style="color: #0062b1">※ A分牌后仅能要一张牌，分牌后不可再分牌。</dd>
          </dl>
          <dl>
            <dt>牌面点数：</dt>
            <dd>牌面是2至9，按其原点数计算；K、Q、J和10都算作10点；A
              既可算作1点也可算作11点，由玩家自己决定（当玩家停牌时，点数一律视为最大而尽量不爆，如A+9为20，A+4+8为13，A+3+A视为15）。
            </dd>
            <dd style="color: #0062b1">※ A（软牌）只有在该局持牌点数和大于21点的情况下方可视为1点</dd>
          </dl>
          <dl>
            <dt>牌型大小：</dt>
            <dd>牌值大小：黑杰克(Blackjack)　＞　21点　＞　任何点数　＞　爆牌</dd>
            <dd>黑杰克(Blackjack)：简称BJ，首两张牌的组合为一张A牌及一张10点的牌所组成的21点，初始注金按1赔1.5派彩。</dd>
            <dd>21点：多于两张牌所组成的21点。</dd>
            <dd>爆牌：手上所有牌点数加起来超过21点称为爆牌，闲家输掉所有初始及加倍的金额。</dd>
            <dd>和局：闲家与庄家同时获得BJ或闲家与庄家同时非BJ但点数相同时，该局视为和局，初始注金及加倍注金退回。</dd>
          </dl>
          <dl>
            <dt>派彩：</dt>
            <dd>不同平台的同一游戏玩法，赔率可能不一样，具体以各游戏厅界面所展示的赔率为准。以下赔率以波音厅为例：</dd>
            <dd>
              <table align="center" border="1" cellpadding="0" cellspacing="0"
                     style="width:40%;height: 130px">
                <thead>
                <tr style="height: 30px">
                  <th>押注</th>
                  <th>赔率</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td style="text-align:center">赢牌</td>
                  <td style="text-align:center">1:1</td>
                </tr>
                <tr>
                  <td style="text-align:center">黑杰克(Blackjack)</td>
                  <td style="text-align:center">1:1</td>
                </tr>
                <tr>
                  <td style="text-align:center">保险</td>
                  <td style="text-align:center">1:2</td>
                </tr>
                </tbody>
              </table>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'help',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
       helpTxt:{
            type1: true,
            type2: false,
            type3: false,
            type4: false,
            type5: false,
            type6: false,
            type7: false,
            type8: false,
            type9: false,
            type10: false,
        }
    }
  },
  methods: {
    tab(index){
        let that = this
        _.each(that.helpTxt,function(a,b){

          that.helpTxt[b] = false
      })
  
  that.helpTxt[index] = true


    }
}
}
</script>
