<template>
<div class="hotGame _hotGame">
<!-- 热门推荐游戏 -->
  <div id="newUesrGide3" class="titleBox _titleBox" v-for="(item, index) in items" :key="index">
      <div class="replace clerfix"><span class="titleTextL">{{ item.name }}</span>
        <div class="titleTextR" @click="random(index)"><span class="titleText" >换一批</span>
          <i class="loading _loading hide"><img src="/static/images/ico/loading.svg"></i></div>
      </div>
  
        <!-- 游戏 列表展示-->
        <div class="gameBox _gameBox">
          <ul class="game-cont" data-name="slot" style="width: 230%"><!-- 作为默认数据 放在加载的时候出现空白界面 -->
            <li v-for="(ite, inde) in item.data" :key="inde">
              <div class="menu _menu">
                <span >收藏游戏</span>
                <span >立即游戏</span></div>
                <img src="/static/images/hotList/a1.png" >
                <strong>{{ ite.cname }}</strong>
            </li>
          </ul>
      
        </div>
    
  </div>
  </div>

</div>
</template>

<script>
/**
    传递参数 到当前组件
    做多展示10个 裁剪
 
 */

export default {
  name: 'hotList',
    components: {
    
    },
  data () {
    return {
      listGame: []
    }
  },
  props: {
    items: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
  computed: {
      /*// 计算属性的 getter
      let one = this.items
      reversedMessage: function () {
      // `this` 指向 vm 实例
      return this.message.split('').reverse().join('')*/
   
  },
  mounted () {
     // 生命周期？？
        console.info(this.items, 'mounted')
        
  },
  methods: {
      random (index) {
            console.log(index, '热门的序列')
            // 乱序好了
            let len = this.items[index].data.length
            this.items[index].data  = _.sampleSize(this.items[index].data, len);
  
        },
  }
}
</script>
