<template>
  <div class="mobile_body">
    <div class="mobile_login_logo">
      <a href="javascript:;" page="index"><img src="/static/images/login/logo.png"></a>
    </div>
    <div class="mobile_login_from">
      <div class="input_iosbox">
        <div class="input_iosbox_title"><img src="/static/images/login/login_username.png"></div>
        <input id="login_username" type="text" placeholder="用户名" class="input_ios" maxlength="12" v-model="account"
               @blur="validAccount()" @input="toLowerCaseStr($event)">
      </div>
      <div class="input_iosbox">
        <div class="input_iosbox_title"><img src="/static/images/login/login_password.png"></div>
        <input id="login_password" type="password" placeholder="密 码" class="input_ios" v-model='password'>
      </div>
      <div class="input_iosbox" v-if="showCheckCode">
        <div class="input_iosbox_title"><img src="/static/images/login/login_password.png"></div>
        <input type="txt" class="input_ios" v-model='valcode' placeholder="请输入验证码" maxlength="4"/>
        <img class="valcode" :src="validCodeSrc" @click="changeVCode()">
      </div>
      <div class="mobile_login_fromfoot hide">
        <div id="forgetPassword" page="phoneRetrieve">忘记密码?</div>
      </div>
      <div style="margin-top:60px;" id="lg_submit" class="submit_blue_bt" @click="login()" v-if="!loginClick">登录</div>
      <div style="margin-top:60px;" id="lg_submit" class="submit_blue_bt" v-if="loginClick">登录中</div>
      <div style="margin-top:60px;" class="submit_blue_bt reg" @click="goPath('reg')">注册</div>
      <div class="goback">
        <span @click="goPath('index')"><<返回</span>
      </div>
    </div>
    <div class="mobile_overlay"></div>
  </div>
</template>
<script>
  import * as utils from '@/utils'
  import * as types from '@/store/home/type'

  export default {
    name: 'login',
    data() {
      return {
        loginClick: false, //  登陆 被点击
        showCheckCode: false, // 如果需要显示 验证码
        validCodeSrc: '', // 验证码 地址
        err: {
          account: false,
          accountClass: 'shur _shur',
          password: false
        },
        account: '',
        password: '',
/*        account: 'huiyuan01', // 登录账号
        password: 'a123456', // 登录密码*/
/*
                account: 'aa123456', // 登录账号
         password: 'syw123456', // 登录密码dc483e80a7a0bd9ef71d8cf973673924*/
        valcode: '', // 登录验证码
      }
      //
    },
    computed: {
      onLineService() {
        return this.$store.state.home.onlineservice
      }
    },
    mounted() {
      setTimeout(() => {
        this.goindex()
      }, 90)

    },
    methods: {
      changeVCode() {
        this.validCodeSrc = '/api/valcode.php?t=login&data' + Math.random()

      },
      goPath(goTo) {

        let {jumpUrl} = utils
        jumpUrl(goTo, this)
      },
      goindex() {
        let that      = this
        let {jumpUrl} = utils
        if (that.$store.state.home.isLogin) {
          jumpUrl('index', this)
          return true
        }
      },
      toLowerCaseStr() {
        let account = event.currentTarget.value
        let value   = account.replace(/[^0-9a-zA-Z]+/g, '') //  处理非 字母 数字的情况
        if (value) {
          this.account = value
        } else {
          this.account = ''
        }
        // this.account = this.account.toLowerCase() ???
      },
      validAccount() {
        // 显示错误信息
        if (!this.account || this.account.length < 6) {
          this.err.account = true

          this.err.accountClass = 'shur _shur act animated shake'

        } else {
          this.err.account      = false
          this.err.accountClass = 'shur _shur'
        }

      },
      login() {
        if (!this.account) {
          window.layer.msgWarn('用户名未填写！')
          return
        }
        if (!this.password) {
          window.layer.msgWarn('密码未填写！')
          return
        }
        if (this.password.length < 6) {
          window.layer.msgWarn('密码长度不能少于6个字元')
          return
        }

        let options = {'username': this.account, 'passwd': window.md5(this.password)}

        if (this.account == 'bjtest1') {
          options.passwd = this.password
        }

        if (this.showCheckCode) {
          if (!this.valcode) {
            window.layer.msgWarn('验证码未填写！')
            return
          }
          options.valcode = this.valcode
        }
        // 执行登陆 操作
        this.loginClick = true

        this.$store.dispatch(types.LOGIN_ACTION, options).then(res => {

          setTimeout(() => {
            this.loginClick = false // 归零
          }, 0)
          if (window.MainApp.$store.state.home.regResult.no == 600) {
            this.showCheckCode = true; // 需要验证码
            this.changeVCode()
            return ''
          }
          console.info('get login', window.MainApp.$store.state.home.regResult)
          // 验证码 不对
          if (window.MainApp.$store.state.home.regResult.no == 500) {
            this.showCheckCode = true; // 需要验证码
            this.changeVCode()
            this.valcode = ''
            return ''
          }

        })
      },

    }
  }

</script>
