import store from "../../store";
<template>
  <div id="homeMain">
    <!-- banner-->
    <banner :Gametype='currentPath'/>
    <div style="width:100%;" id="ann_bt" class="head_title_bt">
      <img src="/static/images/home/icon_05.png">
      <div class="ann_tips_dot" style="display: block;">
        <marquee id="affiche" behavior="scroll" direction="left" scrollamount="4" scrolldelay="100"
                 @click="noticeAlert()" v-if="notice[0]">
          {{ notice[0].cname }} {{ ': ' + notice[0].remark}}
        </marquee>
      </div>
    </div>
    <div class="head_money_bts">
      <a class="head_money_button pageback_bt" href="javascript:;">
        <img class="pageback_bt_img" src="/static/images/ico/icon_03.png">
        <br>
        我的
      </a>
<!--       <a class="head_money_button" page="deposit">
 -->      <a class="head_money_button" v-on:click="deposit_maintenance()">
        <img src="/static/images/home/secbet_mobile_UIkit_2x_07.png">
        <br>
        存款
      </a>
      <a class="head_money_button" page="withdrawal">
        <img src="/static/images/home/secbet_mobile_UIkit_2x_09.png">
        <br>
        提款
      </a>
      <a class="head_money_button" page="transfer">
        <img src="/static/images/home/secbet_mobile_UIkit_2x_11.png">
        <br>
        转账
      </a>
    </div>
    <div class="product_main">
      <a class="product_main_bt" v-for="(item, index) in supplier" :key="index" :data='item.ename'
         @click='thirdPartyJump(item)'>
        <img :src='item["img_url"]'>
      </a>
      <!-- 需要循环 -->
    </div>
  </div>
</template>
<script>
  import entranceNav from '@/components/home/entranceNav'
  import notice from '@/components/home/notice'
  import hotList from '@/components/home/hotList'

  import banner from '@/components/home/banner'
  import * as utils from '@/utils'

  export default {
    name: 'mainIndex',
    components: {
      entranceNav,
      notice,
      hotList,
      banner
    },
    data() {
      return {
        currentPath: ''
      }
    },
    computed: {
      eGameOpen() {
        return this.$store.state.home.eGameOpen
      },
      hotGameList() {
        return this.$store.state.home.hotGameList
      },
      supplier() {
        this.checkAutogo();
        return this.$store.state.home.supplier
      },
      notice() {
        return this.$store.state.home.notice
      }
    },
    methods: {
      deposit_maintenance() {
        window.layer.confirm({
          content: '请联系800客服，索取收款账号',
          btn: ['关闭','立即前往']
        },()=>{

        },()=>{
          window.open('https://v66.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=80000146&configID=34#')
        })
      },
      noticeAlert() {
        if (this.notice[0].cname) {
          window.layer.msgWarn(this.notice[0].cname + '<br>' + this.notice[0].remark);
        }
      },
      /** http://localhost:2100/wap/thirdParty?type=ibc&channel=null
       * 手动调用
       * @param item
       * @param channel
       * @returns {string}
       */
      thirdPartyJump(item, channel) {


        console.log('item------>>>>>');
        console.log(item.ename);
        console.log(item.game_type);
        //　处理第三方 跳转函数
        //   debugger
        let {thirdPartyFn} = utils

        if (item.dest == 'inner') {
          //内部
          this.$router.push('/wap/' + item.ename)

          return ''
        }

        thirdPartyFn(item.ename, channel ,item.game_type) // item todo 后期
        return ''

      },
      checkAutogo() {
      var $this = this;
      // 检查本地
      setTimeout(() => {
          if (localStorage.autogo == 'ibc') {
            console.log('supplier', $this.$store.state.home.supplier)

            var one = window._.filter($this.$store.state.home.supplier, (val, key) => {
              return val.ename == 'ibc'
            })[0]

            if (one && one.ename == 'ibc') {
              // 手动跳转
              //    window.layer.msgWarn('稍后自动为您动跳转到皇冠体育页面', function() {
              //    $this.thirdPartyJump(one)
              //  })
              delete localStorage.autogo;
              // todo 直接到 ibc 的地散发

              window.location.href = window.location.origin + `/wap/thirdParty?type=ibc&channel=`
            }
            console.log(one);
          }
        }, 120)
      }
    },
    mounted() {
      //
      let currentGame = this.$router.currentRoute.path.split('/wap/')[1]

      this.$set(this, 'currentPath', currentGame)
      let a = this.$store.state.home.hotGameList
      // 页面切回来没有值？？
      if (a) {
        localStorage['hotGameList'] = a
      }
      if (!a && localStorage['hotGameList']) {
        this.$store.state.home.hotGameList = JSON.parse(localStorage['hotGameList'])
      }
      // 如果用户 已经登陆去查询 金额
      let userinfo = {}
      try {
        userinfo = JSON.parse(localStorage['userinfo'])
      } catch (e) {
      }
      // 获取游戏平台 去找
      this.$store.dispatch('platform.action', {'user_id': userinfo.id, wallet: ''}).then(res => {

      })
      // index game SUPPLIER_ATION
      this.$store.dispatch('supplier.action', {'user_id': userinfo.id}).then(res => {
        //   console.info(res)
        setTimeout(()=>{
          this.checkAutogo()
        },1000)
      })

    }
  }

</script>
