<template>
  <div class="main_content">
    <div class="message_tab_menu hide">
      <a href="inbox.aspx" class="message_tab_box tab_select">收件箱</a>
      <div class="message_tab_menu_line"></div>
      <a href="sendbox.aspx" class="message_tab_box">发件箱</a>
      <div class="message_tab_menu_line"></div>
      <a href="writeMail.aspx" class="message_tab_box">写消息</a>
    </div>
    <div class="message_list">
      <div class="HistoryTotal_box record0" v-if="data0">
          <span class="HistoryTotal_c">暂无记录</span>
      </div>
      <div value="119223" v-for="(item, index) in messageList" :key="index" :class="item.type === 1 ? 'isread' : ''"
       @click="showDetail(item)" class="message_list_row">
        <div class="message_list_row_top"><span class="message_title">{{item.title}}</span>
          <span class="message_time">{{item.date}}</span>
        </div>
      </div>
    
    </div>
    <div class="tanchuceng_overlay" style="display: block;" v-show="showItem"></div>
    <div id="tanchuceng_box" class="tanchuceng_box" v-show="showItem" style="display: block;">
      <div class="tanchuceng_head">{{message.title}}</div>
      <div class="tanchuceng_time">{{message.ctime}}</div>
      <div style="padding-top:0px; height:340px;" class="tanchuceng_cont">
        {{message.remark}}
      </div>
      <div id="tanchuceng_close_bt" @click="showItem = !showItem">确认</div>
    </div>
  </div>
</template>

<script>
import * as types from '@/store/home/type'
import { Authority, userID,statusCheck } from "@/utils";
export default {
  name: 'message',
  components: {},
  data() {
    return {
      msg: 'Welcome to Your Vue.js App 123',
	  data0: false,
      messageList: [],
      message: {},
      showItem: false
    }
  },
  methods: {
    getMessageList() {
      var userinfo = JSON.parse(localStorage['userinfo']);
      this.messageList = [];
      var $this = this
      this.$store.dispatch(types.GET_MESSAGE_LIST, {'user_id': userinfo.id}, this).then(res => {
        this.messageList = res.data
		  this.$nextTick( () =>{
			  if (res.item_amount === '0') {
				  $this.data0 = true
			  }
		  })
      })
    },
    showDetail(item) {
      //后期调接口更新消息阅读状态
      item.type = 1
      this.message = item
      this.showItem = true
    }
  },
  mounted() {
	  let result = Authority(this, true)
	  if (result)     this.getMessageList()
  }
}
</script>
