<template>
           <div class="notice">
             <span class="title">
               <img src="/static/images/ico/icon_05.png">
             </span>
             <div class="marqueeBox">
               <span class="marquee" data-massage="massage">
                  <marquee id="affiche" behavior="scroll" direction="left" scrollamount="4" scrolldelay="100" v-if="noticeList[0] && noticeList[0].cname">
                        {{noticeList[0].cname}}
                  </marquee>
                </span>
             </div>
             <div class="jackopt _jackopt hide">
               <ul data-jackopt="jackopt"></ul>
             </div>
           </div>
</template>

<script>
export default {
  name: 'notice',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  computed: {
      noticeList () {
           return this.$store.state.home.notice
      }
  }
}
</script>
