<template>
  <div class="mobile_body">
    <div class="mobile_login_logo">
      <a href="javascript:;" ><img src="/static/images/login/logo.png"></a>
    </div>
    <div class="mobile_login_from">
      <div class="input_iosbox">
        <div class="input_iosbox_title hide"><img class="changeimg" src="/static/images/reg/number_02@2x.png"></div>

        <div class="input_iosbox_title">手机号码</div>
        <input id="rest_phonenumber" type="text" class="input_ios">
      </div>
      <div class="input_iosbox">

        <div class="input_iosbox_title">验证码</div>
        <input id="rest_phonecode" type="text" style="width:450px;" class="input_ios">
          <div id="GetPhoneCodeBt" class="submit_blue_bt_s">获取</div>
      </div>
      <div style="margin-top:60px;" id="check_phonenumber" class="submit_blue_bt">完成</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'phoneRetrieve',
  components: {},
  data() {
    return {
      msg: 'Welcome to Your Vue.js App 123'
    }
  }
}
</script>
