<template>
  <div>
    <div class="mobile_login_logo">
      <a href="javascript:;" page="index"><img src="/static/images/login/logo.png"></a>
    </div>
    <div class="mobile_login_from">
      <div class="input_iosbox">
        <div class="input_iosbox_title"><img src="/static/images/reg/login_username.png"></div>
        <input type="text" id="userName" placeholder="请输入6-12位数字和英文字母" class="input_ios" maxlength="12"
               v-model="user.account"
               @blur="verifyAccount()"
               @input="assertAccount()">
      </div>
      <!-- 错误信息 -->
      <div class="error_msg" v-if="errMsg.account.status">{{ errMsg.account.txt }}</div>


      <div class="input_iosbox">
        <div class="input_iosbox_title"><img src="/static/images/reg/login_password.png"></div>
        <input type="password" id="Password" placeholder="请输入6-13位字节密码" class="input_ios"
               @blur="checkPw()"
               v-model="user.password" maxlength="13">
      </div>
      <!-- 错误信息 -->
      <div class="error_msg" v-if="errMsg.password.status">{{ errMsg.password.txt }}</div>

      <div class="input_iosbox">
        <div class="input_iosbox_title"><img src="/static/images/reg/login_password.png"></div>
        <input type="password" v-model="user.password1" maxlength="13" placeholder="与填写密码一致"
               @blur="checkPwAgain()"
               class="input_ios">
      </div>
      <!-- 错误信息 -->
      <div class="error_msg" v-if="errMsg.password1.status">{{ errMsg.password1.txt }}</div>

      <div class="input_iosbox">
        <div class="input_iosbox_title"><img class="changeimg" src="/static/images/reg/zhenshiname_02@2x.png"></div>
        <input type="text" placeholder="请输入真实姓名"
               @blur="checkRealName()"
               v-model="user.realName" class="input_ios">
      </div>
      <!-- 错误信息 -->
      <div class="error_msg" v-if="errMsg.realName.status">{{ errMsg.realName.txt }}</div>

      <div class="input_iosbox ">
        <div class="input_iosbox_title"><img class="changeimg" src="/static/images/reg/number_02@2x.png"></div>
        <input type="text" placeholder="请输入正确手机号"
               v-model="user.phone"
               @blur="checkPhone()"
               maxlength="13" class="input_ios">
        <div class="getcode" v-if="sendLoad == 1" @click="sendTxt()">获取验证码</div>
        <div class="getcode" v-if="sendLoad == 2">发送中</div>
        <div class="getcode" v-if="sendLoad == 3">{{ sendTime }}秒后重发</div>
      </div>
      <!-- 错误信息 -->
      <div class="error_msg" v-if="errMsg.phone.status">{{ errMsg.phone.txt }}</div>

      <div class="input_iosbox phonecode">
        <div class="input_iosbox_title"><img class="changeimg" src="/static/images/reg/yanzhengma_02@2x.png"></div>
        <input type="text" placeholder="请输入手机验证码" v-model="user.txt" maxlength="4" class="input_ios">
      </div>
      <!-- 错误信息 -->
      <div class="error_msg" v-if="errMsg.txt.status">{{ errMsg.txt.txt }}</div>
      <div style="margin-top:60px;" id="submit_rg" class="submit_blue_bt" @click="regPost()" v-if="!regClick">注册</div>
      <div style="margin-top:60px;" id="submit_rg" class="submit_blue_bt" v-if="regClick">提交中</div>
      <span style="margin-left:32%;">已有账号 前往<a href="javascript:;" page="login"> 登录></a></span>
    </div>
  </div>
</template>
<script>
import * as utils from '@/utils'
import * as types from '@/store/reg/type'
export default {
  name: 'reg',
  data() {
    return {
      regClick: false,
      completOpen: false,
      sendLoad: 1,
      sendTime: 20,
      errMsg: { // 错误信息 + 字段
        account: {
          status: false, // 不显示
          txt: ''
        },
        email: {
          status: false,

          txt: ''
        },
        password: {
          status: false,

          txt: ''
        },
        password1: {
          status: false,
          txt: ''
        },
        realName: {
          status: false,
          txt: ''
        },
        phone: {
          status: false,
          txt: ''
        },
        txt: {
          status: false,
          txt: ''
        },
      },
      user: { // 用户 数据
        account: '',
        //   email: '',
        password: '',
        realName: '',
        phone: '',
        txt: ''
      },
    }
  },
  mounted() {
    // add watch
    this.$watch('user.email', val => {
      console.info(val)
      if (val.includes('@') && val.slice(-1) != '@') {
        this.completOpen = false
        return
      }
      this.completOpen = true
      //
    })
  },
  methods: {
    regPost() {
      // /reg.php?step=reg&username=bjtest1&passwd=dc483e80a7a0bd9ef71d8cf973673924&realname=铂金1号&mobile=13988889999&smscode=1234
      // 检查 错误消息
      /*
       http://api.woaibojin.com:8088/reg.php?step=reg&username=bjtest1&passwd=dc483e80a7a0bd9ef71d8cf973673924&realname=%E9%93%82%E9%87%911%E5%8F%B7&mobile=13988889999&smscode=1234
        */
      if (!this.verifyAccount()) {
        //  window.layer.msgWarn('验证失败')
        return ''
      }

      if (!this.checkPw()) {
        // window.layer.msgWarn('验证失败')
        return ''
      }
      if (!this.checkRealName()) {
        return ''
      } else {
        console.info('RealName sucess')
      }

      if (!this.checkPhone()) {
        // window.layer.msgWarn('验证失败')
        return ''
      }

      if (this.user.txt.length != 4) {
        // window.layer.msgWarn('验证失败')
        return ''
      }
      console.info(this.user, '----')
      // 注册
      let options = {
        username: this.user.account,
        passwd: this.user.password,
        mobile: this.user.phone,
        realname: this.user.realName,
        smscode: this.user.txt,
        refer:location.href
      }
      this.regClick = !this.regClick
      this.$store.dispatch(types.REG_GET, options).then((res) => {
        // res shibai
        console.info(res, 'zhuce ok')
        this.regClick = !this.regClick
        if (res && res.msg == 'success') {
          localStorage['session_id'] = res.session_id
          localStorage['userinfo'] = JSON.stringify(res.data)
          let { baseLoad } = utils;

          baseLoad(function() {
            setTimeout(function() {
              window.MainApp.$router.push('/wap/index')
            }, 100)
          }, window.MainApp.$store);

        }
      })

      //reg.php?step=reg&username=bjtest1&passwd=dc483e80a7a0bd9ef71d8cf973673924&realname=铂金1号&mobile=13988889999&smscode=1234
      // options.
      // 检查 4位 手机验证码
    },
    checkRealName() {
      this.user.realName = this.user.realName.replace(/ +/g, '')
      if (!this.user.realName) {
      //  window.layer.msgWarn('用户名不能为空')
        this.errMsg.realName = {
          status: true,
          txt: '用户名不能为空'
        }
        return false
      }


      var regName = /^[\u4e00-\u9fa5]{2,4}$/;
      if (!regName.test(this.user.realName)) {
     //   window.layer.msgWarn('真实姓名只能1-12位！')
        this.errMsg.realName = {
          status: true,
          txt: '真实姓名只能1-12位！'
        }
        return false
      }

      this.errMsg.realName = {
        status: false,
        txt: ''
      }
      return true

    },
    checkClick() {
      // email
      this.completOpen = true;
    },
    countDown() {
      let $this = this
      if (window._down30) {
        clearInterval(window._down30);
        window._down30 = null
      } else {
        window._down30 = setInterval(() => {
          $this.sendTime -= 1;
          console.log($this.sendTime, '========================')
          if ($this.sendTime < 1) {
            clearInterval(window._down30);
            window._down30 = null
            $this.sendLoad = 1;
            $this.sendTime = 10
          }
        }, 1000)
      }
    },
    assertAccount($this) {
      try {
        this.user.account = this.user.account.replace(/[^0-9a-z]/ig, '')
      } catch (e) {}
      try {
        this.user.account = this.user.account.toLowerCase()
      } catch (e) {}
    },
    sendTxt() {
      if (!this.checkPhone()) {
        return ''
      }
      // 需要验证 username
      if (!this.verifyAccount()) {
        window.layer.msgWarn('发送短信验证码,请先填写合法的用户名:' + this.errMsg.account.txt)
        return ''
      }
      let $this = this
      // 判断 手机号是否填写正确 12949812670 huiyuan01 qwe123
      $this.sendLoad = 2;
      $this.$store.dispatch(types.SEND_TXT, { step: 'getcode', mobile: this.user.phone,username: this.user.account }).then((res) => {
        let { delay } = utils
     //   debugger
        console.log(res);
        if(!res){
          window.layer.msgWarn('发送短信异常,请稍后再试或者联系客服.')
        }
        delay(() => {
          $this.sendLoad = 3
          $this.countDown()
        }, 300)
      })
    },
    checkPhone() {
      this.errMsg.phone = {
        status: false,
        txt: ''
      }
      if (!/1[0-9]{10}/.test(this.user.phone)) {
        this.errMsg.phone = {
          status: true,
          txt: '手机号格式输入错误！'
        }
    //    window.layer.msgWarn('手机号格式输入错误！')
        return false
      }
      this.errMsg.phone = {
        status: false,
        txt: ''
      }
      return true
    },
    completEmail(suffix) {
      if (!this.user.email) return ''
      this.$set(this.user, 'email', this.user.email + suffix)
    },
    verifyAccount() {
      // 检查 账户信息

      let { statusCheck } = utils
      let $this = this
      let errTxt = ['账号为6-12位英文与数字的组合或纯字母！']
      try {
        $this.user.account = $this.user.account.replace(/[^0-9a-z]/ig, '')
      } catch (e) {}
      var _account = $this.user.account.replace(/[^0-9a-zA-Z]/ig, '')
      if (!$this.user.account || !isNaN(_account.slice(0, 1))) {
        $this.errMsg.account = {
          status: true,
          txt: errTxt[0]
        }
    //    window.layer.msgWarn(errTxt[0])
        return false
      }
      if (_account.length < 6 || _account.length > 12) {
        $this.errMsg.account = {
          status: true,
          txt: errTxt[0]
        }
    //    window.layer.msgWarn(errTxt[0])
        return false
      }
      var _result = false

      window.$.ajax({
        'type': 'post',
        'url': '/api/check_user.php',
        'dataType': 'json',
        'cache': false,
        'async': false,
        'data': { username: $this.user.account }, // todo
        'success': function(_res) {
          if (_res.no == 404) {
            // ok moshi
            _result = true
            $this.errMsg.account = {
              status: false,
              txt: ''
            }
          } else {
            $this.errMsg.account = {
              status: true,
              txt: _res.msg
            }
       //     window.layer.msgWarn(_res.msg)
            _result = false
          }
        }
      })
      return _result
    },
    checkPw() { // 检查密码的
      let $this = this
      let errTxt = [
        '密码必须是6-12位英文或数字与字母组合！'
      ]
      $this.$set($this.errMsg, 'password', {
        status: false,
        txt: ''
      })
      if ($this.user.password.length < 6) {
        $this.$set($this.errMsg, 'password', {
          status: true,
          txt: errTxt[0]
        })
    //    window.layer.msgWarn(errTxt[0])
        return false
      }
      if (/^[0-9]{6,12}$/.test($this.user.password) || !/^[A-Za-z0-9]{6,12}$/.test($this.user.password)) {
        $this.$set($this.errMsg, 'password', {
          status: true,
          txt: errTxt[0]
        })
    //    window.layer.msgWarn(errTxt[0])
        return false
      }

      try {
        if (this.user.password1.length) {
          this.checkPwAgain()
        }
      } catch (err) {}
      return true
    },
    checkPwAgain() { // 检查密码的
      // '确认密码错误！请重新输入！'
      let $this = this

      $this.$set($this.errMsg, 'password1', {
        status: false,
        txt: ''
      })

      if ($this.user.password !== $this.user.password1) {
        $this.$set($this.errMsg, 'password1', {
          status: true,
          txt: '确认密码错误！请重新输入！'
        })
    //    window.layer.msgWarn('确认密码错误！请重新输入！')
        return false
      }
      return true
    }
  }
}

</script>
