<template>
  <div>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'divMain',
  components: {},
  data() {
    return {
      msg: 'Welcome to Your Vue.js App 123'
    }
  }
}
</script>
