<template>
  <div class="mobile_homebody_main">
    <router-view/>
  </div>
</template>
/**
 *  入口文件
 *  组装 头部  中间 底部
 
 mobile_homebody_main
 
 需要动态
 
 */
<script>
export default {
  name: 'home',
  components: {},
  data() {
    return {
      pathName: 'We'
    }
  }
}
</script>
