<template>
  <!-- mint-ui -->
  <div class="mengceng leftMengceng" style="background:none">
  
  </div>
</template>
<script>
import {Indicator} from 'mint-ui'
export default {
  data () {
    return {
    }
  },
  mounted () {
    Indicator.open({
      text: '正在加载..',
      spinnerType: 'fading-circle'
    })
  },
  destroyed () {
    Indicator.close()
  }
}
</script>
