@charset "UTF-8";
@import "layout/base.less";
@import "layout/them.less";

// add plugin
@import "layout/layer.less";
@import "mint/style.less";

@import "layout/home.less";

@import "pages/login.less";
@import "pages/reg.less";
@import "pages/message.less";
@import "pages/active.less";
@import "pages/center.less";
@import "pages/bankcard.less";
@import "pages/egame.less";

@import "pages/thirdParty.less";


@import "pages/forgetPassword.less";

@import "member/member.less";
@import "member/transfer.less";
@import "member/deposit.less";
@import "member/withdrawal.less";
@import "member/record.less";
@import "member/invite.less";
@import "member/rescue.less";


html{
  background-color: #F5f4f7;
}

// 补充 css
#app{
  .wh100;
  .mobile_body
}

.main_act{
  .b2;
}
.stop{
  position: fixed;
}
#footer{
 // display: none;
}
// debug

body{
  // opacity: 0;
}
