
.purple {
  background: -moz-linear-gradient(top,rgba(251,131,250,.8) 0,rgba(240,88,242,.8) 60%,rgba(234,64,237,.98) 95%,#e93cec 100%);
  background: -webkit-linear-gradient(top,rgba(251,131,250,.8) 0,rgba(240,88,242,.8) 60%,rgba(234,64,237,.98) 95%,#e93cec 100%);
  background: linear-gradient(to bottom,rgba(251,131,250,.8) 0,rgba(240,88,242,.8) 60%,rgba(234,64,237,.98) 95%,#e93cec 100%)
}

.blue {
  background: -moz-linear-gradient(top,rgba(73,155,234,.8) 0,rgba(48,136,231,.8) 60%,rgba(34,126,229,.98) 95%,#207ce5 100%);
  background: -webkit-linear-gradient(top,rgba(73,155,234,.8) 0,rgba(48,136,231,.8) 60%,rgba(34,126,229,.98) 95%,#207ce5 100%);
  background: linear-gradient(to bottom,rgba(73,155,234,.8) 0,rgba(48,136,231,.8) 60%,rgba(34,126,229,.98) 95%,#207ce5 100%)
}

.green {
  background: -moz-linear-gradient(top,rgba(182,224,38,.8) 0,rgba(175,222,39,.8) 60%,rgba(172,220,40,.98) 95%,#abdc28 100%);
  background: -webkit-linear-gradient(top,rgba(182,224,38,.8) 0,rgba(175,222,39,.8) 60%,rgba(172,220,40,.98) 95%,#abdc28 100%);
  background: linear-gradient(to bottom,rgba(182,224,38,.8) 0,rgba(175,222,39,.8) 60%,rgba(172,220,40,.98) 95%,#abdc28 100%)
}

.lightGrey {
  background: -moz-linear-gradient(top,rgba(195,217,255,.8) 0,rgba(177,200,239,.8) 41%,rgba(169,192,232,.8) 61%,rgba(154,178,219,.98) 96%,#98b0d9 100%);
  background: -webkit-linear-gradient(top,rgba(195,217,255,.8) 0,rgba(177,200,239,.8) 41%,rgba(169,192,232,.8) 61%,rgba(154,178,219,.98) 96%,#98b0d9 100%);
  background: linear-gradient(to bottom,rgba(195,217,255,.8) 0,rgba(177,200,239,.8) 41%,rgba(169,192,232,.8) 61%,rgba(154,178,219,.98) 96%,#98b0d9 100%)
}

.yellow {
  background: -moz-linear-gradient(top,rgba(249,198,103,.8) 0,rgba(248,169,61,.8) 60%,rgba(247,152,36,.98) 96%,#f79621 100%);
  background: -webkit-linear-gradient(top,rgba(249,198,103,.8) 0,rgba(248,169,61,.8) 60%,rgba(247,152,36,.98) 96%,#f79621 100%);
  background: linear-gradient(to bottom,rgba(249,198,103,.8) 0,rgba(248,169,61,.8) 60%,rgba(247,152,36,.98) 96%,#f79621 100%)
}

.lightGreen {
  background: -moz-linear-gradient(top,rgba(210,255,82,.8) 0,rgba(171,241,72,.8) 60%,rgba(148,233,67,.98) 96%,#91e842 100%);
  background: -webkit-linear-gradient(top,rgba(210,255,82,.8) 0,rgba(171,241,72,.8) 60%,rgba(148,233,67,.98) 96%,#91e842 100%);
  background: linear-gradient(to bottom,rgba(210,255,82,.8) 0,rgba(171,241,72,.8) 60%,rgba(148,233,67,.98) 96%,#91e842 100%)
}

.lightColor {
  background: -moz-linear-gradient(top,rgba(228,239,192,.8) 0,rgba(194,209,146,.8) 60%,rgba(173,191,118,.98) 96%,#abbd73 100%);
  background: -webkit-linear-gradient(top,rgba(228,239,192,.8) 0,rgba(194,209,146,.8) 60%,rgba(173,191,118,.98) 96%,#abbd73 100%);
  background: linear-gradient(to bottom,rgba(228,239,192,.8) 0,rgba(194,209,146,.8) 60%,rgba(173,191,118,.98) 96%,#abbd73 100%)
}

.orange {
  background: -moz-linear-gradient(top,rgba(255,103,15,.8) 0,rgba(255,103,15,.8) 60%,rgba(255,103,15,.98) 96%,#ff670f 100%);
  background: -webkit-linear-gradient(top,rgba(255,103,15,.8) 0,rgba(255,103,15,.8) 60%,rgba(255,103,15,.98) 96%,#ff670f 100%);
  background: linear-gradient(to bottom,rgba(255,103,15,.8) 0,rgba(255,103,15,.8) 60%,rgba(255,103,15,.98) 96%,#ff670f 100%)
}

.darkGray {
  background: -moz-linear-gradient(top,rgba(229,230,150,.8) 0,rgba(217,219,118,.8) 60%,rgba(209,211,97,.98) 98%,#d1d360 100%);
  background: -webkit-linear-gradient(top,rgba(229,230,150,.8) 0,rgba(217,219,118,.8) 60%,rgba(209,211,97,.98) 98%,#d1d360 100%);
  background: linear-gradient(to bottom,rgba(229,230,150,.8) 0,rgba(217,219,118,.8) 60%,rgba(209,211,97,.98) 98%,#d1d360 100%)
}

.fuchsia {
  background: -moz-linear-gradient(top,rgba(255,0,132,.8) 0,rgba(255,0,132,.8) 60%,rgba(255,0,132,.98) 96%,#ff0084 100%);
  background: -webkit-linear-gradient(top,rgba(255,0,132,.8) 0,rgba(255,0,132,.8) 60%,rgba(255,0,132,.98) 96%,#ff0084 100%);
  background: linear-gradient(to bottom,rgba(255,0,132,.8) 0,rgba(255,0,132,.8) 60%,rgba(255,0,132,.98) 96%,#ff0084 100%)
}

.darkYellow {
  background: -moz-linear-gradient(top,rgba(234,185,45,.8) 0,rgba(213,165,28,.8) 60%,rgba(200,153,17,.98) 96%,#c79810 100%);
  background: -webkit-linear-gradient(top,rgba(234,185,45,.8) 0,rgba(213,165,28,.8) 60%,rgba(200,153,17,.98) 96%,#c79810 100%);
  background: linear-gradient(to bottom,rgba(234,185,45,.8) 0,rgba(213,165,28,.8) 60%,rgba(200,153,17,.98) 96%,#c79810 100%)
}

.darkPurple {
  background: -moz-linear-gradient(top,rgba(229,112,231,.8) 0,rgba(200,94,199,.8) 47%,rgba(192,89,190,.8) 60%,rgba(170,75,166,.98) 96%,#a849a3 100%);
  background: -webkit-linear-gradient(top,rgba(229,112,231,.8) 0,rgba(200,94,199,.8) 47%,rgba(192,89,190,.8) 60%,rgba(170,75,166,.98) 96%,#a849a3 100%);
  background: linear-gradient(to bottom,rgba(229,112,231,.8) 0,rgba(200,94,199,.8) 47%,rgba(192,89,190,.8) 60%,rgba(170,75,166,.98) 96%,#a849a3 100%)
}

.lightBlue {
  background: -moz-linear-gradient(left,rgba(73,192,240,.8) 0,rgba(56,182,232,.8) 60%,rgba(46,176,228,.8) 95%,#2cafe3 100%);
  background: -webkit-linear-gradient(left,rgba(73,192,240,.8) 0,rgba(56,182,232,.8) 60%,rgba(46,176,228,.8) 95%,#2cafe3 100%);
  background: linear-gradient(to right,rgba(73,192,240,.8) 0,rgba(56,182,232,.8) 60%,rgba(46,176,228,.8) 95%,#2cafe3 100%)
}

.purpleGray {
  background: -moz-linear-gradient(top,rgba(137,137,186,.8) 0,rgba(137,137,186,.8) 61%,rgba(137,137,186,.96) 96%,#8989ba 100%);
  background: -webkit-linear-gradient(top,rgba(137,137,186,.8) 0,rgba(137,137,186,.8) 61%,rgba(137,137,186,.96) 96%,#8989ba 100%);
  background: linear-gradient(to bottom,rgba(137,137,186,.8) 0,rgba(137,137,186,.8) 61%,rgba(137,137,186,.96) 96%,#8989ba 100%)
}

.darkGreen {
  background: -moz-linear-gradient(top,rgba(143,196,0,.8) 0,rgba(143,196,0,.8) 61%,rgba(143,196,0,.96) 96%,#8fc400 100%);
  background: -webkit-linear-gradient(top,rgba(143,196,0,.8) 0,rgba(143,196,0,.8) 61%,rgba(143,196,0,.96) 96%,#8fc400 100%);
  background: linear-gradient(to bottom,rgba(143,196,0,.8) 0,rgba(143,196,0,.8) 61%,rgba(143,196,0,.96) 96%,#8fc400 100%)
}
