<template>
  <div class="foot_menu">
    <a href="javascript:;" page="memberIndex" class="foot_menu_bt" :class="{'foot_menu_bt_select': title == '个人中心'}">
      <img class="foot_menu_icon" src="/static/images/footer_icon_member_h.png" v-if=" title == '个人中心' ">
      <img class="foot_menu_icon" src="/static/images/footer_icon_member.png" v-if=" title != '个人中心' ">
      <br>个人中心
      </a>
    <a href="javascript:;" page="message"  :class="{'foot_menu_bt_select': title == '消息'}" class="foot_menu_bt">
      <img class="foot_menu_icon" src="/static/images/footer_icon_m_h.png" v-if=" title == '消息' ">
      <img class="foot_menu_icon" src="/static/images/footer_icon_m.png" v-if=" title != '消息' ">
      <br>消息
    </a>
    <a href="javascript:;" class="foot_menu_bt"></a>


    <!--<a href="javascript:;" page="activity"  :class="{'foot_menu_bt_select': title == '优惠活动'}" class="foot_menu_bt">
    <a href="javascript:;" v-on:click="coming_soon()" :class="{'foot_menu_bt_select': title == '优惠活动'}" class="foot_menu_bt">
      <img class="foot_menu_icon" src="/static/images/footer_icon_p.png"  v-if=" title != '优惠活动' ">
      <img class="foot_menu_icon" src="/static/images/footer_icon_p_h.png"  v-if=" title == '优惠活动' ">
      <br>优惠</a>-->
     <a href="javascript:;" page="activity"  :class="{'foot_menu_bt_select': title == '优惠活动'}" class="foot_menu_bt">
      <img class="foot_menu_icon" src="/static/images/footer_icon_p.png"  v-if=" title != '优惠活动' ">
      <img class="foot_menu_icon" src="/static/images/footer_icon_p_h.png"  v-if=" title == '优惠活动' ">
      <br>优惠</a>
    <a :href="!onLineChat? 'javascript:void(0)' : onLineChat" target="_blank" class="foot_menu_bt">
      <img class="foot_menu_icon" src="/static/images/footer_icon_cs.png">
      <br>客服</a>
  </div>
</template>
<script>
import * as utils from '@/utils'

export default {
  name: 'footer',
  data() {
    return {
      currentPath: 'index',
    }
  },
  computed: {
    title() {
      return this.$store.state.home.title
    },
    onLineChat() {
      return this.$store.state.home.onLineChat
    },
  },
  methods: {
    goPath(goTo) {
      this.currentPath = goTo
      let { jumpUrl } = utils
      this.openLeft('close')
      jumpUrl(goTo, this)
    },
    coming_soon() {
        window.layer.msgWarn("敬请期待");
    }
  }
}

</script>
