<template>
  <div id="app">
    <heads/>
    <leftside />
    <div id="barrier_layer" style="display: none;"></div>
    <router-view/>
    <footers/>
    <div class="more_menu_bg" style="display: none;">
      <div class="more_menu_box" style="display: none;">
        <div class="more_menu_box_con">
<!--           <a href="javascript:;" class="more_menu_bt" page="deposit"><img src="/static/images/ico/more_bt_deposit.png"><br>存款</a>
 -->
          <a href="javascript:;" class="more_menu_bt" v-on:click="deposit_maintenance()"><img src="/static/images/ico/more_bt_deposit.png"><br>存款</a>
           <a href="javascript:;" class="more_menu_bt" page="withdrawal"><img src="/static/images/ico/more_bt_withdrawal.png"><br>取款</a>
          <a href="javascript:;" page="transfer" class="more_menu_bt"><img src="/static/images/ico/more_bt_transfer.png"><br>转账</a>
          <a href="javascript:;" class="more_menu_bt" page="bankCard"><img src="/static/images/ico/more_bt_bank.png"><br>银行卡</a>
          <a href="javascript:;" class="more_menu_bt" page="record"><img src="/static/images/ico/more_bt_history.png"><br>交易记录</a>
          <a href="javascript:;" class="more_menu_bt" page="recordGame"><img src="/static/images/ico/more_bt_bethistory.png"><br>投注记录</a>
        </div>
      </div>
    </div>
    <div id="more_func" class="foot_menu_bt"><img id="more_func_img" src="/static/images/foot_more_bt.png" width="90px" height="90px" style="transform: rotate(0deg ); transition: transform 150ms ease;"></div>
    <loading v-if="$store.state.home.Loading"></loading>
  </div>
</template>

<script>
import leftside   from '@/components/head/leftSide'
import heads   from '@/components/head/heads'
import footers from '@/components/footer/footers'
  import loading from '@/components/loading'
  
  
import * as utils from '@/utils'
export default {
  name: 'app',
  components: {
    heads,
    footers,leftside,loading
  },
  watch: {
    $route() {
      let {markPage} = utils
      markPage()
    }
  },
  mounted() {
    let {markPage} = utils
    markPage()
  },
  methods: {
      deposit_maintenance() {
        window.layer.confirm({
          content: '请联系800客服，索取收款账号',
          btn: ['关闭','立即前往']
        },()=>{
          
        },()=>{ 
          window.open('https://v66.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=80000146&configID=34#')
          let {jumpUrl} = utils;
          jumpUrl('index');
        })
      }
  }
}
</script>

<style lang='less'>
  @import './assets/less/app.less';
</style>
