@fcom: .3rem;
@blue1: #2E8DEB;
@lostc: #1dbf60;

.fontSize(@fcom) {
  font-size: @fcom;
}
.red{
  color: #f24957;
}
.blue{
  color: @blue1;
}
.lost{
  color: @lostc;
}
.win{
  .red
}
//------------------------
.hide {
  display: none;
}
.ing{
  background-color: #4caae8!important;
}
.b1 {
  border: 1px solid red;
}

.b2 {
  border: 1px solid blueviolet;
}

.b3 {
  border: 2px solid black;
}
.b4 {
  border: 2px solid brown;
}
.wh100 {
  width: 100%;
  height: 100%;
}

.hide {
  display: none !important
}

.overflow {
  overflow: hidden
}

.fr {
  float: right;
}

.clearfix {
  &:after, &:before {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

.linear-gradient(@top, @bottom) {
  background: @top; /* Old browsers */
  background: -moz-linear-gradient(top, @top 0%, @bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @top), color-stop(100%, @bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, @top 0%, @bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, @top 0%, @bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, @top 0%, @bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom, @top 0%, @bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0); /* IE6-9 */
}
.scrollBox{
  -webkit-overflow-scrolling:touch;
}
.borderl{
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.borderr{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.colornull{
  background: transparent;
}

.positionr{
  position: relative;
}
.border-radius (@radius) {
  border-radius: @radius!important;
  -moz-border-radius: @radius!important;
  -webkit-border-radius: @radius!important;
  -ms-border-radius: @radius!important;
  -o-border-radius: @radius!important;
}
.disabled{
  border: 1px solid #999;
  background-color: #b2b3b9;
}

// debug
.mint-loadmore-content{
 // .b1;
}
.mobile_homebody_main{
 // height: 100%;
}
