.floatPages {
  position: fixed;
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 999999;
  background: #fff;
}

.searchBox {
  ul {
    .clearfix;
    width: 100%;
    padding: 10px 10px 0;
    li {
      display: block;
      margin-right: 10px;
      margin-bottom: 10px;
      .floatL;
      a {
        display: block;
        height: 36px;
        text-align: center;
        padding: 0 12px;
        color: #343434;
        .fontSize(@f16);
        .border-radius(4px);
      }
      &.active a, &:active a {
        color: #fff;
      }
    }
    &.searchNav1 {
      li {
        a {
          border: 1px solid #ddd;
          line-height: 34px;
        }
        &.active a, &:active a {
          background: #e83b50;
          border: 1px solid #e83b50;
        }
      }
    }
    &.searchNav2 {
      border-top: 1px solid #ddd;
      li {
        a {
          background: #ececec;
          line-height: 36px;
        }
        &.active a, &:active a {
          background: #ff9b39;
        }
      }
    }
  }
}

.searchBoxInput {
  background: #ececec;
  height: 30px;
  margin: 0 10px 10px;
  .border-radius(4px);
  .clearfix;
  i {
    .floatL;
    margin: 8px 10px 0 12px;
  }
  input {
    .floatL;
    width: calc(~'100% - ( 14px + 28px)');
    background: none;
    padding: 0px;
    height: 30px;
    line-height: 30px;
  }
}

.layermchild {
  .icon-bulb {
    margin-top: -4px;
    margin-right: 10px;
  }
}
.layermcont {
    div.be-tancen{
        display: table;
        width: 100%;
        text-align: center;
        min-height:60px;
        p{
            vertical-align: middle;
            display:table-cell;
        }
    }
}

.guidePage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 100000;
}

.viewpager {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}

.skipButtom {
  position: absolute;
  bottom: 70px;
  right: 0px;
  display: block;
  width: 90px;
  height: 40px;
  z-index: 100001;
}

.shareBox {
  position: fixed;
  bottom:10px;
  width: 100%;
  padding: 0 10px;
  .shareBox-one {
    padding: 10px;
    background: #fff;
    .border-radius(6px 6px 0 0);
    h4{
      height: 40px;
      line-height: 22px;
      color: #343434;
    }
  }
  .shareBocCen{
    #display-fix > .flex-container;
    #display-fix > .flex-nowrap;
    #display-fix > .justify-center;
    #display-fix > .align-center;
    a{
      display: block;
      flex: 1;
      text-align: center;
      span{
        display: block;
        color: #999;
        font-size: 14px;
        line-height: 26px;
      }
    }
  }
  .shareBoxBot{
    background: #fff;
    .border-radius(0 0 6px 6px);
    padding:20px 0;
    .be-cancel {
      display: block;
      text-align: center;
      color: #999;
      margin: 0 auto;
      width: 50%;
      height:36px;
      line-height: 36px;
      text-align: center;
      border:1px solid #b5b5b5;
      font-size: 14px;
      .border-radius(30px);
    }
  }

}
.gameNotBox{
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  #display-fix > .flex-container;
  #display-fix > .flex-nowrap;
  #display-fix > .justify-center;
  #display-fix > .align-center;
}
.gameNotice{
  background: #fff;
  width: 250px;
  max-height: 90%;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  .border-radius(4px);
  .noticeTitle{
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
    text-align: center;
  }
  .noticeCenter{
    padding: 10px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    div{
      word-wrap: break-word;
      word-break: normal;
      &::-webkit-scrollbar-track-piece {
        background-color: rgba(0, 0, 0, 0.2);
        border-left: 1px solid rgba(0, 0, 0, 0.2);
      }
      &::-webkit-scrollbar {/*隐藏滚轮*/
        // display: none;
        width: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
      }
    }
  }
  .noticeBut{
      padding: 10px;
      min-height: 65px;
      text-align: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      padding: 10px;
      min-height: 65px;
      .be-anTwo{
          width: 178px;
          display: inline-block;
          border-color: #e83b50;
          background-color: #e83b50;
          color: #fff;
          height: 35px;
          line-height: 35px;
          position: relative;
          z-index: 5;
          margin: 0 auto;
          .border-radius(17px);
          &:hover{
              background: #cd2f42;
          }
      }
  }
}
.MsgBox{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  #display-fix > .flex-container;
  #display-fix > .flex-nowrap;
  #display-fix > .justify-center;
  #display-fix > .align-center;
  z-index: 20180129;
}
.popMessages{
  position: relative;
  margin: 0 auto;
  width: 90%;
  min-height: 30%;
  max-height: 55%;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  .border-radius(4px);
  .messTop{
    position: relative;
    min-height: 48px;
    background: #e83b50;
    color: #FFF;
    text-align: center;
    .border-radius(4px 4px 0 0);
    -webkit-box-flex:48px 1 auto;
    -webkit-flex:48px 1 auto;
    -ms-flex:48px 1 auto;
    flex: 48px 1 auto;
    span{
      line-height: 48px;
      height: 48px;
      display: block;
    }
    i{
      margin-top: -4px;
    }
    a{
      display: block;
      position: absolute;
      right: 0px;
      top: 12px;
      width: 25px;
      height: 29px;
      margin-right: 10px;
    }
  }
  .messCent{
    background:#fff;
    color: #343434;
    margin: 0 auto;
    font-size: 13px;
    padding: 18px 0 0;
    width: 100%;
    min-height: 150px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .messContent{
      margin: 0px 10px;
      line-height: 20px;
      div{
        width: 100%;
        word-wrap: break-word;
        word-break: break-all;
      }
    }
  }
  .messBot{
    .border-radius(0 0 4px 4px);
    background: #fff;
    min-height: 20px;
    span{
      display: block;
      height: 20px;
      content:"0";
      color: #fff;
    }
  }
}

.payExplainBox{
    .gameNotice{
        width: 90%;
        height: 92%;
        max-height: 92%;
        .noticeCenter{
            height: calc(~'100% - (65px + 50px)') ;
            max-height: calc(~'100% - (65px + 50px)');
            img{
              width: 100%;
              height: 100%;
              display: block;
            }
            .mint-swipe-item{
              top: 0px;
              left: 0px;
            }
        }
    }
}
// 5s兼容样式
@media screen and (max-width: 320px) {
    .popMessages{
        padding-top:25px;
    }
}
