.newUesrGide {
  .hide
}

// head------------------------------------------------------------------------------
body {
  // background-color: #202126;
}

// 首页 css 控制
[headid="index"] {

  .head_title {
    background: transparent;
    position: absolute;
  }
  #more_func,.foot_menu{
    display: none;
  }
  .mobile_homebody_main{
    background: black;
  }

}

.mobile_body {
 // background-color: #202126;
  overflow: hidden;
}

.mobile_homebody {
  width: 1380px;
  height: auto;
}

.mobile_homebody_main {
  float: left;
  position: relative;
}

.mobile_homebody_leftmenu {
  height: 200%;
 // float: left;
  width: 0px;

  overflow: hidden;
  top: 0px;
  z-index: 99;
  background: white;
  .stop;
}

.leftmenu_login {
  height: 320px;
  width: 100%;
  color: #fff;
  background: url(/static/images/menuleft_head_login_bg.png) no-repeat;
  text-align: center;
}

.leftmenu_login_logo {
  margin-top: 37px;
  width: 100px;
}

.leftmenu_login_slogan {
  line-height: 100px;
}

.leftmenu_login_bt {
  display: block;
  color: #fff;
  width: 180px;
  height: 45px;
  font-size: 27px;
  border-radius: 35px;
  cursor: pointer;
  line-height: 45px;
  margin: 0px auto;
  border: 2px solid #fff;
  text-align: center;
}

.leftmenu_head {
  height: 320px;
  width: 630px;
  color: #fff;
  background: url(/static/images/menuleft_head_login_bg.png) no-repeat top center;
}

.leftmenu_head_info {
  padding-top: 85px;
  margin-left: 30px;
  width: 100%;
  height: 150px;
}

.leftmenu_head_inforight {
  float: left;
  margin-left: 30px;
  margin-top: 20px;
  line-height: 45px;
  font-size: 24px;
}

.member_photo {
  float: left;
}

.leftmenu_membername {
}

.salutationText {
}

.leftmenu_head_wallet {
  margin-left: 30px;
  margin-top: 10px;
  font-size: 24px;
}

.leftmenu_list {
  height: 492px;
  width: 630px;
  background-color: #fff;
  margin-top: 30px;
}

.leftmenu_list_row {
  height: 98px;
  line-height: 98px;
  display: block;
  color: black;
}

.leftmenu_list_row:active {
  background-color: #eeeeee;
}

.leftmenu_list_row_cn {
  height: 44px;
  font-size: 28px;
  margin-left: 30px;
  padding-top: 26px;
  padding-bottom: 26px;
  border-bottom: 1px solid #dddddd;
}

.leftmenu_list_row img {
  float: left;
  width: 58px;
}

.leftmenu_list_row_title {
  float: left;
  margin-left: 25px;
  margin-top: 6px;
}

.leftmenu_foot {
  background-color: #eeeeee;
  border-top: 1px solid #dddddd;
  height: 100px;
  width: 630px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.leftmenu_foot_row_cn {
  height: 44px;
  color: #000;
  display: block;
  font-size: 28px;
  margin-left: 30px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.leftmenu_foot img {
  float: left;
}

.leftmenu_foot_row_title {
  float: left;
  margin-left: 25px;
}

.head {

  height: 570px;
  width: 750px;
}

.head_money_bts {
  height: 110px;
  width: 100%;
  background-color: #323338;
}

.head_money_button {
  height: 110px;
  display: block;
  text-align: center;
  float: left;
  color: #ffffff;
  width: 187px;
}

.head_money_button img {
  margin-top: 13px;
  padding-left: 5px;
}

.head_money_button a {
  text-decoration: none;
  color: #fff;
}

.homehead_title {
  position: absolute;
  top: 28px;
  z-index: 99;
  color: #fff;
}

.head_title_bt {
  background-color: #333;
  filter: alpha(opacity=75);
  -moz-opacity: .75;
  opacity: .75;
  position: absolute;
  left: 0;
  top: 408px;
  height: 52px;
  vertical-align: middle;
}
#ann_bt{
  img{
    margin-left: 10px;
    margin-top: 9px;
  }
}
.ad_list {
  width: 100%;
  height: 460px;
  overflow: hidden;
  position: relative;
}

/*.ad_list img{width: 100%; height: 100%;}*/
.img_list {
  overflow: hidden;
  width: 750px;
  transition: margin-left 0.3s ease-out;
  -webkit-transition: margin-left 0.3s ease-out;
  -moz-transition: margin-left 0.3s ease-out;
  -o-transition: margin-left 0.3s ease-out;
  -ms-transition: margin-left 0.3s ease-out;
}

.ad {
  float: left;
  display: block;
}

.product_main {
  width: 720px;
  margin: 0px auto;
  padding-bottom: 50px;
  overflow: auto;
  color: white; // delete
  min-height: 800px;
  a{
    width: 720px;
    height: 278px;
  }
}

.product_main_bt {
  width: 720px;
  height: 278px;
  margin-top: 20px;
  display: block;
}

.product_main_bt_sport {
  background-image: url(/static/images/home/dt_01.png);
}

.product_main_bt_agcasino {
  background-image: url(/static/images/dt_01.png);
}

.product_main_bt_lbkeno {
  background-image: url(/static/images/home_main_keno.jpg);
}

.product_main_bt_agbuyu {
  background-image: url(/static/images/home_main_fishing.jpg);
}

.product_main_bt_kpcasino {
  background-image: url(/static/images/home_main_kippi.jpg);
}

.product_main_bt_ebet {
  background-image: url(/static/images/home_main_ebet.png);
}

.product_main_bt_pggame {
  background-image: url(/static/images/home_main_pggame.png);
}
.cover{
  background: rgba(0,0,0,.6);
}
#barrier_layer {
  width: 750px;
  height: 100%;
  display: none;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 580px;
  overflow: hidden;
  background: #101010;
  opacity: 0.8;
  cursor: pointer;
}

/**
    轮播图------------------------------------------------------------------
 */
#homeMain {
  width: 750px;
}

.banner {
  width: 100%;
  background: #fff;
  height: 460px;
}

.mint-swipe {
  overflow: hidden;
  position: relative;
  height: 100%;
  //.b1
}

.mint-swipe-items-wrap {
  position: relative;
  overflow: hidden;
  height: 100%;
  //.b1
}

.mint-swipe-items-wrap {
  div {
    img {
      .wh100
    }
  }
  > div {
    position: absolute;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    display: none
  }
}

.mint-swipe-items-wrap > div.is-active {
  display: block;
  -webkit-transform: none;
  transform: none;
}

.mint-swipe-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.mint-swipe-indicator {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
  margin: 0 3px;
}

.mint-swipe-indicator.is-active {
  background: #fff;
}

.mint-swipe-indicators {
  .hide
}

/**
    轮播图------------------------------------------------------------------
 */
// 公告

#main {
  .notice .marqueeBox {
    width: 100%;
    height: 2rem;
  }
  .marquee {
    height: 100%;
    line-height: 1rem;
    width: 100%;
    top: 0;
    right: 0;
    color: #a7b384;
    font-size: .24rem;
    position: absolute;
  }
}

#setting_pwd_box_submit{
  &.active{
    background-color: @blue1;
  }
}


/**
 product
 */

.product_main {
  margin: 0px auto;
  overflow: auto;
}


.product_main_bt_agcasino {
  background-image: url(/static/images/home/dt_01.png);
}

.product_main_bt_178 {
  background-image: url(/static/images/home/home_main_761city.jpg);
}
// hide footer
[headid="password"]{
  #more_func, .foot_menu {
    display: none;
  }

}

#more_func_img{
  width: 90px;
  height: 90px;
}
