.be-icon{
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-menu{
    border:none;
    width: 20px;
    height: 2px;
    position: relative;
    background: #fff;
    left: 2px;
    margin: -14px 0 0;
    padding: 0px;
    &::before,&::after{
        position: absolute;
        top: 6px;
        left: 0;
        content: "";
        width: 20px;
        height: 2px;
        background: #fff;
    }
    &::after{
        top: 12px;
    }
}
.icon-user{
    width: 24px;
    height: 24px;
    background-image: url('@{imgUrl}/account.svg');
}
.icon-sound{
    width: 16px;
    height: 16px;
    background-image: url('@{imgUrl}/sound.svg');
}
.icon-promotion{
    width:  1.5rem;
    height: 1.5rem;
    background-image: url('@{imgUrl}/quickNav/promotion.svg');
}
.icon-favorite{
    width:  1.5rem;
    height: 1.5rem;
    background-image: url('@{imgUrl}/quickNav/favorite.svg');
}
.icon-browse{
    width: 1.5rem;
    height:1.5rem;
    background-image: url('@{imgUrl}/quickNav/browse.svg');
}
.icon-hot{
    width: 36px;
    height: 36px;
    background-image: url('@{imgUrl}/game/icoHot.png');
}
.icon-gamefree{
    width: 36px;
    height: 36px;
    background-image: url('@{imgUrl}/game/icoFree.png');
}
.icon-fire{
    width: 36px;
    height: 36px;
    background-image: url('@{imgUrl}/game/icoFire.png');
}
.icon-free{
    width:28px;
    height:28px;
    background-image: url('@{imgUrl}/footer/ico-free.svg');
}
.icon-login{
    width:28px;
    height:28px;
    background-image: url('@{imgUrl}/footer/ico-login.svg');
}
.icon-betRecord{
    width:28px;
    height:28px;
    background-image: url('@{imgUrl}/footer/ico-betRecord.svg');
}
.icon-withdrawal{
    width:28px;
    height:28px;
    background-image: url('@{imgUrl}/footer/ico-withdrawal.svg');
}
.icon-topUp{
    width:28px;
    height:28px;
    background-image: url('@{imgUrl}/footer/ico-topUp.svg');
}
.icon-forget{
    width:28px;
    height:28px;
    background-image: url('@{imgUrl}/footer/ico-forget.svg');
}
.icon-service{
    width:28px;
    height:28px;
    background-image: url('@{imgUrl}/footer/ico-service.svg');
}
.icon-share{
    width:34px;
    height:34px;
    background-image: url('@{imgUrl}/footer/ico-share.svg');
}
.icon-pc{
    width:36px;
    height:36px;
    background-image: url('@{imgUrl}/footer/ico-pc.svg');
}
.icon-home{
    background-image: url('@{imgUrl}/sideMenu/ico-home.svg');
}
.icon-live{
    background-image: url('@{imgUrl}/sideMenu/ico-live.svg');
}
.icon-sports{
    background-image: url('@{imgUrl}/sideMenu/ico-sports.svg');
}
.icon-solt{
    background-image: url('@{imgUrl}/sideMenu/ico-solt.svg');
}
.icon-lottery{
    background-image: url('@{imgUrl}/sideMenu/ico-lottery.svg');
}
.icon-chessGame{
    background-image: url('@{imgUrl}/sideMenu/ico-chessGame.svg');
}
.icon-promotion2{
    background-image: url('@{imgUrl}/sideMenu/ico-promotion.svg');
}
.ico-favorite{
    background-image: url('@{imgUrl}/sideMenu/ico-favorite.svg');
}
.ico-browse{
    background-image: url('@{imgUrl}/sideMenu/ico-browse.svg');
}
.icon-balance{
    width: 22px;
    height: 22px;
    background-image: url('@{imgUrl}/common/ico-balance.svg');
}
.icon-f5Account{
    width: 24px;
    height: 24px;
    margin: 0px;
    background-image: url('@{imgUrl}/common/ico-f5Account.svg');
}
.icon-myAccount{
    background-image: url('@{imgUrl}/sideMenu/ico-myAccount.svg');
}
.icon-transfer{
    background-image: url('@{imgUrl}/sideMenu/ico-transfer.svg');
}
.icon-online{
    background-image: url('@{imgUrl}/sideMenu/ico-online.svg');
}
.icon-pay{
    background-image: url('@{imgUrl}/sideMenu/ico-pay.svg');
}
.icon-newMessage{
    background-image: url('@{imgUrl}/sideMenu/ico-newMessage.svg');
}
.icon-notice{
    background-image: url('@{imgUrl}/sideMenu/ico-notice.svg');
}
.icon-service2{
    background-image: url('@{imgUrl}/sideMenu/ico-service2.svg');
}
.icon-share2{
    background-image: url('@{imgUrl}/sideMenu/ico-share2.svg');
}
.icon-gameclient{
    background-image: url('@{imgUrl}/sideMenu/ico-gameclient.svg');
}
.icon-house{
    width: 30px;
    height: 30px;
    background-image: url('@{imgUrl}/common/ico-house.svg');
}
.icon-arrows-left{
    width: 30px;
    height: 30px;
    background-image: url('@{imgUrl}/common/icon-arrows-left.svg');
}
.icon-arrows-right{
    width: 30px;
    height: 30px;
    background-image: url('@{imgUrl}/common/ico-arrows-right.svg');
}
.icon-arrows-top{
    width: 25px;
    height: 25px;
    background-image: url('@{imgUrl}/common/ico-arrows-top.svg');
}
.icon-arrows-bottom{
    width: 25px;
    height: 25px;
    background-image: url('@{imgUrl}/common/ico-arrows-bottom.svg');
}
.icon-kuai{
    width: 20px;
    height: 20px;
    background-image: url('@{imgUrl}/member/kuai.png');
}
i[class*="icon-radio"]{
    width: 30px;
    height: 30px;
}
.icon-radio-no{
    background-image: url('@{imgUrl}/member/ico-radio-no.svg');
}
.icon-radio-yes{
    background-image: url('@{imgUrl}/member/ico-radio-yes.svg');
}

.icon-correct{
    width: 19px;
    height: 19px;
    background-image: url('@{imgUrl}/member/checked01.png');
}
.icon-setup{
    width: 30px;
    height: 30px;
    background-image: url('@{imgUrl}/common/ico-setup.svg');
}
.be-user-nav a i{
    height: 50px;
    width: 50px;
    background: url('@{imgUrl}/member/ico-userCenter.png') no-repeat;
    transform: scale(.6);
    margin: 0 auto;
    display: block;
    &.icon-centerPay{
        background-position: 0 -150px;
    }
    &.icon-conterWithdrawal{
        background-position: 0 0;
    }
    &.icon-conterLimit{
        background-position: 0 -200px;
    }
    &.icon-contertransfer{
        background-position: 0 -250px;
    }
    &.icon-conterMessage{
        background-position: 0 -50px;
    }
    &.icon-conterAffiche{
        background-position: 0 -100px;
    }
    &.icon-conterClient{
        background-position: 0 -300px;
    }
}
.icon-love{
    width: 11px;
    height: 14px;
    background-image: url('@{imgUrl}/common/ico-love.svg');
}
.icon-search{
    width: 25px;
    height: 25px;
    background-image: url('@{imgUrl}/common/ico-search.svg');
}
.icon-search2{
    width: 14px;
    height:14px;
    background-image: url('@{imgUrl}/common/ico-search2.svg');
}
.icon-bulb{
    width: 22px;
    height:22px;
    background-image: url('@{imgUrl}/common/ico-bulb.svg');
}

i.icon-weixin{
    width: 32px;
    height: 32px;
    background-image: url('@{imgUrl}/ico-weixin.svg');
}
i.icon-wechat{
  width: 32px;
  height: 32px;
  background-image: url('@{imgUrl}/ico-weixin.svg');
}
i.icon-qq{
    width: 32px;
    height: 32px;
    background-image: url('@{imgUrl}/ico-qq.svg');
}
i.icon-weibo{
    width: 32px;
    height: 32px;
    background-image: url('@{imgUrl}/ico-weibo.svg');
}
i.icon-qzone{
    width: 32px;
    height: 32px;
    background-image: url('@{imgUrl}/ico-qzone.svg');
}
i.ico-refresh{
    width: 20px;
    height: 20px;
    background-image: url('@{imgUrl}/common/f15.png');
}
.icon-load-top{
    width: 20px;
    height: 20px;
    background-image: url('@{imgUrl}/common/ico-load-top.svg');
}
.icon-smallbell{
    width: 20px;
    height: 20px;
    background-image: url('@{imgUrl}/common/ico-smallbell.svg');
}
.icon-close{
    width: 20px;
    height: 20px;
    background-image: url('@{imgUrl}/common/ico-close.svg');
}

a.actived,a:active{
    // i.icon-free{
    //     background-image: url('@{imgUrl}/footer/ico-free-h.svg');
    // }
    // i.icon-login{
    //     background-image: url('@{imgUrl}/footer/ico-login-h.svg');
    // }
    // i.icon-forget{
    //     background-image: url('@{imgUrl}/footer/ico-forget-h.svg');
    // }
    // i.icon-service{
    //     background-image: url('@{imgUrl}/footer/ico-service-h.svg');
    // }
    // i.icon-share{
    //     background-image: url('@{imgUrl}/footer/ico-share-h.svg');
    // }
    // i.icon-pc{
    //     background-image: url('@{imgUrl}/footer/ico-pc-h.svg');
    // }
    // .icon-betRecord{
    //     background-image: url('@{imgUrl}/footer/ico-betRecord-h.svg');
    // }
    // .icon-withdrawal{
    //     background-image: url('@{imgUrl}/footer/ico-withdrawal-h.svg');
    // }
    // .icon-topUp{
    //     background-image: url('@{imgUrl}/footer/ico-topUp-h.svg');
    // }
    i.icon-house{
        background-image: url('@{imgUrl}/common/ico-house-h.svg');
    }
    i.icon-setup{
        background-image: url('@{imgUrl}/common/ico-setup-h.svg');
    }
}


// 自制图标
.be-zz-icon{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    &::before,&::after{
        position: absolute;
        content: "";
        display: block;
    }
}
.yico-arrow-down{
    width: 9px;
    height: 19px;
    &::before, &::after{
        border-style: solid;
        border-width: 5px 5px 0;
        right: -2px;
    }
    &::before{
        border-color: #555 transparent ;
        top: 6px;
    }
    &::after{
        border-color: #fff transparent ;
        top: 5px;
    }
}
.yico-xiala{
    width: 20px;
    height: 16px;
    &::before {
        border-style: solid;
        border-width: 5px 5px 0;
        right: 1px;
    }
    &::before{
        border-color: #999 transparent ;
        top: 6px;
    }
}

.fixedIt{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  margin: 0px;
  width: 100%;
  min-width: 30px;
  height: 44px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 500;
  line-height: 44px
}
.be-menu-left{
  overflow: hidden;
}
.disable-user-behavior {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
  -ms-touch-action: none;
  -ms-content-zooming: none
}

.example-content {
  -webkit-transition: all .45s cubic-bezier(.23,1,.32,1);
  transition: all .45s cubic-bezier(.23,1,.32,1)
}
