// .view-container {
//   position: absolute;
//   display: block;
//   width: 100%;
//   height: 100%
// }
// .pane {
//   -webkit-transform: translate3d(0, 0, 0);
//   transform: translate3d(0, 0, 0);
//   -webkit-transition-duration: 0;
//   transition-duration: 0;
//   z-index: 1
// }

// .view {
//   z-index: 1
// }

// .pane,.view {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
// }
