/* layer弹层移动版样式 */
p {
  padding: 0;
  margin: 0;
}

.layermbox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 29891014;
  p, a, span {
    font-size: 24px;
  }
}

/*.layermbox *{margin:0; bottom:0;}*/
.layermanim {
  transition: all .18s;
  -webkit-transition: all .18s;
}

.laymshade,
.layermmain {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.laymshade {
  background-color: rgba(0, 0, 0, .5);
  pointer-events: auto;
}

.layermmain {
  display: table;
  font-family: Helvetica, arial, sans-serif;
  pointer-events: none;
}

.layermmain .section {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.layermchild {
  position: relative;
  display: inline-block;
  text-align: left;
  background-color: #fff;
  font-size: 24px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  pointer-events: auto;
}

.layermborder {
  border: 1px solid #999;
}

.layermshow .layermchild {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.layermbox0 .layermchild {

}

.layermbox1 .layermchild {
  border: none;
  border-radius: 0;
}

.layermbox2 .layermchild {
  width: auto;
  max-width: 260px;
  min-width: 40px;
  border: none;
  background-color: rgba(0, 0, 0, .6);
  color: #fff;
}

.layermcont {
  padding: 20px 15px;
  line-height: 22px;
  border-radius: 5px;
}

.layermbox1 .layermcont {
  padding: 0;
}

.layermbox2 .layermcont {
  text-align: center;
  padding: 30px 30px 0;
  line-height: 0;
}

.layermbox2 .layermcont i {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 8px;
  display: inline-block;
  background-color: #fff;
  border-radius: 100%;
}

.layermbox2 .layermcont i {
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1)
  }
}

@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0)
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1)
  }
}

.layermbox2 .layermcont i:first-child {
  margin-left: 0;
  -webkit-animation-delay: -.32s;
  animation-delay: -.32s;
}

.layermbox2 .layermcont i.laymloadtwo {
  -webkit-animation-delay: -.16s;
  animation-delay: -.16s;
}

.layermbox2 .layermcont > div {
  line-height: 22px;
  padding-top: 7px;
  margin-bottom: 20px;
  font-size: 24px;
}

.layermbtn {
  height: 68px;
  line-height: 68px;
  font-size: 0;
  text-align: center;
  border-top: 1px solid #a2a1a1;
 // margin-bottom: 20px;
 // padding-top: 8px;
}

.layermbtn span {
  position: relative;
  display: inline-block;
  width: 50%;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  border-radius: 0 5px 0 0;
}

.layermbtn span:first-child {
  height: 39px;
  background-color: #fff;
  border-radius: 0 0 0 5px;
}

.layermbtn:before {
  content: '\20';
  position: absolute;
  width: 1px;
  height: 39px;
  left: 50%;
  top: 0;
  background-color: #EBEBEB;
}

.layermend {
  position: absolute;
  right: 7px;
  top: 10px;
  width: 30px;
  height: 30px;
  border: 0;
  font-weight: 400;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 30px;
}

.layermend::before,
.layermend::after {
  position: absolute;
  left: 5px;
  top: 13px;
  content: '';
  width: 20px;
  height: 2px;
  background-color: rgba(0, 0, 0, .3);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-radius: 3px;
}

.layermend::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.layermsg .layermcont {
  padding: 10px;
  line-height: 21px;
  text-align: center
}

.width380 {
  width: 380px
}

.laymshade {
  background-color: rgba(0, 0, 0, .4)
}

.layermbox2 .layermcont i:nth-child(1) {
  background-color: #f40
}

.layermbox2 .layermcont i:nth-child(2) {
  background-color: #f60
}

.layermbox2 .layermcont i:nth-child(3) {
  background-color: #f90
}

.layermchild {
  position: relative;
}

.layermchild h3 {
  margin: 0;
  height: 48px;
  line-height: 48px;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #FFF;
  border-radius: 4px 4px 0 0;
 // border-bottom: 1px solid #e2e2e2;
  text-align: center;
  padding-left: .4rem;
  p{
    color: @blue1;
   // margin-left: 40px;
    padding-top: 10px;
  }
}

.layermend {
  animation-duration: .5s;
  transition: .5s;
  width: 26px;
  height: 28px;
  right: 10px
}

.layermend:focus {
  outline: none
}

.layermend:before {
  -ms-transform: rotate(-45deg)
}

.layermend:after {
  -ms-transform: rotate(45deg)
}

.layermend:after,
.layermend:before {
  background-color: #83828a;
  width: 16px
}

.layermend:hover {
  transform: rotate(180deg)
}

.layermbox0 .layermchild {
  min-width: 640px;
  max-width: 7000px;
  min-height: 250px;
  border-radius: 22px
}

.layerBet.layermanim.layermchild,
.msg.layermanim.layermchild {
  width: inherit;
  min-width: 380px
}

.layermbtn {
  // border: none;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
// layermchild layerConfirm layerConfirm2 layermanim
// 确认框
.layerConfirm2{
  .layermbtn span[type="0"]{
    //  float: left;
    background: #3079c5;
    color: white;
    border-radius: 0 0 0 22px;
  }
  .layermbtn span[type="1"]{
    //  float: right;
    background-color:white;
    color: black;
    border-radius: 0 0 22px 0;
  }
  .layermcont{
    line-height: 100px!important;
    vertical-align: middle;
  }
}
.yo-tancen{
  p{
  //  line-height: 100px!important;
    vertical-align: middle;
    display: inline-block;
  }
}
//layermchild layerConfirm layermanim 直接弹
.layermbtn:before {
  display: none
}

.layermbtn span[type="0"],
.layermbtn span[type="1"] {
  height: 68px;
  padding: 0 14px;
//  background-color: #3079c5;
  background-color:white;
  color: black;
 // border-radius: 3px;
  font-weight: 400;
  line-height: 68px;
  cursor: pointer;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  position: static;
//  width: auto;
  display: inline-block;
  width: 319px;
 // margin: 2px 14px;
}
.layermbtn span[type="0"]{
//  float: left;
  color: black;
}
.layermbtn span[type="1"]{
//  float: right;
  background: #3079c5;
  color: white;
/*  border-radius: 12px;
  padding: 2px;*/
}

.layermbtn span[type="0"]:hover,
.layermbtn span[type="1"]:hover {
  background: #cd2f42;
}

.layerConfirm .layermcont,
.layermsg .layermcont,
.msgWarn .layermcont,
.url .layermcont {
  max-height: 260px;
  min-height: 100px;
  line-height: 24px;
  color: #343434;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.imageReview {
  max-width: 90% !important;
  min-width: 100px !important;
  min-height: 100px !important
}

.imageReview .layermcont {
  padding: 20px
}

.imageReview img {
  width: 100%;
  display: block
}

.msgWait {
  min-height: 50px !important;
  max-height: 50px !important;
  min-width: 160px !important;
  max-width: 270px !important;
  background-color: inherit !important;
  box-shadow: none
}

.msgWait .layermcont {
  padding: 15px 6px;
  background-color: inherit
}

.msgWait .layermcont .svgLoad {
  float: left;
  margin: -4px 5px 0 0
}

.msg {
  min-height: 60px !important;
  min-width: 250px !important
}

.msg .layermcont {
  margin: 25px 0 !important
}

.lotteryConfirm {
  width: 400px;
  min-height: 250px;
  background: #fff;
  text-align: left;
  font-size: 24px;
  line-height: 2.5;
  padding-left: 10px
}

.lotteryConfirm .textarea {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 2px 5px;
  display: inline-block;
  font-size: 22px;
  width: 310px;
  height: 120px;
  overflow: auto;
  vertical-align: top
}

.lotteryConfirm .textarea p {
  margin: 0
}

.lotteryConfirm span {
  margin-right: 5px
}

.lotteryConfirm em em {
  color: red;
  margin: 5px
}

.chaseLayer {
  width: 420px;
  margin: 0;
  padding-left: 30px;
  margin-bottom: 35px
}

.layermbox2 .layermchild[data-v-5e5a3c80] {
  box-shadow: none;
  background-color: inherit
}

.laymshade[data-v-5e5a3c80] {
  background-color: rgba(0, 0, 0, .05)
}
