.be-left-menu, .be-right-menu{
  overflow: hidden;
  background: #f2f3f3;
  height: 100%;
}
.be-left-menu{
  h1 {
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: #c4a8ac;
    color: #fff;
    .fontSize(@f16);
    margin-bottom: 5px;
  }
}

.sideMenu {
  display: block;
  li{
    height: 51px;
    line-height: 50px;
  }
  a {
    display: block;
    padding-left: 20px;
    .fontSize(@f16);
    background: #fff;
    border-bottom: 1px solid #f2f3f3;
    color: #666;
    &:active {
      background: #eef1f1;
    }
  }
  i {
    display: block;
    width: 32px;
    height: 27px;
    float: left;
    margin-top: 12px;
    margin-right: 12px;
  }
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}
.be-left-menu{
  .sideMenu{
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(~'100% - 44px');
    -webkit-overflow-scrolling: touch;
  }
}
.be-right-menu{
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.rightMenu {
  a {
    padding-left: 5px;
  }
  i {
    width: 32px;
    height: 30px;
    margin: 10px;
  }
}

.sideUser {
  padding: 20px 0 15px;
  background-image: url('@{imgUrl}/common/yo-user-bg.svg');
  background-size: cover;
  overflow: hidden;
}

.touxiang {
  &.tx1 {
    width: 80px;
    height: 80px;
    margin: 0 auto 10px;
  }
  &.tx2 {
    .floatL;
    width: 59px;
    height: 59px;
    margin: 0 10px 0 20px;
  }
  img {
    width: 100%;
    height: 100%;
    .border-radius(30px);
  }
}

.isLogin {
  .clearfix;
  width: 100%;
  .info {
    .floatL;
    color: #fff;
    text-align: left;
    margin-left: 7px;
    .info-t {
      font-size: 18px;
      margin: 6px 0 7px 4px;
      vertical-align: middle;
    }
    i, span {
      vertical-align: middle;
    }
    .icon-balance {
      margin: 0px;
    }
  }
}

.rightout {
  text-align: center;
  margin: 8px 0;
  a {
    display: inline-block;
    width: calc(~"32% - 5px");
    height: 32px;
    line-height: 32px;
    color: #fff;
    border: 1px solid white;
    .fontSize(@f16);
    .border-radius(40px);
    background-color: rgba(255, 255, 255, 0.2);
    .box-shadow(0, 0.125rem, 0.325rem, rgba(255, 86, 113, 0.61));
    &.right-bt-tc {
      width: 100px;
      font-size: 13px;
    }
    &:active {
      opacity: .7;
      background-color: #ee6967;
    }
  }
}



