body, div, p, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, select, button, textarea, blockquote {
  margin: 0;
  padding: 0;
  font-family: Tahoma, "Microsoft YaHei", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}
ol,ul {list-style:none;}
li{list-style-type:none;}
body, input, select, textarea {
  font-size: 24px;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 153, 255);
}

html {
  background-color: #F5f4f7;
}

.mobile_body {
  width: 750px; /*margin:0px auto;*/
}

.form_main_content {
//  margin-top: 120px;
  margin-top: 94px;

}

.main_content {
  margin-top: 90px;
}

/*仿ios输入框*/
.input_iosbox {
  height: 93px;
  width: 100%;
  border-bottom: 1px solid #dddddd;
  background-color: #fff;
  border-top: 1px solid #dddddd;
  margin-bottom: 30px;
}

.input_iosbox_title {
  width: 110px;
  float: left;
  height: 93px;
  line-height: 93px;
  text-align: left;
  margin-left: 20px;
}

.input_ios {
  float: left;
  height: 50px;
  border: 0px;
  padding-top: 21px;
  padding-bottom: 21px;
  width: 610px;
  outline: none;
}

.input_iosbox_title img {
  margin-top: 26px;
  margin-left: 25px;
}

.input_iosbox select {
  width: 160px;
  height: 50px;
  margin-top: 21px;
  margin-right: 20px;
  outline: none;
  border: 0px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(/static/images/dropdown_logo_2.png) no-repeat right #FFF;
}

/*仿ios输入框结束*/

/*通用提交按钮*/
.submit_blue_bt {
  margin: 30px auto;
  width: 690px;
  height: 78px;
  border-radius: 50px;
  cursor: pointer;
  line-height: 78px;
  text-align: center;
  color: #fff;
  font-size: 28px;
  background-color: @blue1;
}

.submit_blue_bt_s {
  border-radius: 25px;
  margin-top: 26px;
  margin-right: 20px;
  width: 120px;
  height: 50px;
  float: right;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  color: #fff;
  background-color: rgb(0, 153, 255);
}

.submit_gray_bt {
  margin: 50px auto;
  width: 690px;
  height: 70px;
  border-radius: 50px;
  cursor: pointer;
  line-height: 70px;
  text-align: center;
  color: #fff;
  font-size: 28px;
  background-color: #cccccc;
}

.submit_gray_bt_s {
  border-radius: 25px;
  margin-top: 26px;
  margin-right: 20px;
  width: 120px;
  height: 50px;
  float: right;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  color: #fff;
  background-color: #ccc;
}

/*悬浮选择窗*/
.float_box {
  background-color: #fff;
  display: none;
  width: 750px;
  color: #0099ff;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 999;
}

.float_row {
  width: 100%;
  display: block;
  height: 100px;
  border-top: 1px solid #dddddd;
  text-align: center;
  line-height: 100px;
}

.mobile_overlay {
  background: #000;
  opacity: 0.3;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
}

/*内页头部标题*/
.head_title {
  width: 750px;
  height: 90px;
  background-color: #323338;
  z-index: 11;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  color: #fff;
  line-height: 90px;
  font-size: 30px;
}

.pageback_bt {
/*  width: 100px;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  text-align: left;*/
}

.pageback_bt_img {
  margin-top: 23px;
  width: 53px;
  height: 48px;
}

.pageback_bt_c {
  width: 100px;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  text-align: left;
}

/*内页头部标题end*/

.menu_row {
  height: 96px;
  line-height: 96px;
  display: block;
  color: black;
}

.menu_icon {
  width: 115px;
  text-align: center;
  padding-top: 19px;
  float: left;
}

.menu_row_r {
  width: 630px;
  float: right;
  height: 96px;
  border-bottom: 1px solid #dddddd;
  line-height: 96px;
}

.menu_row_r_jiantou {
  float: right;
  margin-top: 36px;
  margin-right: 10px;
  width: 18px!important;
  height: auto!important;
}

.search_select_row {
  width: 730px;
  padding-left: 20px;
  height: 96px;
  border-bottom: 1px solid #dddddd;
  background-color: #fff;
  border-top: 1px solid #dddddd;
  line-height: 96px;
}

.search_select_row select {
  width: 724px;
  height: 96px;
  background-color: #fff;
  outline: none;
  border: 0px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
 // .b1;
}

.search_select_jiantou {
   float: right;
  margin-top: 26px;
  margin-right: 10px;
  position: relative;
  top: -96px;
}

.foot_menu {
  height: 100px;
  width: 750px;
  background-color: #ebf4f9;
  font-size: 22px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  border-top: 1px solid #dddddd;
}

.foot_menu_bt {
  width: 150px;
  color: #000;
  height: 100px;
  display: block;
  text-align: center;
  float: left;
}

.foot_menu_bt_select {
  color: rgb(0, 153, 255);
}

.foot_menu_icon {
  margin-top: 10px;
  width: 42px;
}

#more_func {
  position: fixed;
  bottom: 0px;
  left: 300px;
  width: 150px;
  height: 95px;
  z-index: 900;
}

.more_menu_bg {
  width: 100%;
  height: 100%;

  background: rgba(39, 37, 37, 0.5);
  display: none;

  position: fixed;
  top: -106px;
  left: 0;
  z-index: 888;
}

.more_menu_box {
  width: 750px;
  background: rgb(235, 244, 249);
  display: none;
  position: absolute;
  bottom: 0;
}

.more_menu_box_con {
  width: 690px;
  margin: 0px auto;
  margin-top: 26px;
}

.more_menu_bt {
  width: 172px;
  height: 200px;
  text-align: center;
  float: left;
  display: block;
  color: #000;
  >img{
    border-radius: 4px;
    width: 110px;
  }
}

.tanchuceng_overlay {
  background: #000;
  opacity: 0.5;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
}

.tanchuceng_box {
  position: fixed;
  display: none;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 540px;
  height: 610px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 16px;
  z-index: 999;
}

.tanchuceng_head {
  background-color: #ebf4f9;
  height: 80px;
  font-weight: bold;
  font-size: 26px;
  width: 100%;
  line-height: 80px;
  text-align: center;
}

.tanchuceng_cont {
  width: 500px;
  padding: 20px;
  height: 390px;
}

#tanchuceng_close_bt {
  width: 320px;
  height: 70px;
  cursor: pointer;
  margin: 0px auto;
  line-height: 70px;
  text-align: center;
  border-radius: 40px;
  color: #fff;
  background-color: rgb(0, 153, 255);
}

.tanchuceng_time {
  margin-left: 20px;
  height: 60px;
  line-height: 60px;
  color: #808080;
}

.bank_type_icon_bg .ICBC {
  background-position: 0px 0px;
}

.bank_type_icon_bg .ABC {
  background-position: -40px 0px;
}

.bank_type_icon_bg .CCB {
  background-position: -80px 0px;
}

.bank_type_icon_bg .CMBC {
  background-position: -120px 0px;
}

.bank_type_icon_bg .BOC {
  background-position: -160px 0px;
}

.bank_type_icon_bg .CMSB {
  background-position: 0px -40px;
}

.bank_type_icon_bg .BOCO {
  background-position: -40px -40px;
}

.bank_type_icon_bg .ECITIC {
  background-position: -160px -40px;
}

.bank_type_icon_bg .CEB {
  background-position: -80px -120px;
}

.bank_type_icon_bg .CIB {
  background-position: -40px -80px;
}

.bank_type_icon_bg .POST {
  background-position: -160px -80px;
}

.bank_type_icon_bg .PINGAN {
  background-position: -120px -40px;
}

.bank_type_icon_bg .CEBB {
  background-position: -80px -120px;
}

.bank_type_icon_bg .GDB {
  background-position: -0px -80px;
}

.bank_type_icon_bg .HXB {
  background-position: -40px -120px;
}

[headid="/wap/memberCenter/management"] {
  #more_func, .foot_menu {
    display: none;
  }
}

.showDay {
  position: relative;
  top: 28px;
  left: 2px;
}

.money_ul {
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    width: 100%
  }

  li {
    background: #fff;
    display: block;
    border-bottom: 1px solid #4e4f54;
    border-left: 1px solid #bdbfc7;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 33.1%;
    padding: 8px 0;
  }
}

[headid="thirdParty"] {
  // display: none;
}

.changeimg {
  width: 40px;
  height: 40px;
}
// min ui 修改

.mint-spinner-fading-circle{
 // left:50%;
}
.mint-indicator-wrapper{
  padding: 50px!important;
  .mint-indicator-text{
    font-size: 28px;
  }
}

.shadown {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  background: rgba(0,0,0,.7)
}
#modaDiv{
    .cancl{
      width: 540px;
      /* margin: 0 auto; */
      margin-left: -19px;
      margin-top: 79px;
      background: #a2a5a2;
    }
}
.f5Money{
  vertical-align: middle;
  // 刷新的图片 旋转
  img{
    width: 42px;
    height: 42px;
  }
}
@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);
  }to {
     -webkit-transform: rotate(360deg);
   }}


.loding {
  transition: All 1s ease-in-out;
  -webkit-transition: All 1s ease-in-out;
  -moz-transition: All 1s ease-in-out;
  -o-transition: All 1s ease-in-out;

  -webkit-transform: rotate(360deg);
  animation: rotation 1s linear infinite;
  -moz-animation: rotation 1s linear infinite;
  -webkit-animation: rotation 1s linear infinite;
  -o-animation: rotation 1s linear infinite;
}


.ann_tips_dot {
  color: white;
  z-index: 19;
  position: absolute;
  top: 14px;
  right: 12px;
  height: 28px;
  width: 672px;
  marquee{
    width: 100%;
    display: inline-block;
  }
}
.submit_gray_bt.active{
  background-color: @blue1;
}
.addDiv{
  width: 750px;
  height: 14rem;
}
.loginOut{
  width: 100px;
  color: #fff;
  border: 1px solid white;
  background-color: @blue1;
  box-shadow: 0 0.125rem 0.325rem  @blue1;
  -moz-box-shadow: 0 0.125rem 0.325rem  @blue1;
  -webkit-box-shadow: 0 0.125rem 0.325rem  @blue1;
  -ms-box-shadow: 0 0.125rem 0.325rem  @blue1;
  -o-box-shadow: 0 0.125rem 0.325rem  @blue1;
  position: absolute;
  right: 30px;
  top: 244px;
  text-align: center;
  padding: 10px 14px;
}
