[headid="deposit"], [headid="payHead"], [headid="quickpay"],
[headid="bankpay"] ,[headid="onlinepay"],[headid="wxpayScan"],[headid="orderDetail3"],
[headid="jdpay"],[headid="orderDetail"],[headid="alipay"],[headid="cancelSuccess"],
[headid="qqpay"]{
  #more_func, .foot_menu {
    .hide
  }
  #footer {
    .hide
  }
  .cashier_from_title {
    .title_bgblue {
      top: 208px;
    }
  }
  #deposit_bt{
    >div{
      display: inline-block;
      width: 50%;
      height: 100%;
      line-height: 80px;
      float: left;
    }
    .active{
      background-color: #0099ff;
      color: white;
    }
   .l1{

     .border-radius(50px 0 0 50px);
   }
    .r1{
      .border-radius(0 50px 50px 0);
    }
  }
}

[headid="payHead"] {
  .title_bgblue {
    top: 110px !important;
  }
}

.payblue {
  .positionr;
  .title_bgblue {
    left: -15px !important;
    top: 23px !important;
  }
}

// 支付头部
#payHead {
  // 支付外框
  .deposit_tab_menu {
    height: auto;
    width: 750px;
    background-color: #ebf4f9;
    border-bottom: 1px solid #dddddd;
    color: black;
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    overflow: auto;
  }

  .deposit_tab_menu_bt {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    // color:white;
    padding: 2px;
    height: 140px;
    p:first-child {
      margin-top: 12px;
    }
    img {
      //  display: none;
      height: 70px;
    }
    &.active {
      border-bottom: 1px solid #2b8ae4;
      img {
        /*        display: block;
                position: relative;
                top: -98px;
                right: -61px;
                user-select: none;*/
      }
    }
    &.nodata {
      color: white;
      background-color: #94969e;
    }
  }
}

.bt_select {
  border-bottom: 2px solid rgb(0, 153, 255);
  color: rgb(0, 153, 255);
}

.cashier_from_title {
  margin-left: 40px;
}

.deposit_money_sel {
  width: 100%;
  height: 100px;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.deposit_money_sel_bt {
  width: 149px;
  height: 99px;
  float: left;
  border-left: 1px solid #dddddd;
  line-height: 99px;
  text-align: center;
  background-color: #fff;

}

.deposit_money_sel_bt_select {
  background: url(/static/images/money_select.png) no-repeat;
  color: rgb(0, 153, 255);
}

.money_table {
  border-collapse: collapse;
  width: 100%;
}

.money_table td {
  border: 1px solid #dddddd;
  width: 15%;
  height: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
}

.tb_money_gray {
  color: gray;
}

.tb_money {
  color: rgb(0, 153, 255);
}

.money_table_title {
  width: 710px;
  height: 60px;
  line-height: 60px;
  position: relative;
  padding-left: 40px;
}

.search_select_row_icon {
  margin-top: 27px;
  float: left;
  margin-right: 20px;
}

.deposit_not_available {
  text-align: center;
  width: 750px;
}

.deposit_not_available_img {
  padding-top: 70px;
  padding-bottom: 30px;
}

.deposit_bankcard {
  width: 750px;
  background-color: #fff;
}

.bankcard_bg {
  width: 690px;
  height: 420px;
  margin: 0px auto;
  color: #fff;
  background: url('/static/images/bank_card_bg_03.png');
}

.order_acc {
  color: #0096ff;
  height: 200px;
  line-height: 200px;
  text-align: center;
}

.deposit_bankcard_bankname {
  height: 100px;
  line-height: 100px;
  font-size: 30px;
}

.deposit_bankcard_rows {
  height: 60px;
  line-height: 60px;
  padding-left: 30px;
}

.deposit_bankcard_copy {
  margin-top: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #fff;
  font-weight: normal;
  padding: 2px;
  float: right;
  cursor: pointer;
}

.bank_type_icon_bg {
  height: 60px;
  width: 60px;
  float: left;
  margin: 20px 20px auto 30px;
  border-radius: 50%;
  background-color: #fff;
}

.bank_type_icon {
  width: 40px;
  height: 40px;
  background: url(/static/images/bank38.png) no-repeat;
  margin: 10px;
}

.bank_type_icon_bg .ICBC {
  background-position: 0 0;
}

.deposit_tips_rows {
  height: 50px;
  line-height: 50px;
  margin-left: 30px;
  background-color: #fff;
}

.deposit_tips_rows b {
  color: #0096ff;
}

.deposit_tips_title {
  height: 80px;
  line-height: 100px;
  margin-left: 30px;
  font-size: 28px;
  background-color: #fff;
}

.bankfrom_tips {
  width: 710px;
  height: 90px;
  line-height: 90px;
  position: relative;
  padding-left: 40px;
}

.deposit_bigalipay {
}

.bigalipay_box {
  text-align: center;
  background: #0099ff
}

.bigalipay_box img {
  width: 300px;
  height: 300px;
  margin-top: 70px;
  margin-bottom: 36px;
}

.bigalipay_box .bigalipay_money span {
  color: #80ccff;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}

.bigalipay_box .bigalipay_money span b {
  font-size: 36px;
  color: #fff;
  display: block;
  font-weight: normal;
  margin: 10px 0
}

.bigalipay_box .bigalipay_jc, .deposit_bigalipay_help p {
  text-align: left;
  padding-top: 70px;
  padding-left: 30px;
  padding-bottom: 70px;
  display: inline-block;
  width: 100%;
  float: left
}

.bigalipay_box .bigalipay_jc {
  background: #f5f4f7;
}

.bigalipay_box .bigalipay_jc span, .deposit_bigalipay_help p span {
  color: #666666;
  display: block
}

.bigalipay_box .bigalipay_jc p, .deposit_bigalipay_help p {
  line-height: 50px;
}

.bigalipay_box .bigalipay_jc a {
  margin-top: 30px;
  display: inline-block
}

.deposit_bigalipay_help {
  text-align: center
}

.deposit_bigalipay_help img {
  margin-top: 100px;
}

.deposit_bigalipay_help p b {
  color: #ff0000
}

[headid="onlinepay"] {
  .title_bgblue {
    top: 113px;
  }
}

#payItem {
  background: #fff;

  margin-top: 20px;
  li {
    padding: 0 30px;
    list-style: none;
    height: 130px;
    line-height: 130px;
    border-bottom: 1px solid #ddd;
    img.itemImg {
      vertical-align: middle;
      display: inline-block;
      width: 70px;
    }
    div {
      vertical-align: middle;
      margin-left: 12px;
      display: inline-block;
      width: calc(100% - 100px);
      position: relative;
      img {
        float: right;
        position: absolute;
        right: 5px;
        top: 26px;
        display: inline-block;
      }
    }
    p {
      font-size: 30px;
      color: #4a4a4a;
    }
    p.small {
      font-size: 22px;
    }
  }
}

// weixin
[headid="wxpayScan"] {
  #weChatimg {
    .b1;
    width: 748px;
    height: 300px;
    margin: 300px auto 10px;
    text-align: center;
    > img {
      width: 300px;
    }
  }

  #weChatTxt {
    width: 748px;
    text-align: center;
    a {
      margin: 50px;
      display: inline-block;
    }
  }
}

#quickpay {

  padding: 20px 46px;
  text-align: center;
  >div{
    display: inline-block;
    background-color: transparent;
    vertical-align: middle;
    border: 1px solid dodgerblue;
    color: #0099ff;
  }
}

#scanURL{
  position: fixed;
  z-index: 100;
  top: 20%;
  left: 18%;
  width: 500px;
  height: auto;
  text-align: center;
  vertical-align: middle;
  font-size: 28px;
  color: white;
  #canvasdiv{
    display: block;
    width:268px!important;
    height:268px!important;
    margin-bottom: 16px;
    margin-left: 115px;
  }
  p{
    margin: 16px;
  }
  img{
    width: 280px;
    height: 280px;
  }


  /*此时宽和高都要固定*/
}
.saveImg{
  margin-top: 20px;
  font-size: 26px;
}

#modalClose{
  background: transparent;
  font-size: 50px;
  width: 50px;
  color: white;
  position: absolute;
  right: 40px;
  top: 20px;
}
div.payDetailInfo{
  margin: 120px auto 0;
  width: 750px;
  //margin-left: 10%;
  .payinfoHead{
    background: #E3EFFB;
    border-radius: 15px 15px 0 0;
    padding-left: 30px;
  }

  ul{
    background: white;
    border: 1px solid #d4caca;
    border-radius: 15px;
    display: block;
    width: 90%;
    margin: 0px auto;
    li{
      height: 80px;
      line-height: 80px;
      border-top: 1px solid #ccc;
      span{
        display: inline-block;
        width:25%;
        text-align: right;
      }
      input{
        display: inline-block;
        width: 50%;
        text-align: left;
      //  border: 1px solid #ddd;
      //  border-radius: 5px;
      //  box-shadow: 2px 2px #999;
        height: 60px;
        line-height: 60px;
        border: 0;
      }
    }
    li.red{
      width: 100%;
      text-align: center;
    }
  }
  .copytxt{
    display: inline-block;
    width: 20%;
    background: @blue1;
    text-align: center;
    height: 64px;
    line-height: 64px;
    color: white;
    border-radius: 10px;
  }
}

#modalClose{
  img{
    display: block;
    width: 60px;
    margin: 30px 40px 0 0;
  }
}
#is_old{
  color: #EBE72C;
  p{
    font-size: 28px;
    line-height: 0.9em;
  }
  margin-bottom: 6px;
}

#orderDetail{
  .cance{
    background: #ccc;
    color: black;
  }
}
[headid="orderDetail3"]{
  .cance{
    background: #ccc;
    color: black;
  }
  #gopay{
    margin-top: 60px;
  }
}
