[headid="invite"]{
  #more_func, .foot_menu {
    .hide
  }
  #footer {
    .hide
  }

  .inviteUrl{
   // width: 700px;
    vertical-align: middle;
    input{
      display: inline-block;
      width: 79%;
      padding-left: 5px;
      white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
    }
    span{
      display: inline-block;
      width: 20%;
      background: #2E8DEB;
      text-align: center;
      height: 64px;
      line-height: 64px;
      color: white;
      border-radius: 10px;
      margin-top: 16px;
    }
  }

.tip-wrapper{
  .title{
    color: #fc540d;
    float: left;

    margin-right: 2px;
    font-size: 22px;
  }
  padding: 2px 6px;
}

#applyInvitePromo{
  width: 216px;
  height: 48px;
  color: white;
  border: 0;
  border-radius: 3px;
  font-size: 22px;
}
.withdraw-credit{
  margin-top: 20px;
  padding: 2px 6px;
}

 #tabInvite{
    margin-top: 10px;
    width: 750px;
  }

}
