.deposit_tab_menu {
  height: 95px;
  width: 750px;
  background-color: #ebf4f9;
  border-bottom: 1px solid #dddddd;
  display: inline-table;
}

.deposit_tab_menu_bt {
  height: 93px;
  line-height: 95px;
  text-align: center;
  display: table-cell;
  padding: 0 8px;
}

.bt_select {
  border-bottom: 2px solid rgb(0, 153, 255);
  color: rgb(0, 153, 255);
}

.deposit_tab_menu_bt i img {
}

.cashier_from_title {
  height: 70px;
  line-height: 70px;
  margin-left: 20px;
  width: 200px;
}

.deposit_money_sel {
  width: 100%;
  height: 100px;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.deposit_money_sel_bt {
  width: 149px;
  height: 99px;
  float: left;
  border-left: 1px solid #dddddd;
  line-height: 99px;
  text-align: center;
  background-color: #fff;
}

.deposit_money_sel_bt_select {
  background: url(/static/images/ico/money_select.png) no-repeat;
  color: rgb(0, 153, 255);
}

.money_table {
  border-collapse: collapse;
  width: 100%;
}

.money_table td {
  border: 1px solid #dddddd;
  width: 15%;
  height: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
}

.tb_money_gray {
  color: gray;
}

.tb_money {
  color: rgb(0, 153, 255);
}

.money_table_title {
  width: 710px;
  height: 60px;
  line-height: 60px;
  position: relative;
  padding-left: 40px;
}

.search_select_row_icon {
  margin-top: 27px;
  float: left;
  margin-right: 20px;
}

.deposit_not_available {
  text-align: center;
  width: 750px;
}

.deposit_not_available_img {
  padding-top: 70px;
  padding-bottom: 30px;
}

.deposit_bankcard {
  width: 750px;
  background-color: #fff;
}

.bankcard_bg {
  width: 690px;
  height: 420px;
  margin: 0px auto;
  color: #fff;
  background: url('/static/images/ico/bank_card_bg_03.png');
}

.order_acc {
  color: #0096ff;
  height: 200px;
  line-height: 200px;
  text-align: center;
}

.deposit_bankcard_bankname {
  height: 100px;
  line-height: 100px;
  font-size: 30px;
}

.deposit_bankcard_rows {
  height: 60px;
  line-height: 60px;
  padding-left: 30px;
}

.deposit_bankcard_copy {
  margin-top: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #fff;
  font-weight: normal;
  padding: 2px;
  float: right;
  cursor: pointer;
}

.bank_type_icon_bg {
  height: 60px;
  width: 60px;
  float: left;
  margin: 20px 20px auto 30px;
  border-radius: 50%;
  background-color: #fff;
}

.bank_type_icon {
  width: 40px;
  height: 40px;
  background: url(/static/images/ico/bank38.png) no-repeat;
  margin: 10px;
}

.bank_type_icon_bg .ICBC {
  background-position: 0 0;
}

.deposit_tips_rows {
  height: 50px;
  line-height: 50px;
  margin-left: 30px;
  background-color: #fff;
}

.deposit_tips_rows b {
  color: #0096ff;
}

.deposit_tips_title {
  height: 80px;
  line-height: 100px;
  margin-left: 30px;
  font-size: 28px;
  background-color: #fff;
}

.bankfrom_tips {
  width: 710px;
  height: 90px;
  line-height: 90px;
  position: relative;
  padding-left: 40px;
}

.deposit_bigalipay {
}

.bigalipay_box {
  text-align: center;
  background: #0099ff
}

.bigalipay_box img {
  width: 300px;
  height: 300px;
  margin-top: 70px;
  margin-bottom: 36px;
}

.bigalipay_box .bigalipay_money span {
  color: #80ccff;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}

.bigalipay_box .bigalipay_money span b {
  font-size: 36px;
  color: #fff;
  display: block;
  font-weight: normal;
  margin: 10px 0
}

.bigalipay_box .bigalipay_jc, .deposit_bigalipay_help p {
  text-align: left;
  padding-top: 70px;
  padding-left: 30px;
  padding-bottom: 70px;
  display: inline-block;
  width: 100%;
  float: left
}

.bigalipay_box .bigalipay_jc {
  background: #f5f4f7;
}

.bigalipay_box .bigalipay_jc span, .deposit_bigalipay_help p span {
  color: #666666;
  display: block
}

.bigalipay_box .bigalipay_jc p, .deposit_bigalipay_help p {
  line-height: 50px;
}

.bigalipay_box .bigalipay_jc a {
  margin-top: 30px;
  display: inline-block
}

.deposit_bigalipay_help {
  text-align: center
}

.deposit_bigalipay_help img {
  margin-top: 100px;
}

.deposit_bigalipay_help p b {
  color: #ff0000
}

.bank_type_icon_bg .ABC {
  background-position: -40px 0px;
}

.bank_type_icon_bg .CCB {
  background-position: -80px 0px;
}

