[headid="record"] {
/*  .title_bgblue {
    top: 33px;
  }*/
}
[headid="recordGameList"]{
  #more_func, .foot_menu {
    .hide
  }
  #footer {
    .hide
  }

  .betTime{
    top: -52px;
    width: 300px;
    float: right;
    position: relative;
  }

  .mobile_homebody_main{
    position: static;
    float: none;
    height: 100%;
    display: block;
  // position: absolute;
    width: 750px;
   // .b1;
    >div{
      //
      //    overflow: hidden;
    }
  }

  .form_main_content{
    width: 100%;
    overflow-x: hidden;

    height: 100%;
    position: absolute;
    top:0;
    left: 0;
  //  -webkit-overflow-scrolling: touch;
  }
  .mint-loadmore{
    min-height: 100%;
    background-color: #fff;
  }

  .addheight{
    height: 52px;
    border: 0;
  }

  .HistoryList_row{
    .clearfix;

  }
  .HistoryList{
   // .b2;
    padding: 16px;


    position: relative;
    background: #fff;

    &:nth-last-child(3) {
      //border-bottom: none;
    //  background: red;
    }




  }

  .scrollBox{
    padding: 10px;
  }
}
