[headid="rescue"] {
  #more_func, .foot_menu {
    .hide
  }
  #footer {
    .hide
  }
  button[disabled] {
    cursor: not-allowed;
    background: #ccc;
    opacity: .8;
    color: #444
  }
  .rescue-content {
    background: #efefef;
    padding: 20px 0px;
    border-radius: 5px;
    width: 750px;
    // float: left
    .title {
      background: url(/static/images/account/promo/title_bg.png) no-repeat;
      width: 750px;
      height: 48px;
      margin-left: 28px;
      zoom: 1.5;
      //    .b1;
    }
  }

  .rescue-content .rescue-list {
    width: 100%;
    height: 240px;
    margin-top: -14px;
    background: url(/static/images/account/promo/left_bg.png) no-repeat;
    zoom: 1.8;
    margin-left: 16px;
  }

  .rescue-list li {
    font-size: 17px;
    position: relative;
    top: 20px;
    // padding-bottom: 12px
  }

  .rescue-list li.rule-one {
    span {
      top: 0px;
      left: -3px;
    }
  }

  .rescue-list li.rule-two {
    top: 16px;
    span {
      top: -1px;
      left: -3px;
    }
  }

  .rescue-list li.rule-three {
    top: 10px;
    span {
      top: -1px;
      left: -3px;
    }
  }

  .rescue-list li.rule-four {
    top: 4px;
    span {
      top: -1px;
      left: -3px;
    }
  }

  .rescue-list li.rule-fifth {
    top: -1px;
    span {
      top: 0px;
      left: -3px;
    }
  }

  .rescue-list li.rule-six {
    top: -6px;
    span {
      top: 0;
      left: -3px;
    }
  }

  .rescue-list li span {
    display: inline-block;
    height: 26px;
    width: 26px;
    text-align: center;
    line-height: 16px;
    color: #fff;
    border-radius: 50%;
    position: relative;
    font-size: 16px;
  }

  .bonus-content {
    // float: left;
    // margin-left: 60px;
    //  position: relative
    margin: 0 auto;
    width: 310px;
    zoom: 1.5;
  }

  .bonus-content .title {
    font-size: 22px;
    font-weight: 700;
    padding: 10px;
    text-align: center
  }

  .bonus-content .bonus-wrapper {
    background: url(/static/images/account/promo/bonus_bg.png) no-repeat;
    width: 310px;
    height: 180px;
    padding-top: 36px
  }

  .bonus-content .bonus-number {
    margin-left: 5px;
    font-size: 16px;
    color: #fff;
    font-size: 16px
  }

  .bonus-content .bonus-wrapper p {
    color: #fff;
    font-size: 14px;
    text-align: center
  }

  .bonus-content .bonus-wrapper .amount {
  //  padding-top: 20px;
    color: #ff0;
    font-size: 40px;
    font-weight: 700
  }

  .bonus-btn:hover {
    box-shadow: 0 0 0 #63a3e4
  }

  .bonus-btn {
    height: 40px;
    width: 180px;
    color: #fff;
    font-size: 18px;
    transition: all .4s ease;
    box-shadow: 1px 1px 0 #d4d4d5;
    background: -moz-linear-gradient(top, #0077f9, rgba(0, 109, 238, 1));
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#0077f9), to(rgba(0, 109, 238, 1)));
    background: -o-linear-gradient(top, #0077f9, rgba(0, 109, 238, 1));
    border-radius: 30px;
    margin-left: 60px
  }

  .bonus-content-wrapper ul li {
    font-size: 14px
  }

  .bonus-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center
  }

  .bonus-btn-a {
    display: inline-block;
    position: absolute;
    top: 265px;
    left: 122px;
    font-size: 14px;
    color: red;
    text-decoration: underline
  }

  .bonus-btn img {
    margin-right: 6px;
    position: relative;
    top: 4px;
  }
  .bonus-content-wrapper {
    clear: both;

    padding: 30px 12px;
    p {
      font-size: 36px;
      border-bottom: 2px solid blue;
      display: inline-block;
      margin-bottom: 5px;
    }

    .save_money {
      cursor: pointer;
      color: #fff;
      background: #fb560a;
      font-size: 14px;
      border-radius: 10px;
      padding: 0 10px;
      margin: 0 4px
    }

    .askForQuestion {
      cursor: pointer;
      background: #0074db;
      color: #fff!important;
      font-size: 14px;
      border-radius: 10px;
      padding: 0 8px;
      margin: 0 4px
    }
  }
/*

*/
}

.allzf .self-model {
  display: none
}

.allzf .self-model.show {
  display: block
}

.allzf .self-model {
  width: 675px;
  height: 307px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -324.5px;
  margin-top: -153.5px;
  border-top: none;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  z-index: 200
}

.allzf .self-model .title {
  width: 100%;
  height: 14px;
  background: #fff;
  border-bottom: 1px solid transparent;
  position: relative
}

.allzf .self-model .model-content {
  background: 0 0
}

.allzf .self-model .model-content-wrapper {
  margin: 20px;
  margin-top: 0;
  background: 0 0
}

.allzf .self-model .model-content-wrapper .model-content-rules {
  display: inline-block;
  margin-top: 39px;
  margin-right: 5px
}

.allzf .self-model .model-content .content-title {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  color: #333
}

.allzf .self-model .model-content .content-text {
  padding: 20px;
  margin-top: 15px;
  background: #fffcee;
  border-radius: 5px
}

.allzf .self-model .model-content .content-text-one-rules {
  font-size: 14px;
  color: #686464
}

.allzf .self-model .model-content .one-rules {
  font-size: 14px;
  color: #333
}

.allzf .self-model .model-content .content-text-one-two {
  font-size: 14px;
  color: #686464;
  margin-top: 20px!important;
  display: inherit
}

.allzf .self-model .model-content .content-title-line {
  display: inline-block;
  width: 45px;
  height: 3px;
  margin-top: 5px;
  background: #007bfd
}

.allzf .self-model .model-footer {
  height: 100px;
  background: 0 0;
  display: flex;
  justify-content: center
}

.allzf .self-model .title .close-sys {
  width: 15px;
  height: 20px;
  margin-top: 5px;
  text-align: right;
  cursor: pointer;
  position: absolute;
  padding-right: 10px;
  right: 0;
  top: 2px
}

.allzf .self-model .title .close-sys .close_img {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(/static/images/_close.png) no-repeat;
  transition: all .4s ease
}

.allzf .self-model .title .close-sys:hover .close_img {
  transform: rotate(180deg);
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(/static/images/close-hover.png) no-repeat
}
