#transfer{

}

[headid="transferRecord"] {
  .selectType {
    width: auto;
    padding: 18px 0;
    margin: 0 8px 0 32px;

    .content {
      line-height: 36px;
      //   float: left;
      margin: 0 8px;

    }
    .item_state {
      display: inline-block;
      padding: 20px 24px;
      background: #fff;
      color: #333;
      border-radius: 4px;
      margin-right: 6px;
      border: 1px solid #bebebe;
      height: 32px;
      line-height: 32px
    }
    .item_state {
      display: inline-block;
      padding: 20px 24px;
      background: #fff;
      color: #333;
      border-radius: 4px;
      margin-right: 6px;
      border: 1px solid #bebebe;
      height: 32px;
      line-height: 32px
    }

    .item_state_act {
      display: inline-block;
      padding: 20px 24px;
      background: #006aec;
      color: #fff;
      border-radius: 4px;
      margin-right: 6px;
      border: 1px solid #006aec;
      height: 32px;
      line-height: 32px
    }

  }
}
