<template>
  <div class="main_content">
    <div class="input_iosbox bankname">
      <div class="input_iosbox_title">银行卡名称:</div>
      <div class="search_select_row">

        <select id="searcdate" v-model="cardInfo.bank_ename">
          <option value="">请选择银行卡</option>
          <option :value="item.ename" v-for="(item, index) in bankList" :key="index" >{{ item.cname}}</option>
        </select>
        <img class="search_select_jiantou" src="/static/images/secbet_mobile_rg.png">
      </div>
    </div>
    <div class="input_iosbox">
      <div class="input_iosbox_title">银行卡号:</div>
      <input type="text" class="input_ios" v-model="cardInfo.bank_cardno" maxlength="19">
    </div>
    <div class="input_iosbox">
      <div class="input_iosbox_title">持卡人姓名:</div>
      <input type="text" class="input_ios" v-model="cardInfo.holder_name" maxlength="10">
    </div>
    <div class="input_iosbox">
      <div class="input_iosbox_title">支行名称:</div>
      <input type="text" class="input_ios" v-model="cardInfo.branch" maxlength="25">
    </div>
    <div class="input_iosbox">
      <div class="input_iosbox_title">银行地址:</div>
      <input type="text" class="input_ios" v-model="cardInfo.addr" maxlength="25">
    </div>
    <div id="as_info_save" class="submit_blue_bt" @click="sub()">
      提交
    </div>
  </div>
</template>
<script>
  import * as types from '@/store/memberCenter/type.js'
import * as utils from '@/utils'

export default {
  name: 'bankCard',
  components: {},
  data() {
    return {
      cardInfo: {
        bank_ename: '',
        bank_cname: '',
        bank_cardno: '',
        holder_name: '',
        branch: '',
        addr: '',
      }

    }
  },
  computed: {
  bankList() {

      return  this.$store.state.memberCenter.bankList
    },
  },
  methods: {
    sub() {
      if (!this.cardInfo.bank_ename) {
        window.layer.msgWarn('请您选择银行!')
        return false
      }
      if (!this.cardInfo.bank_cardno || !/[0-9]{10,}$/.test(this.cardInfo.bank_cardno)) {
        window.layer.msgWarn('请您填写正确银行账号！')
        return false
      }
      if (!this.cardInfo.branch || !/^[\u4e00-\u9fa5]{1,}$/.test(this.cardInfo.branch)) {
        window.layer.msgWarn('请您填写正确支行！')
        return false
      }
      if (!this.cardInfo.addr || !/^[\u4e00-\u9fa5]{1,}$/.test(this.cardInfo.addr)) {
        window.layer.msgWarn('请您填写正确银行地址！')
        return false
      }

      var bankZH = JSON.parse(localStorage.bankZh);
      this.cardInfo.bank_cname = bankZH[this.cardInfo.bank_ename];

      let options = window._.extend({ user_id: JSON.parse(localStorage['userinfo']).id }, this.cardInfo);

      let {statusCheck} = utils

      this.$store.dispatch(types.ADD_BANK_ATION, options).then((res) => {
        console.info(res, 'tianjia   ');

        if (statusCheck(res)) {
          window.layer.msgWarn(res.msg,()=>{
            this.$router.push('/wap/memberCenter/index')
          })
        }else{
          window.layer.msgWarn(res.msg)
        }
      })
    },
    getBank() {
      //user_id=1&session_id=df552b0ed8f46962bbb6322974bd6072


      this.$store.dispatch('bank_card.action', { user_id: JSON.parse(localStorage['userinfo']).id }).then((res) => {
        console.info(res);

        /*if (res.no < 1) {
          // this.$router.push('/wap/memberCenter/bankCard')
        } else {
          window.layer.msgWarn(res.msg)
        }*/

      })
    }
  },
  mounted() {
    let { Authority } = utils
    let result = Authority(this, true)

    if (result) this.getBank()
  // 授权
  console.info(result, '授权')
  }




}

</script>
