<template>
  <div class="form_main_content" id="bankdiv">
    <div class="not_bind_car hide" v-if="!userBank.length">
      <img src="/static/images/ico/bank_bading_03.png"></div>
    <div class="not_bind_car add_car" :class="item.bank_ename" v-for="(item, index) in userBank" :key="index" v-if="userBank.length">
        <p class="card_no">{{ item.card_no }}  </p>
    </div>
    <a href="javascript:;" class="hide" id="add_bankcard_bt_long" page="bankCardAdd" v-if="userBank.length < 3">
        <img src="/static/images/bank/tianjia_04@2x.png" >
        <span>添加银行卡</span>
    </a>
  <div class="bankinfo  hide">
    普通会员，每日提款次数3次，限制额度200000
    注：申请提款前请先绑定使用银行账号，成功提交后将在10分钟内完成办理
    每名玩家最多可绑定3张银行卡
  </div>
  </div>
</template>
<script>
import * as utils from '@/utils'
import * as types from '@/store/memberCenter/type.js'
export default {
  name: 'bankCard',
  components: {},
  data() {
    return {
      msg: 'Welcome to Your Vue.js App 123'
    }
  },
  computed: {
    userBank() {
      return  this.$store.state.memberCenter.userBank
    },
    Loading(){
        return  this.$store.state.home.Loading
      }
  },
  methods: {
    getBank() {
     this.$store.dispatch(types.USER_BANK_ATION, { user_id: JSON.parse(localStorage['userinfo']).id }).then((res) => {
        console.info(res);
    //    debugger
        $('#bankdiv .hide').removeClass('hide')
      })
    }
  },
  mounted() {
    let { Authority } = utils
    let result = Authority(this, true)
    if (result) this.getBank()
  }




}

</script>
