<template>
  <div class="main_content">
    <a class="content_memberInfo">
      <img class="member_photo_blue" src="/static/images/blue_portrait.png">
        <div class="memberInfo_right">

          <span>{{ userData.user_name }}</span><br>
          <span page="management" >编辑个人资料 <img src="/static/images/ico/bianji_icon.png"></span>
        </div>
    </a>
    <div class="main_menurow_box">
      <a href="javascript:;" class="menu_row" page="bankCard">
        <div class="menu_icon">
          <img src="/static/images/ico/bank_m.png">
        </div>
        <div class="menu_row_r">
          银行卡管理
          <img class="menu_row_r_jiantou" src="/static/images/secbet_mobile_rg.png">
        </div>
      </a>
      <a href="javascript:;" class="menu_row" page="record">
        <div class="menu_icon">
          <img src="/static/images/ico/transaction_record.png">
        </div>
        <div class="menu_row_r">
          交易记录
          <img class="menu_row_r_jiantou" src="/static/images/secbet_mobile_rg.png">
        </div>
      </a>
      <a href="javascript:;" class="menu_row">
        <div class="menu_icon">
          <img src="/static/images/ico/betting_record.png">
        </div>
        <div  class="menu_row_r" page="recordGame">
          投注历史
          <img class="menu_row_r_jiantou" src="/static/images/secbet_mobile_rg.png">
        </div>
      </a>
      <a href="javascript:;" class="menu_row hide" page="rescue">
        <div class="menu_icon">
          <img src="/static/images/ico/zizhujiangjin_04@2x.png">
        </div>
        <div  class="menu_row_r">
          自助奖金
          <img class="menu_row_r_jiantou" src="/static/images/secbet_mobile_rg.png">
        </div>
      </a>
      <a href="javascript:;" class="menu_row hide" page="invite">
        <div class="menu_icon">
          <img src="/static/images/ico/yaoqinghaoyou_04@2x.png">
        </div>
        <div  class="menu_row_r">
          邀请好友
          <img class="menu_row_r_jiantou" src="/static/images/secbet_mobile_rg.png">
        </div>
      </a>
    </div>
    <div class="main_menurow_box">
      <a href="javascript:;" class="menu_row">
        <div class="menu_icon">
          <img src="/static/images/ico/password_manage.png">
        </div>
        <div class="menu_row_r" page="password">
          修改密码
          <img class="menu_row_r_jiantou" src="/static/images/secbet_mobile_rg.png">
        </div>
      </a>
      <a href="" class="menu_row hide">
        <div class="menu_icon">
          <img src="/static/images/ico/phone_manage.png">
        </div>
        <div class="menu_row_r">
          手机管理
          <img class="menu_row_r_jiantou" src="/static/images/secbet_mobile_rg.png">
        </div>
      </a>
      <a href="" class="menu_row hide">
        <div class="menu_icon">
          <img src="/static/images/ico/email_manage.png">
        </div>
        <div  class="menu_row_r">
          邮箱管理
          <img class="menu_row_r_jiantou" src="/static/images/secbet_mobile_rg.png">
        </div>
      </a>
    </div>
    <div id="btn-logout" class="submit_blue_bt" @click="logout()">
      退出账号
    </div>
    <div class="addDiv"> </div>
  </div>
</template>
/** * 入口文件 * 组装 头部 中间 底部 中间区域 颜色 数组 purple */
<script>
import * as utils from '@/utils'
import * as types from '@/store/memberCenter/type'
let { delay } = utils
export default {
  name: 'center',
  components: {},
  data() {
    return {
      pathName: 'We',
      walletShow: false,
      timeNum: 10, // 10 s　内 不能重复刷新
      isLoaded: false // 正在加载
    }
  },
  computed: {
    timeTXT() {
      return this.$store.state.home.timeTXT
    },
    totalMoney() {
      return this.$store.state.memberCenter.totalMoney
    },
    balance() {
      return MainApp.$store.state.home.userData.balance
    },
    walletList() {
      return this.$store.state.memberCenter.walletList
    },
    userData() {
      return this.$store.state.home.userData
    },

  },
  methods: {
    walletClick() {
      this.walletShow = !this.walletShow
    },
    // 更新按钮 转圈圈
    F5Balance() {
      if (this.isLoaded) return ''
      let $this = this
      let userinfo = {}
      try {
        userinfo = JSON.parse(localStorage['userinfo'])
      } catch (e) {}

      $this.isLoaded = true // 标记状态
      // get 账户余额
      // 平台
      //return ''

      $this.$store.dispatch(types.PLATFORM_ATION, { 'user_id': userinfo.id, wallet: '' }).then(res => {
        console.info(res, '--')
        delay(() => { // 归零
          $this.isLoaded = false
        }, 200)
      })

    },
    logout() {
      let {jumpUrl} = utils;
      this.$store.state.home.userData = '';
      this.$store.state.home.isLogin = false;
      localStorage.removeItem('userinfo');
      localStorage.removeItem('session_id');
      jumpUrl('login');
      window.layer.msgWarn("退出成功");
    }

  },

  mounted() {
    let $this = this
    let { Authority } = utils
    Authority(this, true)
    // 授权
    delay(() => { // 归零
      $this.F5Balance()
    }, 10)

  },
}

</script>
