import Toast from "mint-ui/lib/toast/index";

<template>
  <div class="main_content">
    <div class="bankfrom_tips">
      <div class="title_bgblue"></div>
      您的推广链接
    </div>
     <div class="input_iosbox inviteUrl">
      <input type="text" id="FirstName" class="input_ios" v-model="inviteUrl">
      <span class="copytxt"
            v-clipboard:copy="inviteUrl"
            v-clipboard:success="copySuccess"
            v-clipboard:error="copyError"
      >复制</span>
    </div>
  
    <div class="tip-wrapper">
      <div class="title" style="font-size: 22px;">提示:</div>
      <div class="content">
      
        <p style="font-size: 22px;">『邀请奖金』可自助结算奖金；</p>
        <!-- ngIf: !account.authorized || account.vip_level <= 2 -->
        <p ng-if="!account.authorized || account.vip_level <= 2" style="font-size: 22px;" class="ng-scope">
          奖金结算可能存在15-30分钟延迟，如有疑问可联系
        <a :href="!onLineChat? 'javascript:void(0)' : onLineChat"
           target="_blank"
           style="color: #0074db;font-size: 22px;text-decoration:underline;">
          在线客服</a>
          咨询</p>
        <!-- end ngIf: !account.authorized || account.vip_level <= 2 -->
        <!-- ngIf: account.authorized && account.vip_level > 2 -->
      </div>
    </div>
  
  <p class="withdraw-credit">目前可领取奖金:
    <span style="margin: 0 3px;color: #fc540d;font-size: 28px" class="ng-binding">0</span>元
    <button id="applyInvitePromo" style="background: #006aec" ng-click="applyInvitePromo()" ng-disabled="!bonus || invite_promo_got_already" disabled="disabled">
      <img style="margin-right: 4px;margin-top: -3px;" src="/static/images/account/p2_w.png">一键获取奖金</button>
  </p>
  
  <table id='tabInvite'>
    <thead>
    <tr>
      <th style="width: 20%;font-weight: normal;">会员名</th>
      <th style="width: 25%;font-weight: normal;">注册日期</th>
      <th style="width: 18%;font-weight: normal;">存款金额</th>
    </tr>
    </thead>
    <tbody ng-show="items.length!=0 ||items">
    <!-- ngRepeat: item in items -->
    </tbody>
    <!-- ngIf: items.length==0 || !items --><tbody style="background:#efefef;" ng-if="items.length==0 || !items" class="ng-scope">
  <tr style="height: 400px">
    
    <td colspan="3" style="text-align: center;">
      <span class="onData_friend"></span>
      <p>您暂时没有任何记录</p>
    </td>
  </tr>
  </tbody><!-- end ngIf: items.length==0 || !items -->
    <!--<div ng-if="!items || items.length!=0" class="loadingBox hository_nodata hide">
		<div class="emptyData">
			<div class="emptyData_content">
				<span class="empty_bg"></span>
				<p>您暂时没有任何记录</p>
			</div>
		</div>
	</div>
-->
  </table>

  </div>
</template>
<script>
  import Toast from 'mint-ui/lib/toast' // 加载mint-ui
import * as utils from '@/utils'
import * as types from '@/store/memberCenter/type'
export default {
  name: 'record',
  components: {},
  data() {
    return {
      tab: {
        t1: true,
        t2: false
      },
      real_name: '',
      email: '',
      birthday1: 0,
      birthday2: 0,
      birthday3: '',
      inviteUrl: location.host + '/wap/login?friendcode=',
      updataPw: {
        passwd: '',
        passwd_old: ''
      }
    }
  },
  computed: {
    userData() {
      return this.$store.state.home.userData
    },
  onLineChat() {
  return this.$store.state.home.onLineChat
},
  },
  mounted() {
    let { Authority } = utils
    Authority(this, true)
    // 授权
  var $this = this
  let userinfo = {}
  try {
  userinfo = JSON.parse(localStorage['userinfo'])
  $this.inviteUrl+= userinfo.id
  $this.friendData(userinfo.id)
} catch (e) {}
  


  },
  methods: {
  
  friendData(id){

  this.$store.dispatch(types.RECOMMEND_ATION, { 'user_id': id }).then(res => {
      console.info(res, '--')
    
    })



},
  copySuccess() {
  Toast({
  message: '复制成功',
  position: 'middle',
  duration: 500
})
},
  copyError() {
},
    submint() {
     //

    }

  }
}

</script>
