<template>
  <div class="main_content">
    <div class="bankfrom_tips">
      请填写真实资料，个人资料只可编辑一次
    </div>
    <div class="input_iosbox" :class="{active:userData.real_name}">
      <div class="input_iosbox_title">真实姓名:</div>
      <input type="text" id="FirstName" class="input_ios" v-model="real_name" v-if="!userData.real_name">
      <span class="input_ios real_name" v-if="userData.real_name"> {{ userData.real_name }}</span>
    </div>
    <div class="input_iosbox" :class="{active:userData.mobile}">
      <div class="input_iosbox_title">手机绑定:</div>
      <span class="input_ios real_name"> {{ userData.mobile }}</span>
    </div>
    <div class="input_iosbox" v-if="!userData.birthday">
      <div class="input_iosbox_title">生日日期:</div>
      <select id="BYear" style="width:120px;" v-model="birthday1">
        <option value="0">年份</option>
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
        <option value="2014">2014</option>
        <option value="2013">2013</option>
        <option value="2012">2012</option>
        <option value="2011">2011</option>
        <option value="2010">2010</option>
        <option value="2009">2009</option>
        <option value="2008">2008</option>
        <option value="2007">2007</option>
        <option value="2006">2006</option>
        <option value="2005">2005</option>
        <option value="2004">2004</option>
        <option value="2003">2003</option>
        <option value="2002">2002</option>
        <option value="2001">2001</option>
        <option value="2000">2000</option>
        <option value="1999">1999</option>
        <option value="1998">1998</option>
        <option value="1997">1997</option>
        <option value="1996">1996</option>
        <option value="1995">1995</option>
        <option value="1994">1994</option>
        <option value="1993">1993</option>
        <option value="1992">1992</option>
        <option value="1991">1991</option>
        <option value="1990">1990</option>
        <option value="1989">1989</option>
        <option value="1988">1988</option>
        <option value="1987">1987</option>
        <option value="1986">1986</option>
        <option value="1985">1985</option>
        <option value="1984">1984</option>
        <option value="1983">1983</option>
        <option value="1982">1982</option>
        <option value="1981">1981</option>
        <option value="1980">1980</option>
        <option value="1979">1979</option>
        <option value="1978">1978</option>
        <option value="1977">1977</option>
        <option value="1976">1976</option>
        <option value="1975">1975</option>
        <option value="1974">1974</option>
        <option value="1973">1973</option>
        <option value="1972">1972</option>
        <option value="1971">1971</option>
        <option value="1970">1970</option>
        <option value="1969">1969</option>
        <option value="1968">1968</option>
        <option value="1967">1967</option>
        <option value="1966">1966</option>
        <option value="1965">1965</option>
        <option value="1964">1964</option>
        <option value="1963">1963</option>
        <option value="1962">1962</option>
        <option value="1961">1961</option>
        <option value="1960">1960</option>
        <option value="1959">1959</option>
        <option value="1958">1958</option>
        <option value="1957">1957</option>
        <option value="1956">1956</option>
        <option value="1955">1955</option>
        <option value="1954">1954</option>
        <option value="1953">1953</option>
        <option value="1952">1952</option>
        <option value="1951">1951</option>
        <option value="1950">1950</option>
        <option value="1949">1949</option>
        <option value="1948">1948</option>
        <option value="1947">1947</option>
        <option value="1946">1946</option>
        <option value="1945">1945</option>
        <option value="1944">1944</option>
        <option value="1943">1943</option>
        <option value="1942">1942</option>
        <option value="1941">1941</option>
        <option value="1940">1940</option>
        <option value="1939">1939</option>
        <option value="1938">1938</option>
        <option value="1937">1937</option>
        <option value="1936">1936</option>
        <option value="1935">1935</option>
        <option value="1934">1934</option>
        <option value="1933">1933</option>
        <option value="1932">1932</option>
        <option value="1931">1931</option>
        <option value="1930">1930</option>
        <option value="1929">1929</option>
        <option value="1928">1928</option>
        <option value="1927">1927</option>
        <option value="1926">1926</option>
        <option value="1925">1925</option>
        <option value="1924">1924</option>
        <option value="1923">1923</option>
        <option value="1922">1922</option>
        <option value="1921">1921</option>
        <option value="1920">1920</option>
        <option value="1919">1919</option>
        <option value="1918">1918</option>
        <option value="1917">1917</option>
      </select>
      <select id="BMonth" style="width:120px;" v-model="birthday2">
        <option value="0">月份</option>
        <option value="1">1月</option>
        <option value="2">2月</option>
        <option value="3">3月</option>
        <option value="4">4月</option>
        <option value="5">5月</option>
        <option value="6">6月</option>
        <option value="7">7月</option>
        <option value="8">8月</option>
        <option value="9">9月</option>
        <option value="10">10月</option>
        <option value="11">11月</option>
        <option value="12">12月</option>
      </select>
      <input type="text" id="BDay" placeholder="日期" v-model="birthday3" maxlength="2">
    </div>
    <div class="input_iosbox" v-if="userData.birthday" :class="{active:userData.birthday}">
      <div class="input_iosbox_title">生日日期:</div> <span class="showDay">{{ userData.birthday }} </span>
    </div>
    <div class="input_iosbox" :class="{active:userData.email}">
      <div class="input_iosbox_title">邮箱绑定:</div>
      <input type="text" id="FirstName" class="input_ios" v-model="email" v-if="!userData.email">
      <span class="input_ios real_name" v-if="userData.email"> {{ userData.email }}</span>
    </div>
    <div id="as_info_save" class="submit_blue_bt" @click="submint()">
      完成
    </div>
  </div>
</template>
<script>
import * as utils from '@/utils'
import * as types from '@/store/memberCenter/type'
export default {
  name: 'management',
  components: {},
  data() {
    return {
      tab: {
        t1: true,
        t2: false
      },
      real_name: '',
      email: '',
      birthday1: 0,
      birthday2: 0,
      birthday3: '',
      updataPw: {
        passwd: '',
        passwd_old: ''
      }
    }
  },
  computed: {
    userData() {
      return this.$store.state.home.userData
    },

  },
  mounted() {
    let { Authority } = utils
    Authority(this, true)
    // 授权
  },
  methods: {
    tabClick(target) {
      let $this = this
      window._.each($this.tab, function(value, key) {
        $this.tab[key] = false
      })
      $this.tab[target] = true
    },
    submint() {
      /**
       *   1. 更新数据
       *   2. 修改密码
       */
      var $this = this
      let options = {} // 更新个人数据
      console.info(this.$store.state.home.userData.real_name, '----')

      if (this.$store.state.home.userData.real_name) {
        // 不需要验证 名字

      } else {

        if (!this.real_name) {
          alert("请输入真实姓名");
          return false;
        }
        options.real_name = this.real_name
      }
      //   如果需要验证 邮箱
      if (!this.$store.state.home.userData.email) {
        if (!/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(this.email)) {
          window.layer.msgWarn('您输入的邮箱格式不正确！')
          return false
        }
  options.email = this.email
      }
//
      if (!this.$store.state.home.userData.birthday) {
        // 是否 审核 生日
        if (!this.birthday1) { alert("请输入年份"); return false; }
        if (!this.birthday2) { alert("请选择月份"); return false; }
        if (!this.birthday3 || this.birthday3 > 31 || this.birthday3 < 1) { alert("请输入日期"); return false; }

        let birthday = this.birthday1 + '/' + this.birthday2 + '/' + this.birthday3

        options.birthday = birthday
      }
      // /update_user.php?user_id=1&sex=female&birthday=1980-08-08&session_id=df552b0ed8f46962bbb6322974bd6072
      $this.$store.dispatch(types.UPDATA_ATION, options ).then(() => {
        let { delay } = utils
        delay(() => {
          $this.sendLoad = 3
          $this.countDown()
        }, 300)
      })

    }

  }
}

</script>
