<template>
  <div class="form_main_content">
    <div class="input_iosbox">
      <div class="input_iosbox_title">原密码</div>
      <input id="setting_pwd_box_oldpwd" type="password" class="input_ios" v-model="oldPassword">
    </div>
    <div class="input_iosbox">
      <div class="input_iosbox_title">新密码</div>
      <input id="setting_pwd_box_newpwd" type="password" class="input_ios" v-model="password">
    </div>
    <div class="input_iosbox">
      <div class="input_iosbox_title">确认密码</div>
      <input type="password" id="setting_pwd_box_newpwd2" class="input_ios" v-model="password1">
    </div>
    <div id="setting_pwd_box_submit" :class="doneClass" class="submit_gray_bt" @click="changepw()" v-if="!subClick">
      完成
    </div>
    <div id="setting_pwd_box_submit" class="submit_gray_bt" v-if="subClick">
      提交中
    </div>
  </div>
</template>
/** */
<script>
import { delay,statusCheck,Authority } from '@/utils'
import * as types from '@/store/memberCenter/type'

export default {
  name: 'password',
  components: {},
  data() {
    return {
      subClick: false,
      oldPassword: '',
      password: '',
      password1: ''
    }
  },
  computed: {
    userData() {
      return this.$store.state.home.userData
    },
  doneClass(){
      var a = ''
  if(this.oldPassword && this.password && this.password1){
  a = 'active'
}
  

  
  
  return a
}

  },
  methods: {
    changepw() {
     
     // debugger
      if(this.oldPassword && this.password && this.password1){
     
}else{
  return ''
}
      if (!this.oldPassword) {
        window.layer.msgWarn("请输入原密码");
        return false;
      }
      if (!this.password) {
        window.layer.msgWarn("请输入新密码");
        return false;
      }

      if (!this.password1) {
        window.layer.msgWarn("请再次输入新密码");
        return false;
      }
      if (this.password1 != this.password) {
        window.layer.msgWarn("两次输入的密码不一致!");
        return false;
      }
      
      var pwdreg = new RegExp("^.{6,20}$");
      if ( !pwdreg.test(this.password1)) {
        window.layer.msgWarn("新密碼请输入6到20字符!");
        return false;
      }


      // update_passwd.php?user_id=1&
      // passwd=dc483e80a7a0bd9ef71d8cf973673924&
      // passwd_old=dc483e80a7a0bd9ef71d8cf973673924
      // &session_id=df552b0ed8f46962bbb6322974bd6072
  this.subClick = !this.subClick;
      window.Loading.open()
      this.$store.dispatch(types.PASSWORD_CHANGE, {
        user_id: JSON.parse(localStorage['userinfo']).id,
        username: JSON.parse(localStorage['userinfo']).user_name,
        passwd: window.md5(this.password),
        passwd_old: window.md5(this.oldPassword),
      }).then((res) => {
        console.info(res);
  
        this.subClick = !this.subClick;
  
  this.oldPassword  = ''
  this.password = ''
  this.password1 = ''
  window.Loading.close()
  
      })


    }

  },

  mounted() {
    let $this = this
    
    Authority(this, true)


  },
}

</script>
