<template>
  <div class="main_content">
    <div class="deposit_tab_menu">
      <div id="setting_bank_bt_0" data="third" class="deposit_tab_menu_bt" :class="{ bt_select: promo_active == 1}" @click="searchGame(1)">救援金</div>
      <div id="setting_bank_bt_1" data="third" class="deposit_tab_menu_bt" :class="{ bt_select: promo_active == 'slot'}" @click="searchGame(2)">百家乐</div>
      <div id="setting_bank_bt_2" data="third" class="deposit_tab_menu_bt" :class="{ bt_select: promo_active == 'desk'}" @click="searchGame(3)">通关打老虎</div>
      <div id="setting_bank_bt_3" data="third" class="deposit_tab_menu_bt" :class="{ bt_select: promo_active == 'ggl'}" @click="searchGame(4)">千倍百倍</div>
    </div>
    <!--  头部结束 -->
    <!--  活动 -->
    <div class="egame_dev">
      
      <div class="allzf zf1" v-show="promo_active == 1 ">
        <div class="rescue-content">
          <p class="title"></p>
          <ul class="rescue-list">
            <li class="rule-one">
              <span>1</span> 玩家账户总额度低于3元</li>
            <li class="rule-two">
              <span>2</span> 净负盈利大于等于100元</li>
            <li class="rule-three">
              <span>3</span> 每日救援金无上限</li>
            <li class="rule-four">
              <span>4</span> 活动仅限电子老虎机有效游戏</li>
            <li class="rule-fifth">
              <span>5</span> 救援奖金在48小时内可以无限次领取,过期则作废</li>
            <li class="rule-six">
              <span>6</span> 申请首存奖金的存款额则不计算在救援奖金内</li>
          </ul>
        </div>
        <div class="bonus-content">
          <p class="title">可领取救援金</p>
          <div class="bonus-wrapper">
            <p>当前领取比例
              <span class="bonus-number ng-binding">0</span>%</p>
            <p class="amount ng-binding">0</p>
          </div>
          <button class="bonus-btn" ng-disabled="!can_apply_rescue||rescue_loading" ng-click="applyRescuePromotion()" disabled="disabled">
            <img src="/static/images/account/promo/bonus.png">领取奖金</button>
        </div>
        <div class="bonus-content-wrapper">
          <p>活动规则</p>
          <ul>
            <!--更改红框文案：
			1.本活动仅限电子老虎机有效游戏，救援金计算方式： （会员PT/MG/DT/TTG平台负盈利 - 红利）*会员对应比例
			并将第四条规则（有效期60天）删除-->
            <li>1.本活动仅限电子老虎机有效游戏，救援金计算方式： （会员PT/MG/DT/TTG平台负盈利 - 红利）*会员对应比例。
            </li>
            <li>2.第二次申请救援时，净负盈利为上次领取救援金之后新产生的输值，并非当日累计输值，以此类推。</li>
            <li>3.每日救援金无上限，账户总余额低于3元且净负盈利大于等于100元方可申请救援，否则无法提交申请。</li>
            <!-- <li>4.电子救援金有效时间为60天（从派发当天开始计算），如规定时间内未使用，系统将自动扣除已派发的救援金。</li>-->
            <li>4.铂金国际
              <a class="save_money" ng-click="global.modal_on='tiger-games'">一般规则与条款</a>适用该活动。</li>
            <li>5.铂金国际保留对本活动的最终解释权。</li>
            <!-- ngIf: !account.authorized || account.vip_level <= 2 --><li ng-if="!account.authorized || account.vip_level <= 2" class="ng-scope">
            6.有任何疑问请随时咨询
            <a  target="_blank" class="askForQuestion">在线客服</a>。</li><!-- end ngIf: !account.authorized || account.vip_level <= 2 -->
        
            <!-- ngIf: account.authorized && account.vip_level > 2 -->
      
          </ul>
        </div>
        <div class="self-model show hide" ng-class="{'show':global.modal_on=='tiger-games'}">
          <div class="title">
            <span class="close-sys" ng-click="global.modal_on=false">
                <span class="close_img"></span>
            </span>
          </div>
          <div class="model-content">
            <div class="model-content-wrapper">
              <div>
                <span class="content-title">老虎机优惠规则与条款</span>
              </div>
        
              <div class="content-text">
                <span class="content-text-one-rules">1. 禁止同款游戏开启多窗口游戏，如有违规，铂金国际将依照违规游戏处理，将扣除相应红利及盈利金额，并重新计算流水,情节严重者还将没收本金处理；</span>
                <br>
                    <span class="content-text-one-two">2. 老虎机有效游戏及老虎机有效投注不包括：累积奖池游戏，真人现场游戏，电子扑克和桌面游戏，街机、基诺、刮刮乐、赛事类游戏，多旋转老虎机和老虎机奖金翻倍投注，以及指定的PT游戏《古怪的猴子》、《海王星》、《三个朋友》、《黄金之旅》、《高速公路之王》、《中国厨房》
                        、《年年有余》、《翡翠公主》、《深海大赢家》、BS游戏《糖果之星》、《糖果之星2》。
                    </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="allzf zf1 live-bonus" v-show="promo_active == 2">
        <div class="bonus-contanier">
          <div class="bonus-contanier" style="width: 600px;margin: 0 auto;">
            <h4 style="font-size: 18px;text-align: center;">连输连赢</h4>
            <table>
              <thead>
              <tr>
                <th>输赢类型</th>
                <th>连续局数</th>
                <th>连输/连赢总额</th>
                <th>可领奖金</th>
                <th>流水倍数</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody ng-show="lsly_items &amp;&amp; lsly_items.length > 0" class="ng-hide">
              <!-- ngRepeat: item in lsly_items -->
              </tbody>
              <tbody ng-show="lsly_items &amp;&amp; lsly_items.length == 0" class="">
              <tr>
                <td colspan="6">暂无奖金可领</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="bonus-content-wrapper" style="clear:both;padding-top:30px">
          <p style="font-size: 18px;border-bottom: 2px solid blue;display: inline-block;margin-bottom: 5px;">活动规则</p>
          <ul>
            <li>1.此优惠的奖金将以连输/连赢期间的首赢或首输局号作为结算起点；</li>
            <li>2.有和局情况不会中断连赢/连输，会继续累计；</li>
            <li>3.连赢/连输情况需在同一游戏大厅内进行累计；</li>
            <li>4.此优惠所获奖金需要在任意平台完成8倍流水即可提款；</li>
            <li>5.奖金需在达到条件后的当日内（北京时间0:00:01-23:59:59）内进行申请，逾期视为自动放弃；</li>
            <li>6.此优惠可以与其他优惠共享；</li>
            <li>7.铂金国际
              <span class="save_money" ng-click="global.modal_on='true-man'">一般规则与条款</span>适用该活动；</li>
            <li>8.铂金国际保留对本活动的最终解释权；</li>
            <!-- ngIf: !account.authorized || account.vip_level <= 2 --><li ng-if="!account.authorized || account.vip_level <= 2" class="ng-scope">9.有任何疑问请随时咨询
            <a href="https://v66.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=80000146&amp;configID=42" target="_blank" class="askForQuestion">在线客服</a>。</li><!-- end ngIf: !account.authorized || account.vip_level <= 2 -->
        
            <!-- ngIf: account.authorized && account.vip_level > 2 -->
          </ul>
        </div>
      </div>
  
      <div class="allzf zf1 slot-bonus" v-show="promo_active== 3">
        <div class="bonus-contanier" style="width: 600px;margin: 0 auto;">
          <h4 style="font-size: 18px;text-align: center;">通关打老虎</h4>
          <table>
            <thead>
            <tr>
              <th>关卡</th>
              <th>周投注额</th>
              <th>奖金</th>
              <th>流水倍数</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td style="border-top: none;">第一关</td>
              <td style="border-top: none;">3,000</td>
              <td style="border-top: none;">8</td>
              <td style="border-top: none;" rowspan="7">5倍</td>
            </tr>
            <tr>
              <td>第二关</td>
              <td>12,000</td>
              <td>18</td>
            </tr>
            <tr>
              <td>第三关</td>
              <td>30,000</td>
              <td>28</td>
            </tr>
            <tr>
              <td>第四关</td>
              <td>70,000</td>
              <td>58</td>
            </tr>
            <tr>
              <td>第五关</td>
              <td>150,000</td>
              <td>68</td>
            </tr>
            <tr>
              <td>第六关</td>
              <td>300,000</td>
              <td>88</td>
            </tr>
            <tr>
              <td>第七关</td>
              <td>500,000</td>
              <td>108</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="bonus-content" style="margin: 0 auto;width: 100%;">
          <p style="font-size: 18px;padding: 20px;text-align: center">本周当前流水:
            <span style="color: #fe560b;font-size: 26px;font-weight: bold;display:inline-block;margin-right: 10px" class="ng-binding">0</span>可领奖金:
            <span style="color: #fe560b;font-size: 26px;font-weight: bold;" class="ng-binding">0</span>
          </p>
          <p style="text-align: center;width: 95%;">
            <button class="bonus-btn" ng-disabled="slot_pass_applied" ng-click="applySlotPassPromotion()">
              <img src="resources/images/account/promo/bonus.png">一键领取奖金
            </button>
          </p>
        </div>
        <div class="bonus-content-wrapper" style="clear:both;padding-top:30px">
          <p style="font-size: 18px;border-bottom: 2px solid blue;display: inline-block;margin-bottom: 5px;">活动规则</p>
          <ul>
            <li>1.闯关有效投注流水计算周期为自然周（周一00:00:00-周日23:59:59）;</li>
            <li>2.奖金领取有效期仅限于自然周日23:59:59之前，如未按时领取，将视为主动放弃优惠奖金，不予派发；</li>
            <li>3.每达到一关，可领取对应奖励，过多关，奖金可累积领取，全部过关可领取全部奖金；</li>
            <li>4.奖金仅限投注PT/MG/DT老虎机游戏，完成5倍流水即可提款；</li>
            <li>5.铂金国际
              <a class="save_money" ng-click="global.modal_on='tiger-games'">一般规则与条款</a>适用该活动。</li>
            <li>6.铂金国际保留对本活动的最终解释权。</li>
            <!-- ngIf: !account.authorized || account.vip_level <= 2 --><li ng-if="!account.authorized || account.vip_level <= 2" class="ng-scope">7.有任何疑问请随时咨询
            <a href="https://v66.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=80000146&amp;configID=42" target="_blank" class="askForQuestion">在线客服</a>。</li><!-- end ngIf: !account.authorized || account.vip_level <= 2 -->
        
            <!-- ngIf: account.authorized && account.vip_level > 2 -->
          </ul>
        </div>
      </div>
  
      <div class="allzf zf1 slot-bonus" v-show="promo_active==4">
        <div class="bonus-contanier" style="">
          <h4 style="font-size: 18px;text-align: center;">千倍百倍</h4>
          <table>
            <thead>
            <tr>
              <th>单局下注要求</th>
              <th>当天存款要求</th>
              <th>单局盈利倍数</th>
              <th>奖励金额</th>
              <th>投注要求</th>
              <th>申请次数</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td style="border-top: none;" rowspan="5">不低于1元</td>
              <td style="border-top: none;" rowspan="5">≥200元</td>
              <td style="border-top: none;">≥50倍</td>
              <td style="border-top: none;">88元</td>
              <td style="border-top: none;" rowspan="5">
                10倍
              </td>
              <td style="border-top: none;" rowspan="5">
                每档可申请1次
                <br>每日可申请4次
              </td>
            </tr>
            <tr>
              <td>≥250倍</td>
              <td>288元</td>
            </tr>
            <tr>
              <td>≥500倍</td>
              <td>388元</td>
            </tr>
            <tr>
              <td>≥1000倍</td>
              <td>588元</td>
            </tr>
            <tr>
              <td>≥5000倍</td>
              <td>1888元</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="bonus-btn-wrapper">
          <button class="bonus-btn" style="margin-top: 30px" ng-disabled="!can_apply_qianbeibaibei" ng-click="applyQianbeibaibeiPromotion()" disabled="disabled">
            <img src="resources/images/account/promo/bonus.png">领取奖金
          </button>
        </div>
        <div class="bonus-content-wrapper" style="clear:both;padding-top:30px">
          <p style="font-size: 18px;border-bottom: 2px solid blue;display: inline-block;margin-bottom: 5px;">活动规则</p>
          <ul>
            <li>1.此优惠仅适用于PT/MG/DT平台老虎机游戏，单局下注金额不低于1元,且单日总存款金额达到200元即可领取对应奖金;</li>
            <li>2.优惠在赢得相应倍数后,即可登录『个人中心』自助领取,每人每天限领取4次,每档各一次;</li>
            <li>3.会员需在得奖当日内(00:00:00-24:00:00)领取奖金,投注要求为奖金额度的10倍流水,逾期将视为自动放弃优惠;</li>
            <li>4.所有免费游戏中产生的盈利不计算本优惠。
              <br> 例：玩家单局下注3元，获得10次免费游戏，在免费游戏中赢得300元，此种情况不在优惠范围内；
            </li>
            <li>5.铂金国际
              <a class="save_money" ng-click="global.modal_on='tiger-games'">一般规则与条款</a>适用该活动。</li>
            <li>6.铂金国际保留对本活动的最终解释权。</li>
            <!-- ngIf: !account.authorized || account.vip_level <= 2 --><li ng-if="!account.authorized || account.vip_level <= 2" class="ng-scope">7.有任何疑问请随时咨询
            <a href="https://v66.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=80000146&amp;configID=42" target="_blank" class="askForQuestion">在线客服</a>。</li><!-- end ngIf: !account.authorized || account.vip_level <= 2 -->
        
            <!-- ngIf: account.authorized && account.vip_level > 2 -->
      
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'rescue',
  data () {
    return {
      promo_active: 1,
      msg: 'Welcome to Your Vue.js App'
    }
  },
  computed: {
      onLineChat() {
          return this.$store.state.home.onLineChat
        },
    },
  methods: {
  searchGame(index){
    this.promo_active = index
},
  }
}
</script>
