import * as types from "../../store/memberCenter/type";

<template>
    <div class="main_content">
        <div class="deposit_from">
            <div>
                <div class="money_table_title">
                    <div class="title_bgblue"></div>
                    钱包余额:
                </div>
                <div class="money_ul">
                    <ul>
                        <li>
                            <span>中心钱包</span>
                            <br>
                            <span class="tb_money">{{ balance | moneyFilter}}</span>
                        </li>
                        <li v-for="(item, index) in walletList" :key="index">
                            <span>{{ item.wallet.toUpperCase() }}</span>
                            <br>
                            <span class="tb_money">{{ item.balance | moneyFilter }}</span>
                        </li>
                        <li @click="f5Money()" class="f5Money">
                            <span>刷新钱包</span>
                            <br>
                            <span class="tb_money">
                <img src="/static/images/center/f5.png">
              </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cashier_from_title">转账金额(元):</div>
            <div class="input_iosbox">
                <div class="input_iosbox_title">金额</div>
                <input type="number" id="transferMoney" v-model="changeMoney" placeholder="请输入转账金额" class="input_ios">
            </div>
            <div class="cashier_from_title">转出钱包:</div>
            <div class="search_select_row">
                <select id="source-transfer" name="source-transfer" v-model="outAccount" @change="clickTransfer('out')">
                    <option value="main">中心钱包</option>
                    <option :value="item.wallet" v-for="(item, index) in walletList" :key="index">{{ item.wallet.toUpperCase() }}
                    </option>
                </select>
                <img class="search_select_jiantou" src="/static/images/secbet_mobile_rg.png">
            </div>
            <div class="cashier_from_title">转入钱包:</div>
            <div class="search_select_row">
                <select id="desc-transfer" name="desc-transfer" v-model="inAccount" @change="clickTransfer('in')">
                    <option value="">请选择</option>
                    <option value="main">中心钱包</option>
                    <option :value="item.wallet" v-for="(item, index) in walletList" :key="index">{{ item.wallet.toUpperCase() }}
                    </option>
                </select>
                <img class="search_select_jiantou" src="/static/images/secbet_mobile_rg.png">
            </div>
            <div id="transfer_submit" class="submit_blue_bt" v-if="!loading" @click="subChange()">
                转账
            </div>
            <div id="transfer_submit" class="submit_blue_bt ing" v-if="loading">转账中</div>
            <div class="addDiv"></div>
        </div>
    </div>
</template>
<script>
	import * as utils from '@/utils'
	import * as types from '@/store/memberCenter/type'

	export default {
		name: 'transfer',
		components: {},
		data() {
			return {
				downTime: 0,
				wallet: false,
				loading: false,
				outAccount: 'main', // 转出账户
				inAccount: '', // 转入账户
				changeMoney: '', // 转出金额
				transferType: '' // 点击 转出 转入
			}
		},
		computed: {
			totalMoney() {
				return this.$store.state.memberCenter.totalMoney
			},
			balance() {
				return this.$store.state.home.userData.balance
			},
			walletList() {
				return this.$store.state.memberCenter.walletList
			},

		},
		mounted() {
			let {Authority} = utils
			let result      = Authority(this, true)
			if (result) this.loadData()

		},
		methods: {
			f5Wallet(platID,balance){
			//	debugger
				window._.each(this.$store.state.memberCenter.walletList,(val,key)=>{
						if(val.wallet == platID){
							val.balance = balance
						}
				})
			},
			f5Money() {
				// 先中心 再 钱包 分别 刷新
				var $this = this;
			
				if(window.$('.f5Money img').hasClass('loding')){
					return ''
				}
				console.log('f5Money 先中心 再 钱包 分别 刷新')
				window.Loading.open('keep')
				// 先中心
				this.loadMaster()
				this.otherF5()

			},
			f5One(platID,callback){
				let userinfo = {}
				var $this = this
				try {
					userinfo = JSON.parse(localStorage['userinfo'])
				} catch (e) {
				}
				// 单个平台余额刷新
					window.AjaxPromise({
						Action: '/api/game_action/' + platID + '.php',
						Requirement: {
							action: 'refresh_balance',
							'user_id': userinfo.id,
							'session_id': localStorage['session_id']
						}
					}).then(function (res) {
						callback?callback():'';
						if(res.no === 0){
							// updata money 
							$this.f5Wallet(platID,res.balance)
						}
					})
			},
            f5Sub(){
			    // 控制 load 限制效果
			    this.loadMaster(function(){

			    })
            },
			loadMaster(callback) {
				let $this = this
                let {delay} = utils
				let userinfo = {}
				try {
					userinfo = JSON.parse(localStorage['userinfo'])
				} catch (e) {
				}
				window.$('.f5Money img').addClass('loding')
				this.$store.dispatch(types.PLATFORM_ATION, {'user_id': userinfo.id, wallet: 'master'}).then(res => {
					if (res.data && res.data[0]) {
						$this.$store.state.home.userData.balance = res.data[0].balance
					}
					callback?callback():'';
				})
			},
			otherF5() {
				let userinfo = {}
				var $this = this;
				var platPie = [];
				var len = this.$store.state.memberCenter.walletList.length;
				try {
					userinfo = JSON.parse(localStorage['userinfo'])
				} catch (e) {}
				window._.each(this.$store.state.memberCenter.walletList, function (val) {
					window.AjaxPromise({
						Action: '/api/game_action/' + val.wallet + '.php',
						Requirement: {
							action: 'refresh_balance',
							'user_id': userinfo.id,
							'session_id': localStorage['session_id']
						}
					}).then(function (res) {
							platPie.push(true);platPieCheck()
					})
				});
				function platPieCheck(){
					console.log('platPieCheck', platPie.length,len )
					if(platPie.length>=len){
						return $this.loadInit()
					}
				}
			},
			loadData() {

				let $this = this

				let userinfo = {}
				try {
					userinfo = JSON.parse(localStorage['userinfo'])
				} catch (e) {
				}
				$this.$store.dispatch(types.PLATFORM_ATION, {'user_id': userinfo.id, wallet: ''}).then(res => {
					window.$('.f5Money img').removeClass('loding')
				})

			},
			loadInit(){ // reset status
			  var $this = this;
			  let {delay} = utils
			  delay(() => {
		             window.$('.f5Money img').removeClass('loding')
		             $this.loading = false;
		             window.Loading.close();
		             window.Loading.close('keep')
		           //  debugger
		      }, 10)
				
			},
			clickTransfer(type) {
				// 'out'  'in'
				// let $this = this
				// setTimeout(() => {
				// 	this.transferType = type
				// 	if (this.inAccount == this.outAccount) {
				// 		window.layer.msgWarn('同平台金额无法进行转账')
				// 		if (type == 'out') {
				// 			this.outAccount = ''
				// 		}
				// 		if (type == 'in') {
				// 			this.inAccount = ''
				// 		}
				// 	}
				// }, 0)

			},
			walletOpen(type) {
				this.wallet = true
			},
			walletClose() {
				this.wallet = false
			},
			clearWallet() {
				let $this = this
				window._.each($this.$store.state.memberCenter.walletList, (val, key) => {
					$this.$set($this.$store.state.memberCenter.walletList[key], 'out', '')
					$this.$set($this.$store.state.memberCenter.walletList[key], 'in', '')
				})
				$this.$set($this, 'outAccount', '')
				$this.$set($this, 'inAccount', '')
			},
   
			subChange() {
				/**  提交转点 ,后刷新 平台 金额
                 *
				 */
				if(window.$('.f5Money img').hasClass('loding')){
					return ''
				}
				let $this = this

				if (!/^\d+$/.test($this.changeMoney) && !$this.changeMoney) {
					window.layer.msgWarn('请输入金额')
					return
				}

				if(this.outAccount == this.inAccount) {
					window.layer.msgWarn('同一个平台无法互转金额')
					return
				}

				let moneyObj = {
					main: $this.$store.state.home.userData.balance
				}
				// 修改 钱包 为 {} 对象 方便取值
				window._.each($this.$store.state.memberCenter.walletList, (val, key) => {
					moneyObj[$this.$store.state.memberCenter.walletList[key].wallet] = $this.$store.state.memberCenter.walletList[key].balance
				})

				if (parseFloat($this.changeMoney) > parseFloat(moneyObj[$this.outAccount])) { // 现金平台转出
					var wallet_name = '中心钱包';
					if($this.outAccount != 'main') {
						wallet_name = $this.outAccount;
					}
					window.layer.msgWarn(wallet_name.toUpperCase() + '余额不足!', Number(moneyObj[$this.outAccount]).toFixed(2))
					return
				}
				// window.layer.msgWarn(this.fromAccount.name + '余额不足!')
				let userinfo = JSON.parse(localStorage['userinfo'])
				// changeMoney
				// 761city game_action/761city.php?user_id=1&action=sf&money=100.00&session_id=df552b0ed8f46962bbb6322974bd6072
				/**
				 *  1. main --> 其他平台
				 *  2. 非 main 互转
				 *  3. 其他 ---> main
				 */
				if ($this.outAccount == 'main') { // 1. main --> 其他平台
					$this.loading = true
					// add loading
					window.Loading.open()
					var appUrl = $this.inAccount
					window.AjaxPromise({
						Action: `/api/game_action/${appUrl}.php`,
						Requirement: {
							'user_id': userinfo.id,
							'action': 'sf', // fix
							'money': $this.changeMoney
						}
					}).then(function (res) {
						if(res.no==0) {
							window.layer.msgWarn("转账成功");
						} else {
							window.layer.msgWarn("转账失败");
						}
						$this.loadMaster()
						$this.f5One(appUrl,()=>{
								$this.loadInit();
						});
						
					})
				}
				// 3. 其他 ---> main
				if ($this.inAccount == 'main') {
					console.info('3. 其他 ---> main')
					$this.loading = true
					// add loading
					window.Loading.open()
					var appUrl = $this.outAccount
					window.AjaxPromise({
						Action: `/api/game_action/${appUrl}.php`,
						Requirement: {
							'user_id': userinfo.id,
							'action': 'xf', // fix
							'money': $this.changeMoney
						}
					}).then(function (res) {
						if(res.no==0) {
							window.layer.msgWarn("转账成功");
						} else {
							window.layer.msgWarn("转账失败");
						}
						$this.loadMaster()
						$this.f5One(appUrl,()=>{
								$this.loadInit();
						});
					})
				}

				// 2. 非 main 互转
				if ($this.outAccount != 'main' && $this.inAccount != 'main') {
					$this.loading = true
					// add loading
					window.Loading.open()
					window.AjaxPromise({
						Action: '/api/money_transfer.php',
						Requirement: {
							'user_id': userinfo.id,
							'from': $this.outAccount, // fix
							'to': $this.inAccount,
							'money': $this.changeMoney
						}
					}).then(function (res) {
						if(res.no==0) {
							window.layer.msgWarn("转账成功");
						} else {
							window.layer.msgWarn("转账失败");
						}
						console.log(res);
						$this.f5One($this.outAccount,()=>{
							$this.f5One($this.inAccount,()=>{
								$this.loadInit();
							});
						});
					})
				}
			}
		}

	}

</script>
