<template>
  <div class="main_content">
    <div class="deposit_from">
      <div>
        <div class="money_table_title">
          <div class="title_bgblue"></div>
          钱包余额:
        </div>
        <div class="money_ul">
          <ul>
            <li>
              <span>中心钱包</span>
              <br>
              <span class="tb_money">{{ balance | moneyFilter}}</span>
            </li>
            <li v-for="(item, index) in walletList" :key="index">
              <span>{{ item.wallet.toUpperCase() }}</span>
              <br>
              <span class="tb_money">{{ item.balance | moneyFilter }}</span>
            </li>
            <li @click="f5Money()" class="f5Money">
              <span>刷新钱包</span>
              <br>
              <span class="tb_money">
                <img src="/static/images/center/f5.png">
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="cashier_from_title">提款金额(元)</div>
      <div class="input_iosbox">
        <div class="input_iosbox_title">金额</div>
        <input id="withdrawalMoney" placeholder="请输入提款金额" v-model="drawMoney" type="tel" @input="drawMoneyFn" class="input_ios">
      </div>
      <div id="bankTitle" class="cashier_from_title">选择银行</div>
      <div id="bankSelectRow" class="search_select_row">
        <select name="bank" id="bank" v-model="bankInfo">
          <option value="e">请选择</option>
          <option :value="index" v-for="(item, index) in userBank" :key="index">{{ item.bank_cname}} {{ item.card_no}}</option>
        </select>
        <img class="search_select_jiantou" src="/static/images/secbet_mobile_rg.png">
      </div>
      <div style="margin-top: 60px;" id="withdrawal_submit" class="submit_blue_bt" @click="subFn()">提款</div>
    </div>
  </div>
</template>
<script>
import * as utils from '@/utils'
import * as _types from '@/store/memberCenter/type'


export default {
  name: 'withdrawal',
  components: {},
  data() {
    return {
      drawMoney: 100,
      bankInfo: 'e'
    }
  },
  computed: {
    userBank() {
      return this.$store.state.memberCenter.userBank
    },
    totalMoney() {
      return this.$store.state.memberCenter.totalMoney
    },
    balance() {
      return this.$store.state.home.userData.balance
    },
    walletList() {
      return this.$store.state.memberCenter.walletList
    },

  },
  mounted() {
    let { Authority } = utils
    let result = Authority(this, true)
    if (result) this.getBank()
    let $this = this
    // this.getBank()
 // debugger
    if (!this.$store.state.memberCenter.walletList.length) {
     $this.loadData()
    }
  },
  methods: {
  loadData() {
  
  let $this = this
  
  let userinfo = {}
  try {
  userinfo = JSON.parse(localStorage['userinfo'])
} catch (e) {
}
  $this.$store.dispatch(_types.PLATFORM_ATION, {'user_id': userinfo.id, wallet: ''}).then(res => {
  window.$('.f5Money img').removeClass('loding')
})

},
    f5Money(){
      let userinfo = {}
      try {
        userinfo = JSON.parse(localStorage['userinfo'])
      } catch (e) {}
      window.$('.f5Money img').addClass('loding')
      window.Loading.open()
  this.loadMaster();
  this.otherF5()
  
      setTimeout(()=>{
        this.$store.dispatch(_types.PLATFORM_ATION, { 'user_id': userinfo.id, wallet: '' }).then(res => {
          window.$('.f5Money img').removeClass('loding')
        })
      },2000)
    },
  loadMaster(){
  let $this = this
  
  let userinfo = {}
  try {
  userinfo = JSON.parse(localStorage['userinfo'])
} catch (e) {
}
  $this.$store.state.home.userData.balance = '--'
  this.$store.dispatch(_types.PLATFORM_ATION, {'user_id': userinfo.id, wallet: 'master'}).then(res => {
  // window.$('.f5Money img').removeClass('loding')
  //   debugger
  if(res.data && res.data[0]){
  $this.$store.state.home.userData.balance = res.data[0].balance
}
})
},
  otherF5(){
  let userinfo = {}
  try {
  userinfo = JSON.parse(localStorage['userinfo'])
} catch (e) {
}
  // debugger
  window._.each(this.$store.state.memberCenter.walletList,function(val){
  
  var aaa = val.wallet
  // debugger
  //action=refresh_balance&user_id=1&session_id=df552b0ed8f46962bbb6322974bd6072
  // 761city.php?action=refresh_balance&user_id=1&session_id=df552b0ed8f46962bbb6322974bd6072
  window.AjaxPromise({
  Action: '/api/game_action/'+ val.wallet +'.php',
  Requirement: {
  action: 'refresh_balance',
  'user_id': userinfo.id,
  'session_id': localStorage['session_id']
}
}).then(function (res) { })


})
},
    drawMoneyFn() {
      this.drawMoney = this.drawMoney.replace(/[^0-9]+/g, '')
      if (this.drawMoney < 0) {
        this.drawMoney = 0
      }
    },
  otherF5(){
  let userinfo = {}
  try {
  userinfo = JSON.parse(localStorage['userinfo'])
} catch (e) {
}
  // debugger
  window._.each(this.$store.state.memberCenter.walletList,function(val){
  
  var aaa = val.wallet
  // debugger
  //action=refresh_balance&user_id=1&session_id=df552b0ed8f46962bbb6322974bd6072
  // 761city.php?action=refresh_balance&user_id=1&session_id=df552b0ed8f46962bbb6322974bd6072
  window.AjaxPromise({
  Action: '/api/game_action/'+ val.wallet +'.php',
  Requirement: {
  action: 'refresh_balance',
  'user_id': userinfo.id,
  'session_id': localStorage['session_id']
}
}).then(function (res) { })


})
},
    subFn() {
      // 提款 函数
      if (this.drawMoney == "" || isNaN(this.drawMoney) || parseInt(this.drawMoney) < 100) {
        window.layer.msgWarn("提款每次最低100,请输入正确的金额");
        return false;
      }
      if (this.bankInfo >= 0) {

      } else {
        window.layer.msgWarn("请选择银行卡");
        return false;
      }
      // 判断 提款 > 中心钱包的钱

      if(this.drawMoney*1 > this.$store.state.home.userData.balance*1 ){
        window.layer.msgWarn("提款申请提交失败:账户余额不足");
        return ''
      }
      let options = { user_id: JSON.parse(localStorage['userinfo']).id }

      options.amount = this.drawMoney
      options.bank_cardid = this.$store.state.memberCenter.userBank[this.bankInfo].id
      // 提款 方法不对劲
//      window.Loading.open()
      /**
       *
       amount: 100
       bank_cardid: 1 // 这里是什么id 哦
       session_id: 3020bbb46fe10796611d24cfc554611e
       user_id: 1

       user_id: 1
       amount: 600
       bank_cardno: 622*********420
       session_id: aaeef7054f4738350f86c97cde78b829
       */

      this.$store.dispatch('withdraw.action', options).then((res) => {
        this.f5Money();
      })
    },
    getBank() {
      this.$store.dispatch(_types.USER_BANK_ATION, { user_id: JSON.parse(localStorage['userinfo']).id }).then((res) => {
        console.info(res);

      })
    }
  },
}

</script>
